#Pdetail{
	margin:0px auto;
}
#Pdetail .m-wrap {
  margin: -6px 0;
  overflow: hidden;
}
.clearfix {
  display: block;
}
.li_1 {
  line-height:42px;
  border-bottom:solid 1px #999;
  
}
.m-wrap li {
  line-height: 38px;
  font-size:16px;
  width:70%;
  text-align:center;
  margin-left:90px;
} 
.pt_title {
  float: left;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  font-weight: normal;
  text-align: right;
  color: #808080;

}
.pt_detail {
  display: block;
  word-break: break-all;
  margin-left:60px;
  padding-left:90px;
}
#pageGro .pageUp{
    text-indent:23px;
    /*border:1px solid #999;*/
    cursor:pointer;
}
#pageGro span ul li.on{
    color:#fff;
    background:#3c90d9;
    border:1px solid #3c90d9;
}
#pageGro span ul li{
    width:22px;
    text-align:center;
    border:1px solid #999;
    cursor:pointer;
    margin-left:20px;
}
#pageGro .pageDown{
    text-indent:5px;
    width:63px;
    /*border:1px solid #999;*/
    cursor:poointer;
}

#pageGro span ul li{
    float:left;
}
