#basicwrapper{
    height:900px;
}
#basicwrapper h1, #basicwrapper h2, #basicwrapper h3 {
	margin: 0;
	padding: 5px;
	font-family: "Microsoft Yahei", "Times New Roman", Times, serif;
	font-weight: normal;
	/* color: #534616; */
}
#basicwrapper h1 {
	font-size: 2em;
}

#basicwrapper h2 {
	font-size: 1.8em;
}

#basicwrapper h3 {
	font-size: 1.6em;
}
#basicwrapper p, #basicwrapper ul, #basicwrapper ol {
	margin-top: 0;
	/* line-height: 180%; */
}
/*
a {
	text-decoration: none;
	color: #534616;
}


#basicwrapper {
	width: 960px;
	margin: 0 auto;
	padding: 0;
}
*/
/* topbar */
#frametopbar{
    height: 230px;
}
    
/* Content */

#framecontent {
	float: right;
	width: 670px;
	/*padding: 0;*/
}

.overall_evaluation {
   /* height:650px;*/
	margin-bottom: 25px;
	padding: 0px;
	background: #FFFFFF;
	border: 1px solid #77ACF4;
    width:730px;
    margin-left:22px;
}
.overall_evaluation .title {
	height: 38px;
	margin-bottom: 10px;
	/*padding: 12px 0 0 20px;*/
	background: #77ACF4;
	border: 1px solid #77ACF4;
	letter-spacing: -.5px;
	color: #FFFFFF;
}
/*
.post .title a {
	color: #48390E;
	border: none;
}
*/

.framepost {
    height:560px;
	margin-bottom: 25px;
	padding: 0px;
	background: #FFFFFF;
	border: 1px solid #77ACF4;
}
.framepost .title {
	height: 38px;
	margin-bottom: 10px;
	padding: 12px 0 0 20px;
	background: #77ACF4;
	border: 1px solid #77ACF4;
	letter-spacing: -.5px;
	color: #FFFFFF;
}
.framepost .meta {
	padding-bottom: 5px;
	padding-left: 20px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}
.framepost .entry {
	padding: 10px 20px 20px 20px;
	padding-bottom: 20px;
	text-align: justify;
}
/* Sidebar */

#framesidebar {
	float: left;
	width: 240px;
	padding: 0px;
	color: #787878;
}

#framesidebar ul {
	padding: 0;
	list-style: none;
}

#framesidebar li {
	margin: 0;
	padding: 0;
}

#framesidebar li ul {
	margin-bottom: 30px;
	padding: 0px 20px 20px 20px;
	background: #F4F7F7;
	border-left: 1px solid #77ACF4;
	border-right: 1px solid #77ACF4;
	border-bottom: 1px solid #77ACF4;
}

#framesidebar li li {
	line-height: 35px;
	border-bottom: 1px dashed #D1D1D1;
	padding-left: 3px;
}

#framesidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#framesidebar h3 {
	height: 38px;
	padding: 12px 0 0 20px;
	background: #77ACF4;
	border: 1px solid #77ACF4;
	letter-spacing: -.5px;
	/*color: #77ACF4;*/
}

#framesidebar p {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
	text-align: justify;
}

#framesidebar a {
	border: none;
}

#framesidebar a:hover {
	text-decoration: underline;
}
.basicinfo {
    width:245px;
    float:left;
    border:1px solid #77ACF4;
    background:#fff;
}
.basicinfo ul li{
    font-size:13px;
    line-height:30px;
    margin-left:20px;
}
.preinfo ul li{
    float:left;
    margin-left:40px;
    font-size:13px;
    line-height:30px;
}
.locationinfo ul li{
    font-size:13px;
    line-height:37px;
    margin-left:10px;
}
.attentioninfo ul li{
    font-size:13px;
    line-height:30px;
    margin-left:10px;
}
h4{
    margin:0;
    padding:0;
    line-height:40px;
}
.tweetinfo ul li{
    float:left;
    margin-left:20px;
}
.gray{
    color:gray;
}
