/* CSS Document */
.soft_con2 .hotwords div{margin:0px;}
#TabContainer{
margin: 30px;
width:650px;
}
ul {
list-style:none;
}
li {
list-style:none;
}
#TabContainer a{
display: block;
     }
#TabContainer a.on{
	opacity: 0.75;
	color:#fff;
}
.fleft{
float:left;
}
.Lsubtitle ul{
margin:0px;
padding:0px;
}
.tabTitle li a{
	margin-right:5px;
	margin-left:5px;
	text-align:center;
	font-size:18px;
	line-height:42px;
	text-decoration:none;	
	color:black;
}
.tabTitle li a:hover{
	text-decoration:none;
	}
.tabTitle {
	border: 1px solid #666666;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color:#F9AE98;
}
div.Lsubtitle{
margin:0px;
}
.range {
	width:100px;
	font-size: 16px;
	
	margin-top:0px;margin-bottom:0px;margin-left:auto;margin-right:auto;overflow: hidden;text-align:center;
}
.Lkeywords {
	font-size: 16px;
	width:180px;
	height:42px;
	margin-top:0px;margin-bottom:0px;margin-left:auto;margin-right:auto;overflow: hidden;text-align:center;
}
.Litem li{
	width:300px;
	height:42px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
}
div .TextLength{
margin-right:30px;
}
left180{
margin-left:180px;
}
