/* CSS Document */
@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;font-family:"微软雅黑";}
/* div{overflow:hidden;}*/
ia{cursor:pointer;text-decoration:none;outline:none;hidefocus}
img{border:0;}
a#basic_info:hover{cursor:hand;}
/* soft_function */
.soft_function{width:1000px;height:636px;margin:0 auto}
.soft_con_icon{width:1000px;height:190px;display:block;padding-top:10px}
.soft_con_icon ul li{float:left;display:block;list-style:none;height:180px;width:150px; margin:0 25px;}
.soft_con_icon ul li a p{color:#333333;font-size:20px;font-family:"微软雅黑";text-align:center}
.soft_con{height:296px;width:1000px}
.soft_con1{height:20px;width:1000px;background:url(images/line_select_001.gif)}
.soft_con2{height:auto;width:998px;border-left:1px solid #d4d4d4;border-right:1px solid #d4d4d4;background:#fcfcfc}
.soft_con2 div{float:left;margin:8px 0px;}
.function1{height:259px;width:249px;border-right:1px dashed #d4d4d4}
.function2{height:259px;width:248px;}
.soft_con2 div img{margin:20px 50px 0px 49px}
.soft_con2 div p{text-align:center}
.p1{font-size:20px;color:#555555;font-family:"微软雅黑";line-height:45px}
.p2{font-size:14px;color:#c0c0c0;font-family:"微软雅黑";width:208px;height:50px;line-height:24px;margin:auto;overflow: hidden;}
.soft_con_icon ul li a img{width:90px;height:90px;margin-left:30px;margin-top:40px;}
.soft_con_icon ul li a p{margin-top:10px;}

.PortraitImg{margin-top:0px;margin-bottom:0px;margin-left:auto;margin-right:auto;width:50px;height:50px;overflow: hidden;}
.nickname{margin-top:0px;margin-bottom:0px;margin-left:auto;margin-right:auto;height:30px;overflow: hidden;font-size:22px;text-align:center;}
.power{margin-top:0px;margin-bottom:0px;margin-left:auto;margin-right:auto;height:30px;overflow: hidden;font-size:16px;text-align:center;}
.PersonPre{margin-top:10px;margin-bottom:0px;margin-left:auto;margin-right:auto;overflow: hidden;font-size:16px;}
.lightw {color: #808080;}
.red{color:red;margin-right:5px;}
.tagbg{min-width:50px;}
#delIcon{background-image:url(/static/img/Delete16.png);width:16px;height:16px;cursor:pointer;display:inline-block;}
.tagClo:hover{border:#eee solid 1px;cursor:default; }
.tagClo{margin-left:20px;margin-bottom:10px;padding-top:8px;height:40px;}
#detail h3{font-size:20px;font-weight:bold;}


