<link href="/static/personal/css/language.css" rel="stylesheet" type="text/css" />
<link href="/static/personal/css/default.css" rel="stylesheet" type="text/css" />
<link href="/static/personal/css/component.css" rel="stylesheet" type="text/css" />
<script src="/static/js/modernizr.custom.js"></script>

<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading" style="border-bottom: 1px solid transparent;border-color: #dddddd;">
            <div class=" box_title"><span class="showmore" id="showmore_keyWords" style="float:right;cursor:pointer" type="button"data-toggle="modal" data-target="#more_keyWords" ><u>查看详情</u></span>关键词</div>
        </div>
        <div class="panel-body">
          <div id="Language" style="width:250px;height:300px;margin:30px 40px;margin:-10px 50px 0px 20px;">
          </div>
      </div>
  </div>
</div>

<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading" style="border-bottom: 1px solid transparent;border-color: #dddddd;">
            <div class="box_title"><span class="showmore " id="showmore_hashtagWords" style="float:right;cursor:pointer" type="button"data-toggle="modal" data-target="#more_hashtagWords" ><u>查看详情</u></span>事件标签</div>
        </div>
        <div class="panel-body">
          <div id="hashtag_words" style="width:250px;height:300px;margin:30px 40px;margin:-10px 50px 0px 20px;">
          </div>
      </div>
  </div>
</div>

<div class="col-lg-4" style="">
    <div class="panel panel-default">
        <div class="panel-heading" style="border-bottom: 1px solid transparent;border-color: #dddddd;">
            <div class="box_title"><span class="showmore " id="showmore_domain" style="float:right;cursor:pointer" type="button"data-toggle="modal" data-target="#more_sensitive" ><u>查看详情</u></span>敏感词</div>
        </div>
        <div class="panel-body">
          <div id="preference_domain"  style="width:250px;height:300px;margin:30px 40px;margin:-10px 50px 0px 20px;">
          </div>
      </div>
  </div>
</div>

<div class="col-lg-12" style="margin-top:15px;">
    <div class="panel panel-default">
        <div class="panel-heading" style="border-bottom: 1px solid transparent;border-color: #dddddd;">
            <div class="box_title">话题</div>
        </div>
        <div class="panel-body">
          <div id="preference_topic"  style="width:100%;height:250px;margin-left: -10px;">
          </div>
      </div>
  </div>
</div>
  
<div id="preference_conclusion" style="width:100%;"></div>

<!-- 模态框 -->
<div class="modal fade" id="more_keyWords" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 500px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="font-size:18px" id="myModalLabel">关键词排名</h4>
      </div>
      <div class="modal-body" id='key_WordList'>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="more_hashtagWords" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content"  style="width: 500px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="font-size:18px" id="myModalLabel">事件标签排名</h4>
      </div>
      <div class="modal-body" id='hashtag_WordList'>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="more_model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width:500px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="font-size:18px" id="myModalLabel">Topic-model</h4>
      </div>
      <div class="modal-body" id='model_WordList'>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="more_sensitive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 500px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="font-size:18px" id="myModalLabel">敏感词</h4>
      </div>
      <div class="modal-body" id='sensitive_WordList'>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
function Show_pref(url,div){
    that = this;
    this.ajax_method = 'GET';
    this.div = div;
}
Show_pref.prototype = {
  call_sync_ajax_request:function(url, method, callback){
    $.ajax({
      url: url,
      type: method,
      dataType: 'json',
      async: false,
      success:callback
    });
  },
  Draw_table:function(data){
   // console.log(data);
    var keywords_data = data['keywords'];
    var keywords_name = 'Language';
    var keywords_more = 'key_WordList';
    var hashtag_data = data['hashtag'];
    var hashtag_name = 'hashtag_words';
    var hashtag_more = 'hashtag_WordList';
    var sensitive_data = data['sentiment_word'];
    var domain_data = data['topic_model'];
	var sensitive_name = 'preference_domain';
	var sensitive_more = 'sensitive_WordList';

    Draw_keyword(keywords_data, keywords_name, keywords_more, 'showmore_keyWords');
    Draw_keyword(hashtag_data, hashtag_name, hashtag_more, 'showmore_hashtagWords');
    Draw_keyword(sensitive_data,sensitive_name, sensitive_more,'showmore_domain');
	var html = '';
    $('#preference_topic').empty();
	
    if(domain_data.length==0){
	    html += '<h4 style="text-align:center;height:300px;">暂无数据</h4>';
	}else {
	    html += '<table class="table table-striped table-bordered" style="width:100%;">';
	    html += '<tr><th style="text-align:center;width:30%">排名</th><th style="text-align:center;width:70%;">话题</th></tr>';
	    for (var i = 0; i < domain_data.length; i++) {
            var s = i.toString();
            var m = i + 1;
            html += '<tr style=""><th style="text-align:center">话题' + m + '</th><th style="text-align:center">' ;
			for(var j=0;j<10;j++){
			    html = html + domain_data[i][j] +'&nbsp&nbsp';
			}
			html += '</th></tr>';
       }
	}
    html += '</table>'; 
    $('#preference_topic').append(html);
	//DrawMore(domain_data,'model_WordList');
  }
}





function show_conclusion(data){
  var html = '';
  html += '<span class="fleft" style="margin-right:10px;width:32px;height:32px;background-image:url(/static/img/warning.png);margin-top:5px;display:black;"></span>';
  //html += '<h4>'+data[0]+'<span style="color:red;">'+data[1]+'</span>，'+data[2]+'<span style="color:red;">'+data[3]+'</span>。</h4>';
  html += data;
  $("#preference_conclusion").append(html);
}

function createRandomItemStyle() {
    return {
        normal: {
            color: 'rgb(' + [
                Math.round(Math.random() * 160),
                Math.round(Math.random() * 160),
                Math.round(Math.random() * 160)
            ].join(',') + ')'
        }
    };
}
function Draw_keyword(data, div_name, more_div, hide_more){
	var keyword = [];
	var html = '';
	$('#'+ more_div).empty();
	if(data.length == 0){
		html = '<h4 style="text-align:center;height:300px;">暂无数据</h4>';
		//$('#'+ more_div).append(html);
		$('#'+ div_name).append(html);
		$('#'+ hide_more).empty();
	}else{
		html = '';
		html += '<table class="table table-striped table-bordered" style="width:450px;">';
		html += '<tr><th style="text-align:center">排名</th><th style="text-align:center">敏感词</th><th style="text-align:center">频数</th></tr>';
		for (var i = 0; i < data.length; i++) {
			var s = i.toString();
			var m = i + 1;
			html += '<tr style=""><th style="text-align:center">' + m + '</th><th style="text-align:center"><a href="/index/search_result/?stype=2&uid=&uname=&location=&hashtag=&adkeyword=' + data[i][0] +  '&psycho_status=&domain&topic" target="_blank">' + data[i][0] +  '</a></th><th style="text-align:center">' + data[i][1] + '</th></tr>';
		};
		html += '</table>'; 
		$('#'+ more_div).append(html);

		var word_num = Math.min(20, data.length);

		for (i=0;i<word_num;i++){
			var word = {};
			word['name'] = data[i][0];
			word['value'] =data[i][1]*100;
			word['itemStyle'] = createRandomItemStyle();
			keyword.push(word);
		}

		var myChart = echarts.init(document.getElementById(div_name)); 
		var option = {
			tooltip: {
				show: true,
				formatter:  function (params,ticket,callback){
					var res  = '';
					var value_after = params.value/100;
					res += params.name+' : '+value_after;
					return res;
				}
			},
			series: [{
				type: 'wordCloud',
				size: ['100%', '100%'],
				textRotation : [0, 45, 90, -45],
				textPadding: 0,
				autoSize: {
					enable: true,
					minSize: 14
				},
				data: keyword
			}]
		};
        myChart.setOption(option);  
	}
}

function get_radar_data (data) {
  var topic = data;
  var topic_name = [];
  var topic_value = [];
  for(var i=0; i<topic.length;i++){
    topic_value.push(topic[i][1])
    topic_name.push(topic[i][0])
  };
  // var topic_value2 = [];
  // var topic_name2 = [];
  // for(var i=0; i<8;i++){ //取前8个最大值
  //   a=topic_value.indexOf(Math.max.apply(Math, topic_value));
  //   topic_value2.push(topic_value[a].toFixed(3));
  //   topic_name2.push(topic_name[a]);
  //   topic_value[a]=0;
  // }
  var topic_name3 = [];
  var max_topic = 8
  if(topic.length<8){
    max_topic = topic.length;
  }
  for(var i=0;i<max_topic;i++){ //设置最大值的话题的阈值
    var name_dict = {};
    var index = topic_name[i];
    name_dict["text"] = index;
    name_dict["max"] = Math.max.apply(Math, topic_value).toFixed(3)+10;
    topic_name3.push(name_dict);
  }
  var topic_result = [];
  topic_result.push(topic_name3);
  topic_result.push(topic_value);
  return topic_result;
}
function Draw_topic(data, radar_div, motal_div){
    //console.log(data);
  var topic = [];
  var html = '';
  $('#'+ motal_div).empty();
  if(data.length == 0){
      $('#'+ motal_div).empty();
      html = '<h3 style="font-size:20px;text-align:center;margin-top:50%;">暂无数据</h3>';
      //$('#'+ more_div).append(html);
      $('#'+ radar_div).append(html);
      $('#'+ motal_div).append(html);
      //$('#'+ show_more).empty();
  }else{
      html = '';
      html += '<table class="table table-striped table-bordered" style="width:450px;">';
      html += '<tr><th style="text-align:center">排名</th><th style="text-align:center">关键词</th><th style="text-align:center">频率</th></tr>';
      for (var i = 0; i < data.length; i++) {
         var s = i.toString();
         var m = i + 1;
         html += '<tr style=""><th style="text-align:center">' + m + '</th><th style="text-align:center"><a href="/index/search_result/?stype=2&uid=&uname=&location=&hashtag=&adkeyword=' + data[i][0] +  '&psycho_status=&domain&topic" target="_blank">' + data[i][0] +  '</a></th><th style="text-align:center">' + data[i][1].toFixed(2) + '</th></tr>';
      };
      html += '</table>'; 
      $('#'+ motal_div).append(html);
    };
      html = '';
      html += '<table class="table table-striped table-bordered" style="width:450px;">';
      html += '<tr><th style="text-align:center">排名</th><th style="text-align:center">关键词</th><th style="text-align:center">频率</th></tr>';
      for (var i = 0; i < data.length; i++) {
         var s = i.toString();
         var m = i + 1;
         html += '<tr style=""><th style="text-align:center">' + m + '</th><th style="text-align:center"><a href="/index/search_result/?stype=2&uid=&uname=&location=&hashtag=&adkeyword=' + data[i][0] +  '&psycho_status=&domain&topic" target="_blank">' + data[i][0] +  '</a></th><th style="text-align:center">' + data[i][1].toFixed(2) + '</th></tr>';
      };
      html += '</table>'; 
      $('#'+ motal_div).append(html);
}

function show_results(data){
  show_conclusion(conclusion);
}
function DrawMore(data,div){
	var html = '';
    $('#'+div).empty();
	html += '<table class="table table-striped table-bordered" style="width:450px;">';
    html += '<tr><th style="text-align:center">排名</th><th style="text-align:center">Topic-model</th><th style="text-align:center">频数</th></tr>';
    for (var i = 0; i < data.length; i++) {
        var s = i.toString();
        var m = i + 1;
        html += '<tr style=""><th style="text-align:center">' + m + '</th><th style="text-align:center">' + data[i][0] +  '</th><th style="text-align:center">' + data[i][1] + '</th></tr>';
    };
    html += '</table>'; 
    $('#'+ div).append(html);
}
var Show_pref = new Show_pref();
var prefrence_url = '/group/show_group_result/?task_name='+name+'&submit_user=admin&module=preference';
Show_pref.call_sync_ajax_request(prefrence_url, Show_pref.ajax_method, Show_pref.Draw_table);
  </script>
