<style type="text/css">
table tr th{
	text-align:center;width:300px
}
.dataTables_filter{text-align:right;margin-bottom:5px;
.dataTables_paginate{margin-top:-10px;margin-bottom:-20px;
}
</style>


<div id="framecontent" style="width:100%;">
    <div class ="framepost" style="height:700px;">
        <h3 class="title">群体内部转发情况</h3>
        <div style="width:100%;margin-top:10px;">
        	<div id='in_group' style='overflow-x:hidden;'></div>
		        <div id='relation_net' style='width:840px;height:350px'>test111111111111</div>                 
		        <div id='group_in_table' style='margin:5px;overflow-x:hidden;height:300px'></div>       	
        </div>
    </div>
</div>

<div id="framecontent" style="width:100%;">
    <div class ="framepost" style="height:900px;">
        <h3 class="title">群体与外部互动情况</h3>
        <div style="width:100%;margin-top:10px;">
        	<div id='out_group' style='overflow-x:hidden;'></div>
		        <div id='relation_out_net' style='width:840px;height:400px'></div>                 
		        <div id='group_out_table' style='margin:5px;overflow-x:hidden;height:400px'></div>
        </div>
    </div>
</div>
<!--
<div id="social_conclusion" style="width:100%;"></div>
-->
<div class="modal fade" id="modal_group_in_table" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width:950px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="font-size:18px" id="myModalLabel">群组内转发列表</h4>
      </div>
      <div class="modal-body" id='group_in_more_table'>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal_group_out_table" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width:950px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="font-size:18px" id="myModalLabel">群组外转发列表</h4>
      </div>
      <div class="modal-body" id='group_out_more_table'>
      </div>
    </div>
  </div>
</div>
	

