<div id="social_sensing">
	<div class="box col-md-12" style="padding-left:10px;margin-top:0;border: 1px solid #DEDEDE;">
  		<div style="padding-top:10px;padding-left:15px;">
  			<div class="cols" style='margin-top:11px;margin-bottom:15px;'>
                <span class="input-group-addon" style="width:60px;font-weight:bold;border:1px solid white;background-color:white; display:inline-block" >事件</span>
                <select id="sensing_event" class="form-control" style='width:175px; margin-left:15px;display:inline-block;height:25px;padding: 0px 10px;'>
                </select>
                <span id="sensing_event_commit" onclick="submit_sensing_event();" class="label label-success" style='padding:5px;margin-left:35px;cursor:pointer; background-color:rgba(69, 133, 195, 0.89);margin-bottom:10px;'>查看相关用户</span>
                <span><a id='check_sensors' data-toggle='modal' data-target='#check_sensors_modal' style='margin-left:20px;cursor:pointer;'>查看传感器</a></span>
            </div>    
            <div class='col-md-12' style="padding-left:0px;margin-bottom:10px;width:820px;">
                 <div class='col-md-8'>
                     <span class="input-group-addon" style="padding:0px;margin-left:-4px;font-weight:bold;width:50px;border:1px solid white;background-color:white; display:inline-block" id="">关键词</span>
                     <span class="input-group-addon" style="width:150px;border:1px solid white;background-color:white; display:inline-block" id="sensing_keywords"></span>
                 </div>
            </div>
            <div class='col-md-12' style="padding-left:0px;margin-bottom:10px;width:820px;">
                 <div class='col-md-8'>
                     <span class="input-group-addon" style="padding:0px;margin-left:-10px;font-weight:bold;width:50px;border:1px solid white;background-color:white; display:inline-block" id="">备注</span>
                     <span class="input-group-addon" style="margin-left:5px;border:1px solid white;background-color:white; display:inline-block" id="sensing_remarks"></span>
                 </div>
            </div>
            <div id="social_sensing_table" style="">
  			</div>
            <hr style='width:750px;margin-bottom:0px;'>
            <div id="information" class="col-md-12" style="padding-top:5px;padding-left:0px;">
              <label class='control-label'>群组信息</label>
              <div class='controls'>
                <div class='col-md-12' style='padding:0px;margin-left: 5px;'>
                  <div class='col-lg-6' style='padding:0px;width:48%;'>
                     <span style='float:left;color:#c00;font-size:15px;margin-top:5px;'>*</span>
                     <span class="input-group-addon" style="width:70px;padding-right:0px;border:1px solid white;float:left;background-color:white;display:inline-block">名称</span>
                    <input id="first_name" type='text' class="form-control" style='width:78%; display:inline-block;height:25px;padding-left: 5px;' placeholder='（必填）仅包含汉字、英文、数字和下划线'>
                  </div>
                  <div class='col-lg-6' style='padding:0px;'>
                    <span class="input-group-addon" style="margin-left:15px;width:75px;border:1px solid white;float:left;background-color:white;display:inline-block">备注</span>
                    <input id="first_remarks" type='text' class="form-control" style='width:76%; display:inline-block;height:25px;padding-left: 5px;' placeholder='（选填）仅包含汉字、英文、数字和下划线'>
                  </div>
                </div>
              </div>
            </div>
  			<div class="cols" style='margin-top:11px;margin-bottom:15px;'>
              <div class='col-md-12' style='text-align:right; padding-right:100px'>
                <span id="attribute_pattern_commit" onclick="submit_social_sensing();" class="label label-success" style='cursor:pointer; background-color:rgba(69, 133, 195, 0.89);margin-bottom:10px;'>提交</span>
              </div>
            </div>
            <div class="modal fade" id="check_sensors_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document" style="width:850px;">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">社会传感器</h4>
                  </div>
                  <div class="modal-body">
                    <div id="check_sensors_list" style="margin-top:30px"></div>
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
            </div>
  		</div>

  	</div>
</div>

<!--
<script type="text/javascript">
    var global_pre_page = 1;
    var global_choose_uids = new Array();
    function social_sensing_ajax(url, callback){
        $.ajax({
            url:url,
            type:'get',
            dataType:'json',
            async:true,
            success:callback
        });
    }
function draw_social_sensing_table (data) {
        console.log(data);
        //sensors
        var sensors = data.social_sensors_detail;
        $('#social_sensing #check_sensors_list').empty();
		var html = '';
		html += '<table class="table table-bordered table-striped table-condensed datatable">';
		html += '<thead><tr>';
		html += '<th>ID</th>';
		html += '<th style="width:120px;">昵称</th>';
		html += '<th>领域</th>';
		html += '<th>话题</th>';
		html += '<th>重要度</th>';
		html += '</tr></thead>';
		html += '<tbody>';
        for(var i=0; i<sensors.length; i++){
            var user_data = sensors[i];
			html += '<tr>';
			html += '<td>' + user_data[0] + '</td>';
			html += '<td>' + user_data[1] + '</td>';
			html += '<td>' + user_data[3] + '</td>';
			html += '<td>' + user_data[4] + '</td>';
			html += '<td>' + user_data[6] + '</td>';
			html += '</tr>';
		}
		html += '</tbody></table>';	
        $('#social_sensing #check_sensors_list').append(html);

        //keywords
        var keywords = data.keywords;
        if (keywords.length == 0){
            $('#social_sensing #sensing_keywords').html('无');
        }
        else{
            $('#social_sensing #sensing_keywords').html(keywords.join(' '));
        }    
        //remarks
        var remark = data.remark;
        if (remark == ''){
            $('#social_sensing #sensing_remarks').html(无);
        }
        else{
            $('#social_sensing #sensing_remarks').html(remark);
        }
        // group_list
        var group_list = data.group_list;
        $('#social_sensing #social_sensing_table').empty();
		var html = '';
		html += '<table id="social_table" class="table table-bordered table-striped table-condensed datatable">';
		html += '<thead><tr>';
		html += '<th>ID</th>';
		html += '<th style="width:120px;">昵称</th>';
		html += '<th>领域</th>';
		html += '<th>话题</th>';
		html += '<th>热度</th>';
		html += '<th>重要度</th>';
		html += '<th> <input name="social_select_all" id="social_select_all" type="checkbox" value="" onclick="social_sensing_select_all()" /></th>';
		html += '</tr></thead>';
		html += '<tbody>';
        for(var i=0; i<group_list.length; i++){
            var user_data = group_list[i];
			html += '<tr>';
			html += '<td>' + user_data[0] + '</td>';
			html += '<td>' + user_data[1] + '</td>';
			html += '<td>' + user_data[3] + '</td>';
			html += '<td>' + user_data[4] + '</td>';
			html += '<td>' + user_data[5] + '</td>';
			html += '<td>' + user_data[6] + '</td>';
			html += '<td>' + '<input name="social_select" type="checkbox" id="social_select" value ="' + user_data[0] +'">' + '</td>';
			html += '</tr>';
		}
		html += '</tbody></table>';	
        $('#social_sensing #social_sensing_table').append(html);
        /*
        $('#social_sensing #social_table').dataTable({
        	"sDom": "<'row'<'col-md-6'l ><'col-md-6'f>r>t<'row'<'col-md-12'i><'col-md-12 center-block'p>>",
        	"sPaginationType": "bootstrap",
        	"aoColumnDefs":[ {"bSortable": false, "aTargets":[6]}],
        	"bAutoWidth": true,
        	"oLanguage": {
            	"sLengthMenu": "_MENU_ 每页"
            }
        });
        */
	}

function social_sensing_select_all(){
  $('input[name="social_select"]:not(:disabled)').prop('checked', $("#social_select_all").prop('checked'));
 }
function submit_sensing_event(){
    var current_event = $('#social_sensing #sensing_event').val();
    var event_user_url = '/detect/show_user_in_sensing_task/?task_name=' + current_event;
    social_sensing_ajax(event_user_url, draw_social_sensing_table);
}
function submit_social_sensing(){
    if (social_sensing_check()){
        var cur_uids = [];
        $('input[name="social_select"]:checked').each(function(){
            cur_uids.push($(this).attr('value'));
        })
        global_choose_uids[global_pre_page] = cur_uids;
        var select_uids = [];
        for (var key in global_choose_uids){
            var temp_list = global_choose_uids[key];
            for (var i = 0; i < temp_list.length; i++){
                select_uids.push(temp_list[i]);
            }
        }
        console.log(select_uids);
        if (select_uids.length == 0){
            alert('至少需要选择一名用户！');
            return;
        }
        else{
            var social_sensing_url = '/detect/submit_sensing/';
            var sensing_job = {};
            sensing_job['task_name'] = $('#social_sensing #first_name').val();
            sensing_job['state'] = $('#social_sensing #first_remarks').val();
            sensing_job['submit_user'] = 'admin';
            sensing_job['uid_list'] = select_uids;
            sensing_job['task_type'] = 'analysis';
            $.ajax({   
                type:"POST",  
                url:social_sensing_url,
                contentType:"application/json",
                data:JSON.stringify({'task_information':sensing_job}),
                dataType: "json",
                success: social_sensing_callback
            });
        }
    }
}
function social_sensing_callback(data){
    console.log(data);
    if (data == true){
      //redraw_result();
      alert('提交成功！');
      //window.location.reload(); 
    } 
    if(data =='task name invalid'){
        alert('已存在相同名称的群体分析任务,请重试!');
    }
    
}
function social_sensing_check(){             // check validation 
    //group_information check starts  
    var group_name = $('#social_sensing #first_name').val();
  var remark = $('#social_sensing #first_remarks').val();
  if (group_name.length == 0){
      alert('群体名称不能为空，请重新输入！');
      return false;
  }

  var reg = "^[a-zA-Z0-9_\u4e00-\u9fa5\uf900-\ufa2d]+$";
  if (!group_name.match(reg)){
    alert('群体名称只能包含英文、汉字、数字和下划线,请重新输入!');
    return false;
  }
  if ((remark.length > 0) && (!remark.match(reg))){
    alert('备注只能包含英文、汉字、数字和下划线,请重新输入!');
    return false;
  }
  return true;

}
function draw_sensing_event_option(){
    var url = '/detect/show_sensing_task/';
    social_sensing_ajax(url, sensing_callback);
    function sensing_callback(data){
        $('#social_sensing #sensing_event').empty();
        var html = '';
        for (var i = 0;i < data.length; i++){
            html += '<option value="' + data[i] + '">' + data[i] + '</option>';
        }
        $('#social_sensing #sensing_event').html(html);
        submit_sensing_event();
    }
}
draw_sensing_event_option();
</script>
-->
