{% extends "publicNav.html" %}
{% block title %}<title>发帖操作</title>{% endblock %}
{% block my_css %}
<link rel="stylesheet" href="/static/css/posting.css">
<style>
    .demo-label{display:inline-block;cursor:pointer;font-size: 12px;font-weight: normal;}
    .demo-radio{display:none!important;}
    .demo-radioInput{cursor:pointer;background-color:#eee;border-radius:100%;display:inline-block;height:16px;vertical-align:middle;width:16px;line-height:1;margin-top:-3px;}
    .demo-radio:checked + .demo-radioInput:after{background-color:#57ad68;border-radius:100%;content:"";display:inline-block;height:12px;margin:2px;width:12px}
    .demo-checkbox.demo-radioInput,.demo-radio:checked + .demo-checkbox.demo-radioInput:after{border-radius:0}
    .buildOption .demo-label {width:90px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
    .everyday-2 .ed-2-1 .demo-label{width: 80px;margin-bottom: 10px;}
    .everyday-2 .ed-2-2 .demo-label{width:100px;}
    .everyday-2 .ed-2-1 .demo-radioInput{margin-right:10px;}
    #container .type_page #myTabs a {
        color: white;
    }
    .btn-group.open .dropdown-toggle {
        box-shadow: none!important;
    }
    .friends button b{
        position: relative;
        top: 2px;
        font-weight: normal;
        font-size: 12px;
        display: inline-block;
        width: 40px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .bootstrap-table {
        margin: 0 auto;
        height: auto!important;
    }
    .table-no-bordered,.table>tbody>tr>td,.fixed-table-container,
    .bootstrap-table .table>thead>tr>th,.bootstrap-table .table,.table>tbody>tr>td{
        border: none;
    }
    thead,.fixed-table-pagination .page-list {
        display: none!important;
    }
    .fixed-table-body {
        height: auto!important;
        overflow-y: hidden;
    }
    .bootstrap-table .table:not(.table-condensed),.bootstrap-table .table:not(.table-condensed)>tbody>tr>td,
    .table>tbody>tr>td{
        padding: 0!important;
    }
    .fixed-table-container {top: 15px;}
    .table-hover>tbody>tr:hover {
        background-color: inherit!important;
    }
    .fixed-table-toolbar .search {width: 100%;}
    .form-control {
        text-align: center;
        font-size: 14px;
        color: white;
        border: 1px solid silver;
        border-radius: 5px;
        padding: 4px 7px;
        background: rgba(8,23,44,0.35);
    }
    .table:not(.table-condensed)>tbody>tr>td {
        text-align: left!important;
    }
</style>
{% endblock %}
{% block main %}
<div id="container">
    <div class="title">
        <div style="display: inline-block;">
            <span class="icon icon-edit note_icon" style="color: #fff;"></span>
            <b style="font-size: 20px;color: #fff;">发帖操作</b>
        </div>
    </div>
    <div class="type_page" style="margin: 20px 0 30px;">
        <ul id="myTabs" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#everyday" role="tab" data-toggle="tab"><b class="icon icon-tags"></b>&nbsp;日常发帖</a>
            </li>
            <li role="presentation">
                <a href="#hot" role="tab" data-toggle="tab"><b class="icon icon-fire"></b>&nbsp;热点跟随</a>
            </li>
            <li role="presentation">
                <a href="#business" role="tab" data-toggle="tab"><b class="icon icon-file-alt"></b>&nbsp;业务发帖</a>
            </li>
        </ul>
        <div class="post_post">
            <div class="post-1" style="margin-top: 20px;">
                <img src="/static/images/icon.png" alt="">
                <span style="font-size: 18px;font-weight: 900;color: #fff">我要发帖</span>
            </div>
            <div class="post-2">
                <div>
                    <a href="###" style="font-family: cursive;color: white;">有什么新鲜事告诉大家？</a>
                </div>
                <textarea id="post-2-content" cols="101" rows="6"></textarea>
                <div class="add_thing">
                    <div><img src="/static/images/post-1.png">&nbsp;<span>表情</span></div>
                    <div><img src="/static/images/post-2.png">&nbsp;<span>图片</span></div>
                    <div><img src="/static/images/post-3.png">&nbsp;<span>视频</span></div>
                    <div><img src="/static/images/post-4.png">&nbsp;<span>话题</span></div>
                    <!--<div><img src="/static/images/post-5.png">&nbsp;<span>头条文章</span></div>-->
                    <div class="btn-group friends">
                        <button type="button" class="dropdown-toggle" style="background: transparent;"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <b>公开</b> <span class="caret" style="color: #fff;"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><img src="/static/images/post-7.png"> <span>公开</span></li>
                            <li><img src="/static/images/post-8.png"> <span>好友圈</span></li>
                            <li><img src="/static/images/post-9.png"> <span>仅自己可见</span></li>
                            <li><img src="/static/images/post-10.png"> <span>群可见</span></li>
                        </ul>
                    </div>
                    <div style="margin: 0;">
                        <label class="demo-label timingss">
                            <input class="demo-radio timing" type="checkbox" name="demo">
                            <span class="demo-checkbox demo-radioInput"></span> 定时
                        </label>
                        <!--<input type="checkbox" class="" style="position: relative;top: 2px;margin-right: 3px;">定时-->
                        <div class="ttime">
                            <input type="text" size="16" id="_timing1" class="form_datetime start" placeholder="开始时间"
                                   style="height: 20px;font-size: 10px;color: white;text-align: center;
                        padding:2px 4px;border: 1px solid silver;background: rgba(8,23,44,0.25);">
                            <input type="text" size="16" id="_timing2" class="form_datetime end" placeholder="结束时间"
                                   style="height: 20px;font-size: 10px;color: white;text-align: center;
                        padding:2px 4px;border: 1px solid silver;background: rgba(8,23,44,0.25);">
                            <input type="text" size="16" id="_timing3" class="remarks" placeholder="备注信息"
                                   style="height: 20px;font-size: 10px;color: white;text-align: center;
                        padding:2px 4px;border: 1px solid silver;background: rgba(8,23,44,0.25);">
                        </div>
                    </div>
                    <button type="button" class="btn btn-info btn-xs" id="sure_post">发布</button>
                </div>
            </div>
            <div id="user_recommend">
                <p style="text-align: center;padding: 5px;border-bottom: 1px solid #656e7b;">@用户推荐</p>
                <ul class="user_example_list" style="padding: 10px 20px;">

                </ul>
            </div>
        </div>
        <div class="tab-content" id="content">
            <div role="tabpanel" class="tab-pane active" id="everyday">
                <div class="everyday-1" style="margin: 20px 0;">
                    <img src="/static/images/icon.png" alt="">
                    <span style="font-size: 18px;font-weight: 900;color: #fff">语料推荐</span>
                </div>
                <div class="everyday-2" style="margin-left: 30px;overflow: hidden;">
                    <div class="ed-2-1">
                        <span>按主题：</span>
                        <div id="theme" style="">
                            <label class="demo-label" title="旅游">
                                <input class="demo-radio" type="radio" name="theme" value='旅游' checked>
                                <span class="demo-checkbox demo-radioInput"></span> 旅游
                            </label>
                            <label class="demo-label" title="美食">
                                <input class="demo-radio" type="radio" name="theme" value='美食'>
                                <span class="demo-checkbox demo-radioInput"></span> 美食
                            </label>
                            <label class="demo-label" title="汽车">
                                <input class="demo-radio" type="radio" name="theme" value='汽车'>
                                <span class="demo-checkbox demo-radioInput"></span> 汽车
                            </label>
                            <label class="demo-label" title="游戏">
                                <input class="demo-radio" type="radio" name="theme" value='游戏'>
                                <span class="demo-checkbox demo-radioInput"></span> 游戏
                            </label>
                            <label class="demo-label" title="星座">
                                <input class="demo-radio" type="radio" name="theme" value='星座'>
                                <span class="demo-checkbox demo-radioInput"></span> 星座
                            </label>
                            <label class="demo-label" title="摄影">
                                <input class="demo-radio" type="radio" name="theme" value='摄影'>
                                <span class="demo-checkbox demo-radioInput"></span> 摄影
                            </label>
                            <label class="demo-label" title="音乐">
                                <input class="demo-radio" type="radio" name="theme" value='音乐'>
                                <span class="demo-checkbox demo-radioInput"></span> 音乐
                            </label>
                            <label class="demo-label" title="电影">
                                <input class="demo-radio" type="radio" name="theme" value='电影'>
                                <span class="demo-checkbox demo-radioInput"></span> 电影
                            </label>
                            <label class="demo-label" title="运动">
                                <input class="demo-radio" type="radio" name="theme" value='运动'>
                                <span class="demo-checkbox demo-radioInput"></span> 运动
                            </label>
                            <label class="demo-label" title="搞笑">
                                <input class="demo-radio" type="radio" name="theme" value='搞笑'>
                                <span class="demo-checkbox demo-radioInput"></span> 搞笑
                            </label>
                            <label class="demo-label" title="数码">
                                <input class="demo-radio" type="radio" name="theme" value='数码'>
                                <span class="demo-checkbox demo-radioInput"></span> 数码
                            </label>
                            <label class="demo-label" title="军事">
                                <input class="demo-radio" type="radio" name="theme" value='军事'>
                                <span class="demo-checkbox demo-radioInput"></span> 军事
                            </label>
                            <label class="demo-label" title="历史">
                                <input class="demo-radio" type="radio" name="theme" value='历史'>
                                <span class="demo-checkbox demo-radioInput"></span> 历史
                            </label>
                            <label class="demo-label" title="萌宠">
                                <input class="demo-radio" type="radio" name="theme" value='萌宠'>
                                <span class="demo-checkbox demo-radioInput"></span> 萌宠
                            </label>
                            <label class="demo-label" title="动漫">
                                <input class="demo-radio" type="radio" name="theme" value='动漫'>
                                <span class="demo-checkbox demo-radioInput"></span> 动漫
                            </label>
                            <label class="demo-label" title="情感">
                                <input class="demo-radio" type="radio" name="theme" value='情感'>
                                <span class="demo-checkbox demo-radioInput"></span> 情感
                            </label>
                            <label class="demo-label" title="时尚">
                                <input class="demo-radio" type="radio" name="theme" value='时尚'>
                                <span class="demo-checkbox demo-radioInput"></span> 时尚
                            </label>
                        </div>
                    </div>

                    <div class="ed-2-2">
                        <div style="text-align: center;">
                            <label class="demo-label">
                                <input class="demo-radio" type="radio" name="th" value='timestamp' checked>
                                <span class="demo-checkbox demo-radioInput"></span> 按时间
                            </label>
                            <label class="demo-label">
                                <input class="demo-radio" type="radio" name="th" value='retweeted'>
                                <span class="demo-checkbox demo-radioInput"></span> 按热度
                            </label>
                        </div>
                        <div class="defaultWeibo">
                            <div id="defaultWeibo"></div>
                        </div>
                    </div>

                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="hot">
                <div class="hot-1" style="margin: 20px 0;">
                    <img src="/static/images/icon.png" alt="">
                    <span style="font-size: 18px;font-weight: 900;color: #fff">热门事件推荐</span>
                </div>
                <div class="hot-2" style="margin-left: 30px;">
                    <span>按主题：</span>
                    <select id="theme-2">
                        <option value="文体类_娱乐">文体类_娱乐</option>
                        <option value="科技类">科技类</option>
                        <option value="经济类">经济类</option>
                        <option value="教育类">教育类</option>
                        <option value="民生类_环保">民生类_环保</option>
                        <option value="民生类_健康">民生类_健康</option>
                        <option value="军事类">军事类</option>
                        <option value="政治类_外交">政治类_外交</option>
                        <option value="文体类_体育">文体类_体育</option>
                        <option value="民生类_交通">民生类_交通</option>
                        <option value="其他类">其他类</option>
                        <option value="政治类_反腐">政治类_反腐</option>
                        <option value="民生类_就业">民生类_就业</option>
                        <option value="政治类_暴恐">政治类_暴恐</option>
                        <option value="民生类_住房">民生类_住房</option>
                        <option value="民生类_法律">民生类_法律</option>
                        <option value="政治类_地区和平">政治类_地区和平</option>
                        <option value="政治类_宗教">政治类_宗教</option>
                        <option value="民生类_社会保障">民生类_社会保障</option>
                    </select>
                    <span>排序指标：</span>
                    <select id="theme-3">
                        <option selected="" value="按最新">按最新</option>
                        <option value="按任务完成度">按任务完成度</option>
                        <option value="按事件权重">按事件权重</option>
                    </select>
                    <div style="float: right;margin-right: 18px">
                        <input type="text" id="search-1-hot" placeholder="输入关键词快速搜索相关微博"/>
                        <button type="button" class="btn btn-primary btn-xs" id="search-hot"
                                style="padding:3px 5px;margin: -3px 0 0 0;">搜索</button>
                    </div>

                    <div class="post_perfect" style="margin: 20px 0 0 30px;">
                        <div id="post_center-hot">
                            <img src="/static/images/post-6.png" alt="" class="center_icon">
                            <div class="center_rel">
                                <a class="center_1" href="###">何仙姑</a>：
                                <span class="center_2">
                                【郑州现《人民的名义》现实版窗口：站也不是 蹲也不是】据网友@张琬晖 爆料，郑州市社保局办事窗口不高不低，站也不是，蹲也不是，和《人民的名义》演的一样一样的！@映象网 调查发现，2014年就有媒体关注过这个问题，但一直未整改。达康书记@吴刚de微博 你快来看看吧！
                            </span>
                                <div class="center_3" style="margin: 10px 0;">
                                    <span class="time">2017-03-04 12:43:23</span>
                                    <a data-toggle="modal" data-target="#simliar">相似微博</a>
                                    <a data-toggle="modal" data-target="#content_recommend">内容推荐</a>
                                    <p style="float: right;">
                                        <span>转发数（<span class="forwarding">222</span>）</span>&nbsp;
                                        <span>评论数（<span class="comment">222</span>）</span>&nbsp;
                                        <span>赞（<span class="praise">222</span>）</span>&nbsp;
                                    </p>
                                </div>
                            </div>
                            <div style="margin: 10px 0;">
                                <input type="text" class="point-view-1"/>
                                <button type="button" class="btn btn-primary btn-xs point-view-2" style="height: 26px;position: relative;top: -1px;">提交子观点任务</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="business">
                <div class="business-1" style="margin: 20px 0;">
                    <img src="/static/images/icon.png" alt="">
                    <span style="font-size: 18px;font-weight: 900;color: #fff">微博推荐</span>
                </div>
                <div class="business-2" style="margin-left: 30px;">
                    <span>排序指标：</span>
                    <select id="theme-4">
                        <option selected="" value="按时间">按时间</option>
                        <option value="按信息敏感度">按信息敏感度</option>
                        <option value="按人物敏感度">按人物敏感度</option>
                        <option value="按信息影响力">按信息影响力</option>
                        <option value="按人物影响力">按人物影响力</option>
                    </select>
                    <div style="float: right;margin-right: 18px">
                        <input type="text" id="search-1-business" placeholder="搜索关键词或子观点相关的微博"/>
                        <button type="button" class="btn btn-primary btn-xs" id="search-business"
                                style="padding:3px 5px;margin: -3px 0 0 0;">搜索</button>
                    </div>

                    <div class="post_perfect" style="margin: 20px auto;">
                        <div class="post_center-hot">
                            <img src="/static/images/post-6.png" alt="" class="center_icon">
                            <div class="center_rel">
                                <a class="center_1" href="###" style="color: #f98077;">何仙姑</a>：
                                <span class="center_2">
                                【郑州现《人民的名义》现实版窗口：站也不是 蹲也不是】据网友@张琬晖 爆料，郑州市社保局办事窗口不高不低，站也不是，蹲也不是，和《人民的名义》演的一样一样的！@映象网 调查发现，2014年就有媒体关注过这个问题，但一直未整改。达康书记@吴刚de微博 你快来看看吧！
                                </span>
                                <div class="center_3">
                                    <span class="cen3-1"><i class="icon icon-share"></i>&nbsp;&nbsp;转发</span>
                                    <span class="cen3-2"><i class="icon icon-comments-alt"></i>&nbsp;&nbsp;评论</span>
                                    <span class="cen3-3"><i class="icon icon-thumbs-up"></i>&nbsp;&nbsp;赞</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal-undone">-->
        <!--<b class="icon icon-plus"></b>&nbsp;添加-->
        <!--</button>-->
    </div>
</div>
<!--模态框-->
<!--提示弹框-->
<div class="modal fade" id="pormpt" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">温馨提示</h4>
            </div>
            <div class="modal-body">
                <p style="text-align: center;font-size: 18px;color: #fff;font-weight: 900;">

                </p>
            </div>
        </div>
    </div>
</div>


<!--设置群可见的时候，展示群-->
<!--相似微博-->
<div class="modal fade" id="grouplist" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">群组列表</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>



<!--相似微博-->
<div class="modal fade" id="simliar" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">相似微博</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>

<!--推荐内容-->
<div class="modal fade" id="content_recommend" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">内容推荐</h4>
            </div>
            <div class="modal-body">
                <div class="recommend-body" style="margin-left: 30px;">
                    <span>按主题：</span>
                    <select id="recommend-1">
                        <option value="生活类">生活类</option>
                        <option value="体育类">体育类</option>
                        <option value="外交类">外交类</option>
                        <option value="暴恐类">暴恐类</option>
                        <option value="反腐类">反腐类</option>
                    </select>
                    <div style="float: right;margin-right: 18px">
                        <input type="text" id="search-1-recommend" placeholder="输入关键词快速搜索相关微博"/>
                        <button type="button" class="btn btn-primary btn-xs" id="search-recommend"
                                style="padding:3px 5px;margin: -3px 0 0 0;">搜索</button>
                    </div>

                    <div class="post_perfect" style="margin: 20px 0 0 30px;">
                        <div id="post_center-recommend">
                            <img src="/static/images/post-6.png" alt="" class="center_icon">
                            <div class="center_rel">
                                <a class="center_1" href="###">何仙姑</a>：
                                <span class="center_2">
                            【郑州现《人民的名义》现实版窗口：站也不是 蹲也不是】据网友@张琬晖 爆料，郑州市社保局办事窗口不高不低，站也不是，蹲也不是，和《人民的名义》演的一样一样的！@映象网 调查发现，2014年就有媒体关注过这个问题，但一直未整改。达康书记@吴刚de微博 你快来看看吧！
                        </span>
                                <div class="center_3" style="margin: 10px 0;">
                                    <input type="checkbox" class="timing_recommend" style="position: relative;top: 2px;margin-right: 3px;">定时
                                    <input type="text" value="" id="_timing_recommend" placeholder="选择时间" style="line-height:13px;font-size: 10px;
                    padding:3px 4px;border: 1px solid silver;">
                                    <button type="button" class="btn btn-info btn-xs" id="sure_not_timing">发布</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block my_js %}
<script>
    judgment('2');
    $('.friends .dropdown-menu li').on('click',function(e) {
        if (e.target.innerHTML){
            $('.friends button b').attr('title',e.target.innerHTML).text(e.target.innerHTML);
        }else {
            var a=$(this).find('span').text();
            $('.friends button b').attr('title',a).text(a);
        }
        if (e.target.innerHTML=='群可见'||$(this).find('span').text()=='群可见'){
            var gl_url='';
            // public_ajax.call_request('get',gl_url,gpList)
        }
    });
    function gpList(data) {

        $('#grouplist').modal('show');
    }



    $(".form_datetime").datetimepicker({
        format: "yyyy-mm-dd hh:ii",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left"
    });
    $('.start').on('changeDate', function(ev){
        $('.end').datetimepicker('setStartDate',ev.date);
    });
    $('.end').on('changeDate', function(ev){
        $('.start').datetimepicker('setEndDate',ev.date);
    });

    $('.continue_already_created').on('click',function () {
        window.open('/registered/socialAccounts/');
    });
    $('.first_created').on('click',function () {
//        window.open('.html');
    });

</script>
<script src="/static/js/posting-1.js"></script>
{% endblock %}