{% extends "publicNav.html" %}
{% block title %}<title>发帖操作</title>{% endblock %}
{% block my_css %}
    <link rel="stylesheet" href="/static/css/postingQQ.css">
    <style>
        .fixed-table-toolbar .search {width: 100%;}
        .historyNews .form-control {
            text-align: center;
            font-size: 14px;
            color: white;
            border: 1px solid silver;
            border-radius: 5px;
            padding: 4px 7px;
            background: rgba(8,23,44,0.35);
        }
    </style>
{% endblock %}
{% block main %}
<div id="container">
    <div class="title">
        <div style="display: inline-block;">
            <span class="icon icon-edit note_icon" style="color: #fff;"></span>
            <b style="font-size: 20px;color: #fff;">发帖操作</b>
        </div>
    </div>
    <div class="type_page" style="width: 90%;margin: 20px auto 30px;">
        <div class="post_post">
            <div class="post-1" style="margin-top: 20px;">
                <img src="/static/images/icon.png" alt="">
                <span style="font-size: 18px;font-weight: 900;color: #fff;">群历史消息</span>
            </div>
            <div class="post-2">
                <div style="text-align: center;padding: 10px;width: 100%;">
                    <div style="display: inline-block;width: 94%;">
                        <input type="text" id="search-1-post" placeholder="请输入关键词或人物昵称或人物qq号码" style="width: 100%;"/>
                    </div>
                    <!--<button type="button" class="btn-xs" id="search-post" style="padding:3px 5px;margin: -3px 0 0 0;">搜索</button>-->
                    <span id="search-post">搜索</span>
                </div>
                <div class="titTime">
                    <div style="display: inline-block;width: 94%;text-align: right;">
                        <span style="display: inline-block;width: 11%;text-align: left;">时间范围：从</span>
                        <input size="16" type="text" value="" readonly class="form_datetime start" placeholder="请选择时间">
                        <span style="display: inline-block;width:3%;text-align: center;">到</span>
                        <input size="16" type="text" readonly class="form_datetime end" placeholder="请选择时间">
                    </div>
                    <span class="timeSure">确定</span>
                </div>
            </div>
            <div class="post-3">
                <div class="historyNews">
                    <dis id="historyNews"></dis>
                </div>
                <div class="text_information">
                    <div id="group_emotion_loading" style="display:block;text-align:center;">正在加载，请稍后...</div>
                    <div id="influeweibo" style="overflow-x: auto; overflow-y: auto;height:auto;">
                        <table id="input-table" class="In-table" style="width:100%;">
                            <tbody class="In-table" style="width:100%!important;">
                            </tbody>
                        </table>
                    </div>
                    <div class="fanye" style="width:100%;text-align:center;margin-top: 20px;">
                    <span style="display:none;">
                        每页显示
                        <input type="text" id="PageNo" size="5" value="5" style="text-align:center;border:1px solid #ccc;"/>组
                    </span>
                        <div id="div-button" style="display:inline-block;margin-left:5px;">
                            <input type="button" value="首页" id="F-page" style="border-radius: 5px;padding: 3px 5px;font-size: 10px;">
                            <input type="button" value="上一页" id="Pre-page" style="border-radius: 5px;padding: 3px 5px;font-size: 10px;">
                            <input type="button" value="下一页" id="Nex-page" style="border-radius: 5px;padding: 3px 5px;font-size: 10px;">
                            <input type="button" value="尾页" id="L-page" style="border-radius: 5px;padding: 3px 5px;font-size: 10px;">
                        </div>
                        <span style="display:inline-block;">&nbsp;当前第<span id="s2"></span>页</span>
                        <span style="display:inline-block;">总共<span id="s1"></span>页</span>
                    </div>
                </div>
                <div class="everySpeak" style="margin: 20px auto;">
                    <div class="speak_center">
                        <div class="center_rel">
                            <img src="/static/images/post-6.png" alt="" class="center_icon">
                            <a class="center_1" href="###" style="color:#03a9f4;font-weight: 700;">
                                <b class="name">小小小鸟</b> <span>（</span><b class="QQnum"></b><span>）</span></a>：
                            <span class="center_2">
                    【郑州现《人民的名义》现实版窗口：站也不是 蹲也不是】据网友@张琬晖 爆料，郑州市社保局办事窗口不高不低，站也不是，蹲也不是，和《人民的名义》演的一样一样的！@映象网 调查发现，2014年就有媒体关注过这个问题，但一直未整改。达康书记@吴刚de微博 你快来看看吧！
                </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dialogue" style="width: 90%;margin: 0 auto;position: relative;">
        <div class="dialogue-1" style="width: 70%;">
            <textarea id="post-content" cols="" rows="6"></textarea>
            <div class="add_thing">
                <div><img src="/static/images/post-1.png">&nbsp;<span>表情</span></div>
                <div><img src="/static/images/post-2.png">&nbsp;<span>图片</span></div>
                <div><img src="/static/images/post-3.png">&nbsp;<span>视频</span></div>
                <button type="button" class="btn btn-info btn-xs" id="sure_post" style="float: right;">发送</button>
            </div>
        </div>
        <div id="user_recommend">
            <p style="text-align: center;padding: 5px;border-bottom: 1px solid rgb(255,255,255)">@用户推荐</p>
            <ul class="user_example_list" style="padding: 10px 20px;">
                <li><a href="###">不想当律师的记者</a></li>
                <li><a href="###">10086专员</a></li>
                <li><a href="###">艾唐叔叔</a></li>
                <li><a href="###">我是大律师</a></li>
            </ul>
        </div>
    </div>

</div>
<!--模态框-->
<div class="modal fade" id="myModal-has" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">添加提示</h4>
            </div>
            <div class="modal-body">
                <p style="text-align: center;font-size: 18px;color: #5e5e5e;font-weight: 900;">
                    创建新的虚拟人还是继续已有的虚拟人？
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary first_created" data-dismiss="modal">首次创建</button>
                <button type="button" class="btn btn-primary continue_already_created" data-dismiss="modal">继续已有创建</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal-undone" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">添加提示</h4>
            </div>
            <div class="modal-body">
                <p style="text-align: center;font-size: 18px;color: #5e5e5e;font-weight: 900;">
                    创建新的虚拟人？
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary first_created" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>


<!--相似微博-->
<div class="modal fade" id="timeChecking" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">操作提示</h4>
            </div>
            <div class="modal-body">
                请检查您输入的时间（时间不能为空）
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>

<!--推荐内容-->
<div class="modal fade" id="content_recommend" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">内容推荐</h4>
            </div>
            <div class="modal-body">
                <div class="recommend-body" style="margin-left: 30px;">
                    <span>按主题：</span>
                    <select id="recommend-1">
                        <option value="生活类">生活类</option>
                        <option value="体育类">体育类</option>
                        <option value="外交类">外交类</option>
                        <option value="暴恐类">暴恐类</option>
                        <option value="反腐类">反腐类</option>
                    </select>
                    <div style="float: right;margin-right: 18px">
                        <input type="text" id="search-1-recommend" placeholder="输入关键词快速搜索相关微博"/>
                        <button type="button" class="btn btn-primary btn-xs" id="search-recommend"
                                style="padding:3px 5px;margin: -3px 0 0 0;">搜索</button>
                    </div>

                    <div class="post_perfect" style="margin: 20px 0 0 30px;">
                        <div id="post_center-recommend">
                            <img src="/static/images/post-6.png" alt="" class="center_icon">
                            <div class="center_rel">
                                <a class="center_1" href="###">何仙姑</a>：
                                <span class="center_2">
                            【郑州现《人民的名义》现实版窗口：站也不是 蹲也不是】据网友@张琬晖 爆料，郑州市社保局办事窗口不高不低，站也不是，蹲也不是，和《人民的名义》演的一样一样的！@映象网 调查发现，2014年就有媒体关注过这个问题，但一直未整改。达康书记@吴刚de微博 你快来看看吧！
                        </span>
                                <div class="center_3" style="margin: 10px 0;">
                                    <input type="checkbox" class="timing_recommend" style="position: relative;top: 2px;margin-right: 3px;">定时
                                    <input type="text" value="" id="_timing_recommend" placeholder="选择时间" style="line-height:13px;font-size: 10px;
                    padding:3px 4px;border: 1px solid silver;">
                                    <button type="button" class="btn btn-info btn-xs" id="sure_not_timing">发布</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block my_js %}

<script>
    var qqNumber='{{QQ_id}}';
    document.onkeydown = function(e) {
        var ev = (typeof event!= 'undefined') ? window.event : e;
        if(ev.keyCode == 13 && document.activeElement.id == "search-1-post") {//activeElement活动事件,该事件只可以使用于输入域中
            console.log("获取到内容：" + document.activeElement.value);
        }else if(ev.keyCode==13&& document.activeElement.id=='post-content'){
            console.log("QQ内容：" + document.activeElement.value);
        }
    };
    $(".form_datetime").datetimepicker({
        format: "yyyy-mm-dd",
        minView:2, //控制时分秒
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left"
    });
    $('.start').on('changeDate', function(ev){
        $('.end').datetimepicker('setStartDate',ev.date);
    });
    $('.end').on('changeDate', function(ev){
        $('.start').datetimepicker('setEndDate',ev.date);
    });


</script>
<script src="/static/js/postingQQ-1.js"></script>
{% endblock %}