{% extends "publicNav.html" %}
{% block title %}<title>社交反馈</title>{% endblock %}
{% block my_css %}
<link rel="stylesheet" href="/static/css/social_feedback.css">
<style>
    .demo-label{display:inline-block;cursor:pointer;font-size: 12px;font-weight: normal;margin-right: 10px;}
    .demo-radio{display:none!important;}
    .demo-radioInput{cursor:pointer;background-color:#eee;border-radius:100%;display:inline-block;height:16px;vertical-align:middle;width:16px;line-height:1;margin-top:-3px;}
    .demo-radio:checked + .demo-radioInput:after{background-color:#57ad68;border-radius:100%;content:"";display:inline-block;height:12px;margin:2px;width:12px}
    .demo-checkbox.demo-radioInput,.demo-radio:checked + .demo-checkbox.demo-radioInput:after{border-radius:0}
    .buildOption .demo-label {width:90px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
    #container .type_page #myTabs a {
        color: white;
    }
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover,
    .nav>li>a:focus, .nav>li>a:hover {
        background: rgba(5, 23, 55, 0.45);
    }
    .btn-group.open .dropdown-toggle {
        box-shadow: none!important;
    }
    .friends button b{
        position: relative;
        top: 2px;
        font-weight: normal;
        font-size: 12px;
        display: inline-block;
        width: 40px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
{% endblock %}
{% block main %}
<div id="container">
    <div class="title">
        <div style="display: inline-block;">
            <span class="icon icon-random note_icon" style="color: #fff;"></span>
            <b style="font-size: 20px;color: #fff;">社交反馈</b>
        </div>
    </div>
    <div class="type_page" style="margin: 20px 0 30px;">
        <ul id="myTabs" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active" flag="comment">
                <a href="#comment" role="tab" data-toggle="tab"><b class="icon icon-tags"></b>&nbsp;评论回复</a>
            </li>
            <li role="presentation" flag="retweed">
                <a href="#forwarding" role="tab" data-toggle="tab"><b class="icon icon-fire"></b>&nbsp;转发回复</a>
            </li>
            <li role="presentation" flag="personal">
                <a href="#private_letter" role="tab" data-toggle="tab"><b class="icon icon-file-alt"></b>&nbsp;私信回复</a>
            </li>
            <li role="presentation" flag="@back">
                <a href="#reply" role="tab" data-toggle="tab"><b class="icon  icon-comments"></b>&nbsp;@回复</a>
            </li>
            <li role="presentation" flag="focus">
                <a href="#focusReply" role="tab" data-toggle="tab"><b class="icon icon-certificate"></b>&nbsp;关注回粉</a>
            </li>
        </ul>
        <div class="desc_index">
            <span>排序指标：</span>
            <label class="demo-label">
                <input class="demo-radio" type="radio" name="desc">
                <span class="demo-checkbox demo-radioInput"></span> 按时间
            </label>
            <label class="demo-label">
                <input class="demo-radio" type="radio" name="desc">
                <span class="demo-checkbox demo-radioInput"></span> 按内容敏感度
            </label>
            <label class="demo-label">
                <input class="demo-radio" type="radio" name="desc">
                <span class="demo-checkbox demo-radioInput"></span> 按人物敏感度
            </label>
        </div>
        <div class="tab-content" id="content">
            <div role="tabpanel" class="tab-pane active" id="comment">
                <div class="commentAll">
                    <div class="commentEvery">
                        <img src="/static/images/unknown.png" alt="" class="com-head">
                        <div class="com com-1">
                            <b class="com-1-name">魅蓝手机</b>
                            <div class="com-level">
                                <span style="display: inline-block;">敏感度：</span>
                                <div class="com-img" style="display: inline-block;">
                                    <img src="/static/images/level.png" alt="">
                                    <img src="/static/images/level.png" alt="">
                                    <img src="/static/images/level.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="com com-2">
                            <b class="com-2-name" style="color: #fa7d3c;cursor: pointer;">演员的修养</b>的评论：
                            <span class="com-2-tent">嘿嘿</span>
                        </div>
                        <div class="com com-3">
                            <span class="com-3-time">2017-11-11 11:11</span>
                            <span>来自<span class="com-3-source">微博用户 weibo.com</span></span>
                            <a class="com-3-reply copyFinish" datatype="commentClone">回复</a>
                        </div>
                    </div>
                </div>
                <div class="commentClone">
                    <input type="text" class="clone-1"/>
                    <div class="clone-2">
                        <img src="/static/images/post-1.png" class="clone-2-1">
                        <img src="/static/images/post-2.png" class="clone-2-2">
                        <label class="demo-label">
                            <input class="demo-radio clone-2-3" type="checkbox" name="desc2">
                            <span class="demo-checkbox demo-radioInput"></span> 同时转发到我的微博
                        </label>
                        <a href="###" class="clone-2-4">回复</a>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="forwarding">
                <div class="forwardAll">
                    <div class="forwardEvery">
                        <img src="/static/images/unknown.png" alt="" class="for-head">
                        <div class="for for-1">
                            <b class="for-1-name">小米手机</b>
                            <div class="for-level">
                                <span style="display: inline-block;">敏感度：</span>
                                <div class="for-img" style="display: inline-block;">
                                    <img src="/static/images/level.png" alt="">
                                    <img src="/static/images/level.png" alt="">
                                    <img src="/static/images/level.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="for for-2">
                            <b class="for-2-name" style="color: #fa7d3c;cursor: pointer;">演员的修养</b>的评论：
                            <span class="for-2-tent">嘿嘿</span>
                        </div>
                        <div class="for for-3">
                            <span class="for-3-time">2017-11-11 11:11</span>
                            <span>来自<span class="for-3-source">微博用户 weibo.for</span></span>
                            <a class="for-3-reply copyFinish" datatype="forwardClone">回复</a>
                        </div>
                    </div>
                </div>
                <div class="forwardClone">
                    <input type="text" class="clone-1"/>
                    <div class="clone-2">
                        <img src="/static/images/post-1.png" class="clone-2-1">
                        <img src="/static/images/post-2.png" class="clone-2-2">
                        <label class="demo-label">
                            <input class="demo-radio clone-2-3" type="checkbox" name="desc3">
                            <span class="demo-checkbox demo-radioInput"></span> 同时转发到我的微博
                        </label>
                        <a href="###" class="clone-2-4">回复</a>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="private_letter">
                <div class="letterAll">
                    <div class="letterEvery">
                        <img src="/static/images/unknown.png" alt="" class="let-head">
                        <div class="let let-1">
                            <b class="let-1-name">微博运动</b>
                            <div class="let-level">
                                <span style="display: inline-block;">敏感度：</span>
                                <div class="let-img" style="display: inline-block;">
                                    <img src="/static/images/level.png" alt="">
                                    <img src="/static/images/level.png" alt="">
                                    <img src="/static/images/level.png" alt="">
                                </div>
                            </div>
                            <span class="let-1-time">2017-11-11 11:11</span>
                        </div>
                        <div></div>
                        <div class="let let-2">
                            <span class="let-2-content">http://areyouknow?29138=sjdn&ewwd=23s</span>
                            <a class="let-2-reply copyFinish" datatype="letterClone">回复</a>
                        </div>
                    </div>
                </div>
                <div class="letterClone">
                    <input type="text" class="clone-1"/>
                    <div class="clone-2">
                        <img src="/static/images/post-1.png" class="clone-2-1">
                        <img src="/static/images/post-2.png" class="clone-2-2">
                        <img src="/static/images/post-11.png" class="clone-2-3">
                        <a href="###" class="clone-2-4">发送</a>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="reply">
                <div class="replyAll">
                    <div class="replyEvery">
                        <img src="/static/images/unknown.png" alt="" class="rep-head">
                        <div class="rep rep-1">
                            <b class="rep-1-name">一只狗的使命</b>
                            <div class="rep-level">
                                <span style="display: inline-block;">敏感度：</span>
                                <div class="rep-img" style="display: inline-block;">
                                    <img src="/static/images/level.png" alt="">
                                    <img src="/static/images/level.png" alt="">
                                    <img src="/static/images/level.png" alt="">
                                </div>
                            </div>
                            <div class="rep-1-time">2017-11-11 12:12</div>
                        </div>
                        <div class="rep rep-2">
                            <span class="rep-2-tent">嘿嘿以哇哈打开上课就放假哦if哦啊是否看见了卡接卡撒佛家</span>
                        </div>
                        <div class="rep rep-3">
                            <img src="/static/images/demo.jpg" alt="" class="rep-3-img">
                            <a class="rep-3-reply copyFinish" datatype="replyClone">回复</a>
                        </div>
                    </div>
                </div>
                <div class="replyClone">
                    <input type="text" class="clone-1"/>
                    <div class="clone-2">
                        <img src="/static/images/post-1.png" class="clone-2-1">
                        <img src="/static/images/post-2.png" class="clone-2-2">
                        <label class="demo-label">
                            <input class="demo-radio clone-2-3" type="checkbox" name="desc4">
                            <span class="demo-checkbox demo-radioInput"></span> 同时转发到我的微博
                        </label>
                        <a href="###" class="clone-2-4">回复</a>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="focusReply">
                <div class="focusAll">
                    <div class="focusEvery">
                        <img src="/static/images/unknown.png" alt="" class="foc-head">
                        <div class="foc foc-1">
                            <b class="foc-1-name">异性：契约</b>
                            <div class="foc-level">
                                <span style="display: inline-block;">敏感度：</span>
                                <div class="foc-img" style="display: inline-block;">
                                    <img src="/static/images/level.png" alt="">
                                    <img src="/static/images/level.png" alt="">
                                    <img src="/static/images/level.png" alt="">
                                </div>
                            </div>
                            <div class="foc-fm" style="float: right;">
                                <span class="foc-join">
                                    <i class="icon icon-ok"></i>&nbsp;|&nbsp;<span><i class="icon icon-plus" style="color:#f77911;"></i>&nbsp;关注</span>
                                </span>
                            </div>
                            <div class="foc-1-option">
                                <span>关注</span>&nbsp;<b class="foc-opt-1">21</b>&nbsp;&nbsp;&nbsp;&nbsp;
                                <span>粉丝</span>&nbsp;<b class="foc-opt-2">241</b>&nbsp;&nbsp;&nbsp;&nbsp;
                                <span>微博</span>&nbsp;<b class="foc-opt-3">211</b>&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                        <div class="foc foc-2">
                            <p><span>地址</span>&nbsp;&nbsp;&nbsp;&nbsp;<b class="foc-2-1">北京</b></p>
                            <p><b class="foc-2-2">助理</b></p>
                            <p>通过<b class="foc-2-3" style="color:#ec7a7a;">微博推荐</b>关注</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--提示性模态框-->
<div class="modal fade" id="pormpt" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">温馨提示</h4>
            </div>
            <div class="modal-body">
                <p style="text-align: center;font-size: 18px;color: #fff;font-weight: 900;">
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block my_js %}
<script src="/static/js/social_feedback-1.js"></script>
<script>
    judgment('2');
    $('.friends .dropdown-menu li').on('click',function(e) {
        $('.friends button b').attr('title',e.target.innerHTML).text(e.target.innerHTML);
    });
    $('#_timing').datetimepicker('setStartDate',new Date());
    $("#_timing").datetimepicker({
        format: "yyyy-mm-dd hh:ii",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left",
    });
    $('#_timing_recommend').datetimepicker('setStartDate',new Date());
    $("#_timing_recommend").datetimepicker({
        format: "yyyy-mm-dd hh:ii",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left",
    });

//    $('#container .type_page #content .commentEvery .com-3 .com-3-reply').on('click',function () {
//        var _name=$(this).parents('.commentAll').find('.com-1').find('b').text();
//        $('#container .type_page #content .commentClone .clone-1').attr('placeholder','回复'+_name);
//        $('#container .type_page #content .commentClone').show(80);
//    });

    $('.continue_already_created').on('click',function () {
        window.open('/registered/socialAccounts/');
    });
    $('.first_created').on('click',function () {
//        window.open('.html');
    });

</script>
{% endblock %}