/*内容样式*/
body {
    /*padding: 30px 0 ;*/
    background: url("/static/images/everybody_bg.jpg") no-repeat #0d3b6c;
    /*background-size: 100% 100%;*/
}
#container {
    width: 1000px;
    margin: 0 auto 50px;
    height: 100%;
    padding: 25px;
    background: rgba(8,23,44,0.8);
    position: relative;
    top: 80px;
}
#container .title {
    width: 100%;
    position: relative;
}
#container .title .tit-1 b,#container .title .tit-2 b {
    display: inline-block;
    margin-left: 15px;
    font-size: 18px;
    color: white;
    font-weight: 900;
}
#container .title #character {
    font-size: 16px;
    margin-top: 20px;
    padding:20px 10px;
    border: 1px solid silver;
}
#container .title #character .define {
    display: inline-block;
    margin:15px 0 5px 5px;
    width: 30%;
    color: white;
}
#container .title #role_example {
    /*position: absolute;*/
    /*top: 60px;*/
    /*right: 20px;*/
    color:#b0bdd0;
    /*border-radius: 10px;*/
    /*border: 1px solid silver;*/
    background: rgba(8,23,44,0.35);
}
#container .title #role_example li {
    list-style-type:disc;
    list-style-position: inside;
    color:#b0bdd0;
    display:inline-block;
    margin-left: 20px;
}
#container .title #character .define span,
#container .title #role_example li a {
    display: inline-block;
    width: 110px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:#b0bdd0;
    text-align: center;
}
#container .title #character .define span {
    color: #fff;
    text-align: left;
    position: relative;
    top: 4px;
}
/*账户创建信息*/
#container .account {
    position: relative;
    margin: 20px 0;
}
#container .account b{
    display: inline-block;
    margin-left: 15px;
    font-size: 18px;
    color: white;
    font-weight: 900;
}
#container .account .account-1 {
    font-size: 16px;
}
#container .account .account-1 div.options {
    margin-top: 10px;
}
#container .account .account-1 div.options span {
    display: inline-block;
    width: 100px;
    color: white;
}
#container .account .account-1 input {
    width: 650px;
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid silver;
    margin: 0 20px;
    background: transparent;
    text-align: center;
    color: white;
    border-radius: 5px;
}
#container .account .account-1 #gender {
    width: 650px;
    display: inline-block;
    margin: 0 20px;
    font-size: 14px;
    text-align: center;
}
#container .account .account-1 textarea {
    width: 650px;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 20px;
    background: transparent;
    color: white;
}
#container .account .account-1 a {
    font-size: 10px;
    color:white;
}
#container .account .account-2 {
    display: none;
    /*position: absolute;*/
    /*top:70px;*/
    /*right:50px;*/
    color:#b0bdd0;
    /*border-radius: 10px;*/
    /*border: 1px solid silver;*/
    background: rgba(8,23,44,0.35);
}
#container .account .account-2 li {
    list-style-type:disc;
    list-style-position: inside;
    color:#b0bdd0;
    display:inline-block;
    margin-left: 20px;
}
#container .account .account-2 li a {
    display: inline-block;
    width: 110px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:#b0bdd0;
    text-align: center;
}
/*其他信息*/
#container .other_basic {
    position: relative;
    margin: 20px 0;
}
#container .other_basic b{
    display: inline-block;
    margin-left: 15px;
    font-size: 18px;
    color: white;
    font-weight: 900;
}
#container .other_basic .other-1 {
    font-size: 16px;
}
#container .other_basic .other-1 div.others {
    margin-top: 10px;
}
#container .other_basic .other-1 div.others span._in {
    display: inline-block;
    width: 100px;
    color: white;
}
#container .other_basic .other-1 div.others a {
    font-size: 10px;
    color: white;
}
#container .other_basic .other-1 div.others .task_time input,
#container .other_basic .other-2 .postNUM{
    background: transparent;
    padding: 3px 8px;
    border: 1px solid silver;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    margin: 10px 15px;
    color: white;
}
#container .other_basic .other-2 .postNUM {
    width: 95px;
    margin: 0 15px;
}
#container .other_basic .other-2 {
    margin-top: 10px;
}
#container .other_basic .other-2 div.choose span {
    display: inline-block;
    width: 100px;
    color: white;
}
#container .other_basic .other-2 div.choose a {
    font-size: 10px;
    color: white;
}
#container .other_basic .other-3 {
    display: none;
    /*position: absolute;*/
    /*right:20px;*/
    /*top:55px;*/
    color:#b0bdd0;
    /*border-radius: 10px;*/
    /*border: 1px solid silver;*/
    background: rgba(8,23,44,0.35);
}
#container .other_basic .other-3 li {
    list-style-type:disc;
    list-style-position: inside;
    color:#b0bdd0;
    display:inline-block;
    margin-left: 20px;
}
#container .other_basic .other-3 li a {
    display: inline-block;
    width: 110px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:#b0bdd0;
    text-align: center;
}
/*分页*/
#container .page {
    padding: 10px;
    margin: 30px 0;
    text-align: center;
}
#container .page span {
    padding: 5px 10px;
    color: white;
    border: 1px solid silver;
    border-radius: 5px;
    background:rgba(117, 97, 97, 0.32);
    cursor: pointer;
}
#container .page span:hover {
    background: black;
}