body {
	height:1200px;
	background: url('../img/bg.jpg') no-repeat;
}
header {
	padding:0 20px;
	height:100px;
	background: url('../img/header-bg.png') no-repeat;
}
header>div.top,header>div.bottom {
	height:50px;
	line-height: 50px;

}
header>div.top>span {
	color:#fff;
	margin-right: 5px;
}
header>div.bottom>span {
	color:#fff;
	margin-right: 25px;
}
header h4 {
	text-align: center;
	margin:0;
	line-height:100px;
	color:#fff;
	font-size:30px;
	font-weight: bold;
}

.ico-16 {
	width:16px;
	height:16px;
	display: inline-block;
	background:  url("../img/ico-16.png") no-repeat;
	vertical-align: middle;
}
.ico-16.ico-certification {
	background-position: 0 0;
}
.ico-16.ico-v {
	background-position: 0 -16px;
}
.avatar-img {
	float: left;
}
.avatar-img img {
	width:80px;
	height:80px;
	border-radius: 50%;
}
.user-info {
	margin-top: 10px;
	float:left;
	margin-left: 10px;
	font-size:18px;
	color:#fff;
}
.user-info p {
	margin-top: 20px;
}
.user-info small {
	font-size: 16px;
	color:#fff;
	margin:0 10px 0 0;
	width:100px;
}
.tags {
	float: right;
	margin-top: 10px;
}
.tags span {
	background:  url("../img/top-tags-bg.png") no-repeat;
	display: inline-block;
	margin-left: 10px;
	font-size:16px;
	color:#fff;
	width:130px;
	height:60px;
	text-align: center;
	line-height: 60px;
}

.col-wrap {
	float:left;
	width:915px;
	margin:40px 0 0 30px;
}

.col-2-wrap {
	width:915px;
	height:450px;
	background: url('../img/2-col-bg.png') no-repeat;
}
.col-title {
	background: url('../img/col-title-bg.png') no-repeat;
	height:37px;
	line-height:37px;
	color:#04ddff;
	display: inline-block;
	width:129px;
	margin-left: 14px;
	text-align: center;
	font-size:16px;
}
.col-map-wrap {
	width:860px;
	height: 1200px;
	background: #ff0000;
	float: left;
	margin:0 15px;
	background: url('../img/map-bg.png') no-repeat;
}
.col-2s-wrap {
	width:485px;
	float:left;
}
.col-2s-single-wrap  {
	background: url('../img/2s-col-bg.png') no-repeat;
	width:485px;
	height:310px;
	position: relative;
}
.col-single-wrap {
	margin:76px 0 0 30px;
	width:1860px;
	height:970px;
	background: url('../img/single-col-bg.png') no-repeat;
}
.danger-title {
	font-size:14px;
	color:#fff;
	margin-top: 30px;
}
.danger-list {
	width:298px;
}
.danger-single {
	color:#fff;
	background:#032754;
	font-size:12px;
	border:1px solid #3888eb;
	margin-top:12px;
}
.danger-single .media .media-left img {
	width:45px;
	height:45px;
	border-radius: 50%;

}
.danger-single .media {
	padding:5px;
}
.danger-single .media-heading {
	margin:8px 0;
}
.data-info-wrap {
	padding:30px 0 0 30px;
}
.data-info-wrap li {
	float: left;
	color:#fff;
	margin-right: 30px;
	font-size:14px;
}
.data-info-wrap li:first-child {
	color:#04ddff;
}
.data-info-wrap li p {
	line-height:30px;
}
.svg-wrap {
	text-align: center;
}
.nice-select {
	display: inline-block;
	float: none;
}
.title-tab-wrap {
 position: absolute;
	right:22px;
	top:-20px;
}
.title-tab-wrap li {
	float: left;
	margin:0 10px;

}
.title-tab-wrap li a {
	color:#fff;
}
.title-tab-wrap li.active a {
	color:#04ddff;
	text-decoration: none;
}


/*----------------------------
	Styling the timeline
-----------------------------*/


#timeline{
	background:none;
	margin:10px 0 0 30px;
}

.slider .slider-container-mask .slider-container{
	background:none;
}

#timeline div.navigation{
	background: url('../img/timeline_bg.jpg') repeat;
	border-top:none;
}

/* Creating the 3D effect for the timeline navigation */

#timeline div.navigation:before{
	position:absolute;
	content:'';
	height:40px;
	width:100%;
	left:0;
	top:-40px;
	background: url('../img/timeline_bg.jpg') repeat;
}

#timeline div.navigation:after{
	position:absolute;
	content:'';
	height:10px;
	width:100%;
	left:0;
	top:-40px;
	background:repeat-x;

	background-image: linear-gradient(bottom, #434446 0%, #363839 100%);
	background-image: -o-linear-gradient(bottom, #434446 0%, #363839 100%);
	background-image: -moz-linear-gradient(bottom, #434446 0%, #363839 100%);
	background-image: -webkit-linear-gradient(bottom, #434446 0%, #363839 100%);
	background-image: -ms-linear-gradient(bottom, #434446 0%, #363839 100%);
}


/* Adding a darker background to the timeline navigation */

#timeline div.timenav-background{
	background-color:#222 !important;
	background-color:rgba(0,0,0,0.4) !important;

}

#timeline .navigation .timenav-background .timenav-interval-background{
	background:none;
}

#timeline .top-highlight{
	background-color:transparent !important;
}

/* The zoom-in / zoom-out toolbar */

#timeline .toolbar{
	border:none !important;
	background-color: #202222 !important;
}

#timeline .toolbar div{
	border:none !important;
}

/* Styling the timeline numbers on the bottom */

#timeline .navigation .timenav .time .time-interval-minor .minor{
	margin-left:-1px;
}

#timeline .navigation .timenav .time .time-interval div{
	color: #CCCCCC;
}

/* The vertical lines */

#timeline .navigation .timenav .content .marker .line {
	background: #242828;
	box-shadow: 1px 0 0 rgba(255, 255, 255, 0.05);
}

#timeline .navigation .timenav .content .marker .dot {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 3px 3px 3px 3px;
}

/* The previous / next arrows & labels */

.slider .nav-previous .icon {
	background: url("../img/timeline.png") no-repeat scroll 0 -293px transparent;
}

.slider .nav-previous,.slider .nav-next{
	font-family:'Segoe UI',sans-serif;
}

.slider .nav-next .icon {
	background: url("../img/timeline.png") no-repeat scroll 72px -221px transparent;
	width: 70px !important;
}

.slider .nav-next:hover .icon{
	position:relative;
	right:-5px;
}

.slider .nav-previous:hover, .slider .nav-next:hover {
	color: #666;
	cursor: pointer;
}

#timeline .thumbnail {
	border: medium none;
}

/* Color of the headings */

#timeline h1, #timeline h2, #timeline h3, #timeline h4, #timeline h5, #timeline h6{
	color:#ddd;
}

/* The loading screen */

#timeline .feedback {
	background-color: #222222;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2) inset;
	border:none;
}

#timeline .feedback div{
	color: #AAAAAA;
	font-size: 14px !important;
	font-weight: normal;
}


/*----------------------------
	The Slides
-----------------------------*/


#timeline .slider-item h2,
#timeline .slider-item h3{
	font-family:'Antic Slab','Segoe UI',sans-serif;
}

#timeline .slider-item h2{
	color:#fff;
}

#timeline .slider-item p{
	font-family:'Segoe UI',sans-serif;
}


#timeline .slider-item img,
#timeline .slider-item iframe{
	border:none;
}

/* Customizing the first slide - the cover */

#timeline .slider-item:nth-child(1) h2{
	font:normal 70px/1 'Antic Slab','Segoe UI',sans-serif;
	background:rgba(0,0,0,0.3);
	white-space: nowrap;
	padding:10px 5px 5px 20px;
	position:relative;
	right:-60px;
	z-index:10;
}

#timeline .slider-item:nth-child(1) p i{
	font:normal normal 40px 'Dancing Script','Segoe UI',sans-serif;
	background:rgba(0,0,0,0.3);
	white-space: nowrap;
	padding:5px 20px;
	position:relative;
	right:-60px;
	z-index:10;
}

#timeline .slider-item:nth-child(1) p .c1{
	color:#1bdff0;
}

#timeline .slider-item:nth-child(1) p .c2{
	color:#c92fe6;
}

#timeline .slider-item:nth-child(1) .media-container {
	left: -30px;
	position: relative;
	z-index: 1;
}
#timeline .slider-item .media-container {
	border: 10px solid #fff;
}
#timeline .slider-item .media-container .credit {
	height: 80px;
	background: #fff;
	line-height: 80px;

}
#timeline .slider-item:first-child .media-container .credit{
	display: none;

}
#timeline .slider-item:first-child .media-container {
	border:0;
}



#timeline .slider-item:nth-child(1) .credit{
	text-align: center;
}
