{% extends "publicNav.html" %}
{% block title %}<title>预警监控 - 人物行为预警</title>{% endblock %}
{% block my_css %}
<link rel="stylesheet" href="/static/css/character_behaviorTwitter.css">
<style>
    .demo-label{display:inline-block}
    .demo-radio{display:none}
    .demo-radioInput{cursor:pointer;background-color:#eee;border-radius:100%;display:inline-block;height:16px;vertical-align:middle;width:16px;line-height:1}
    .demo-radio:checked + .demo-radioInput:after{background-color:#57ad68;border-radius:100%;content:"";display:inline-block;height:12px;margin:2px;width:12px}
    .demo-checkbox.demo-radioInput,.demo-radio:checked + .demo-checkbox.demo-radioInput:after{border-radius:0}
    /**/
    #weiboContent .demo-label{display: none;}
    .bootstrap-table {
        margin: 0 auto;
        height: auto!important;
    }
    .table-no-bordered,.table>tbody>tr>td,.fixed-table-container,
    .bootstrap-table .table>thead>tr>th,.bootstrap-table .table,.table>tbody>tr>td{
        border: none;
    }
    .bootstrap-table thead,.fixed-table-pagination .page-list {
        display: none!important;
    }
    .fixed-table-body {
        height: auto!important;
        overflow-y: hidden;
    }
    .bootstrap-table .table:not(.table-condensed),.bootstrap-table .table:not(.table-condensed)>tbody>tr>td,
    .table>tbody>tr>td{
        padding: 0!important;
    }
    .fixed-table-container {top: 15px;}
    .table-hover>tbody>tr:hover {
        background-color: inherit!important;
    }
    .fixed-table-toolbar .search {width: 100%;}
    .form-control {
        text-align: center;
        font-size: 14px;
        color: white;
        border: 1px solid silver;
        border-radius: 5px;
        padding: 4px 7px;
        background: rgba(8,23,44,0.35);
    }
    .table:not(.table-condensed)>tbody>tr>td {
        text-align: left!important;
    }
    /**/
</style>
{% endblock %}
{% block main %}
<div id="container">
    <div class="title">
        <div style="display: inline-block;">
            <span class="icon icon-user-md note_icon" style="color: #fff;"></span>
            <b style="font-size: 20px;color: #fff;">人物行为预警</b>
        </div>
        <!-- <div class="output1" id="output1">导出至Excel文件</div>
        <div class="output2" id="output2">导出至Word文件</div> -->
    </div>
    <div class="weiboContent">
        <div id="weiboContent">
            <p style="width: 100%;text-align: center;margin-top: 40px;color: white;">正在拼命加载中...</p>
        </div>
    </div>
</div>

<!--模态框-->
<!--提示-->
<div class="modal fade" id="pormpt" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">温馨提示</h4>
            </div>
            <div class="modal-body">
                <p style="text-align: center;font-size: 18px;color: #fff;font-weight: 900;"></p>
            </div>
        </div>
    </div>
</div>
<!---->
{% endblock %}

{% block my_js %}
<script>
    var loadingType='faceBook';
    weiboORqq('faceBook');
    $('.nav_type').text('(FaceBook)');
    judgmentFaceBook('4');
    $('.demo-radio').on('click',function () {
        console.log(!!$(this).is(':checked'))
    })

    $(".form_datetime").datetimepicker({
        format: "yyyy-mm-dd hh:ii",
        //minView:2, //控制时分秒
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left"
    });
    $('.start').on('changeDate', function(ev){
        $('.end').datetimepicker('setStartDate',ev.date);
    });
    $('.end').on('changeDate', function(ev){
        $('.start').datetimepicker('setEndDate',ev.date);
    });

</script>
<script src="/static/js/character_behaviorFaceBook-1.js"></script>
{% endblock %}
