{% extends "publicNav.html" %}
{% block title %}<title>预警监控 - 社区详情</title>{% endblock %}
{% block my_css %}
<link rel="stylesheet" href="/static/css/community-detail.css">
<style>
    /* 基本信息 */
    .essential-information {
        font-size:18px;
        font-weight:700;
        text-align:center;
        padding:10px 0 20px 0;
    }
    .essential-information .det-span {
        margin:10px 30px;
    }
    .essential-information .det {
        color:#f98077;
    }

    /* ----------------- */
    /* 人数变化 ----折线图*/
    #people-num  ,#sensitivity ,#influence ,#convergence {
        float:left;
        width:49%;
        height:300px;
        /* border: 1px solid #01b4ff; */
    }
    #people-num  ,#sensitivity {
        margin-bottom:20px;
    }
    #sensitivity ,#convergence {
        margin-left:2%;
    }
    /* --------------- */


    /* tab栏 */
    .type_page {
        width: 96%;
        margin: 20px auto 30px;
    }
    #container .type_page #myTabs a{
        color:#fff;
    }
    .nav>li>a:focus, .nav>li>a:hover {
        background-color: rgba(5, 23, 55, 0.45);
    }
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
        background-color: rgba(7,26,55,0.2);
    }
    /* 搜索框 */
    .fixed-table-toolbar .search{
        width: 100%;
    }
    /* 表格样式 */
    .bootstrap-table .table>thead>tr>th{
        width: 7%;
    }
    .fixed-table-container tbody .selected td {
        background-color: #2a556f!important;
    }
    /* tab栏社区详情  边框*/
    #member-change-1 ,#member-change-2 {
        border-bottom:none;
    }
    #member-change-1 thead th ,#member-change-2 thead th{
        border-top:none;
    }
    /* 蓝色小标题 */
    .details-title {
        margin:20px auto 10px;
    }

    /* tab栏 基本特征 */
    #basic {
        /* margin:20px 0 30px 0; */
    }
    #basic-1, #basic-2 {
        width:49%;
        float:left;
        height:300px;
        /* border: 1px solid #01b4ff; */
        margin:20px 0;
    }
    #basic-2 {
        margin-left:2%;
    }

    /* 解决echarts图表在tab中的宽度问题 */
    .tab-content > .tab-pane,
    .pill-content > .pill-pane {
        display: block;     /* undo display:none          */
        height: 0;          /* height:0 is also invisible */
        overflow-y: hidden; /* no-overflow                */
    }
    .tab-content > .active,
    .pill-content > .active {
        height: auto; /* let the content decide it */
    }
    /* 典型帖子 */
    #basic-3 {
        float:left;
        margin:20px 0 30px 0;
        width:100%;
        /* height:400px; */
        /* border: 1px solid #01b4ff; */
    }
    #basic-3 .details-title{
        margin-top:0;
    }

    /*------典型帖子------*/
    #basic-3-content thead {
        display:none !important;
    }
    #basic-3-content tbody td {
        border-top:none;
    }
    #basic-3-content {
        border:none;
    }
    #basic-3 .fixed-table-container{
        border:none;
    }
    .fixed-table-pagination .page-list{
        display:none !important;;
    }
    #basic-3 .table-hover>tbody>tr:hover{
        background:transparent !important;
    }

    /* 社交特征 */
    #social {overflow: hidden;}
    /*.social-content-1,.social-content-3 {*/
        /*float: left;*/
    /*}*/
    /*.social-content-2,.social-content-4{*/
        /*float: right;*/
    /*}*/
    #social-content-1, #social-content-3{
        height:400px;
        width:800px;
        margin: 20px auto 0;
    }
</style>
{% endblock %}
{% block main %}
<div id="container">
    <div class="title">
        <div style="display: inline-block;">
            <span class="icon icon-calendar note_icon" style="color: #fff;"></span>
            <b style="font-size: 20px;color: #fff;">社区基本信息</b>
        </div>
    </div>
    <!-- 社区详情 -->
    <div class="community-detail clearfix">
        <!-- 基本信息 -->
        <p class="essential-information">
            <span class="det-span"><span>社区名称：</span><span class="det det1"></span></span>
            <span class="det-span"><span>初次创建时间：</span><span class="det det2"></span></span>
            <span class="det-span"><span>社区人数：</span><span class="det det3"></span></span>
        </p>
    </div>
    <!-- tab栏 -->
    <div class="type_page">
        <ul id="myTabs" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active" thisModal="user" task="community_user">
                <a href="#community-details" role="tab" data-toggle="tab"><b class="icon icon-lightbulb"></b>&nbsp;社区人员</a>
            </li>
            <li role="penetration" thisModal="content" task="socialContent">
                <a href="#basic" role="tab" data-toggle="tab"><b class="icon icon-tint"></b>&nbsp;社区内容</a>
            </li>
            <li role="presentation" thisModal="netgragh" task="social">
                <a href="#social" role="tab" data-toggle="tab"><b class="icon icon-glass"></b>&nbsp;社交特征</a>
            </li>
        </ul>
        <div class="behavior">
            <div class="tab-content" id="content">
                <!-- 社区详情 -->
                <div role="tabpanel" class="tab-pane active" id="community-details">
                    <!-- 成员变换信息 -->
                    <p class="details-title" style="font-size: 16px;color:#01b4ff;"><i class="icon icon-bookmark"></i> 社区成员列表</p>
                    <div class="member-change-1">
                        <div id="member-change-1"><p style="width: 100%;text-align: center;margin-top: 40px;color: white;">正在拼命加载中...</p></div>
                    </div>
                    <!-- 社区成员列表 -->
                    <p class="details-title" style="font-size: 16px;color:#01b4ff;"><i class="icon icon-bookmark"></i> 社区成员变化列表</p>
                    <div class="member-change-2">
                        <div id="member-change-2"><p style="width: 100%;text-align: center;margin-top: 40px;color: white;">正在拼命加载中...</p></div>
                    </div>
                </div>
                <!-- 基本特征 -->
                <div role="tabpanel" class="tab-pane clearfix " id="basic">
                    <div id="basic-1"></div>
                    <div id="basic-2"></div>
                    <div id="basic-3">
                        <p class="details-title" style="font-size: 16px;color:#01b4ff;"><i class="icon icon-bookmark"></i> 典型帖子</p>
                        <div class="orderType">
                            排序方式：
                            <label class="demo-label">
                                <input class="demo-radio" type="radio" name="sort" value='sensitive' checked>
                                <span class="demo-checkbox demo-radioInput"></span> 按敏感度
                            </label>
                            <label class="demo-label">
                                <input class="demo-radio" type="radio" name="sort" value='retweeted'>
                                <span class="demo-checkbox demo-radioInput"></span> 按热度
                            </label>
                            <label class="demo-label">
                                <input class="demo-radio" type="radio" name="sort" value='timestamp'>
                                <span class="demo-checkbox demo-radioInput"></span> 按时间
                            </label>
                        </div>
                        <div class="basic-3-content">
                            <p style="width: 100%;text-align: center;margin-top: 40px;color: white;">正在拼命加载中...</p>
                            <div id="basic-3-content"></div>
                        </div>
                    </div>
                </div>
                <!-- 社交特征 -->
                <div role="tabpanel" class="tab-pane" id="social">
                    <div class="social" style="overflow: hidden">
                        <div class="social-content-1">
                            <p style="font-size: 16px;color:#01b4ff;margin-top:18px;"><i class="icon icon-bookmark"></i>  社区内部核心用户交互关系</p>
                            <div id="social-content-1"></div>
                        </div>
                        <div class="social-content-2">
                            <div id="social-content-2"></div>
                        </div>
                    </div>
                    <hr/>
                    <div class="social-content-3">
                        <p style="font-size: 16px;color:#01b4ff;margin-top:18px;"><i class="icon icon-bookmark"></i>  外部用户与核心用户交互关系</p>
                        <div id="social-content-3"></div>
                    </div>
                    <div class="social-content-4">
                        <div id="social-content-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--提示弹框-->
<!-- <div class="modal fade" id="pormpt" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">温馨提示</h4>
            </div>
            <div class="modal-body">
                <p style="text-align: center;font-size: 18px;color: #fff;font-weight: 900;"></p>
            </div>
        </div>
    </div>
</div> -->
<!--模态框-->
{% endblock %}

{% block my_js %}
<script>
    var loadingType = 'weibo';
    weiboORqq('weibo');
    $('.nav_type').text('(微博)');
    judgment('4');
    $(".form_datetime").datetimepicker({
        format: "yyyy-mm-dd hh:ii",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left"
    });
    $('#start').on('changeDate', function(ev){
        $('#end').datetimepicker('setStartDate',ev.date);
    });
    $('#end').on('changeDate', function(ev){
        $('#start').datetimepicker('setEndDate',ev.date);
    });
    $('.det1').text('{{communityName}}');
    $('.det2').text(getLocalTime('{{communityTime}}'));
    $('.det3').text('{{communityPeople}}');
    var communityId='{{communityID}}';
</script>

<script src="/static/js/chalk.js"></script>
<script src="/static/echarts/wordcloud.min.js"></script>
<script src="/static/js/community_detail.js"></script>

{% endblock %}
