{% extends "publicNav.html" %}
{% block title %}<title>预警监控 - 社区预警</title>{% endblock %}
{% block my_css %}
<link rel="stylesheet" href="/static/css/time_warning.css">
<style>
    /* 跟踪社区列表  新增社区列表  边框*/
    #track-community ,#new-track-community {
        border-bottom:none;
    }
    #track-community thead th ,#new-track-community thead th {
        border-top:none;
    }
    /* 搜索框 */
    .fixed-table-toolbar .search{
        width: 100%;
    }
    /* 表格样式 */
    .bootstrap-table .table>thead>tr>th{
        width: 9%;
    }
    .fixed-table-container tbody .selected td {
        background-color: #2a556f!important;
    }
    /* 社区名称下拉选选项 */
    #track-community thead th[data-field="b"]:hover{
        cursor:pointer;
    }
    #track-community thead th[data-field="b"] {
        position:relative;
    }
    #track-community thead th[data-field="b"] div.th-inner{
        position:relative;
        overflow:visible;
    }
    #track-community thead th[data-field="b"] #downbox {
        position:absolute;
        /* left:0; */
        display:none;
        z-index:9999;
    }
    #downbox {
        background-color: #0a1f3b;
        width:150px;
        position:absolute;
        display:none;
        z-index:9999;
    }
    #downbox li {
        border: 1px solid silver;
    }
    #downbox li:hover{
        cursor:pointer;
        background-color: #2a556f;
    }
    .community-name-box {
        position:relative;
        /* overflow:visible; */
        cursor:pointer;
    }
    .fixed-table-body {
        overflow:visible;
    }
    /* 核心人物列表、关键词、影响力 */
    .detailed-content {
        display:none;
    }
    .table-striped>tbody>tr:nth-of-type(odd){
        background-color: transparent;
    }
    /* 关键词 */
    #keyword {
        height: 300px;
        width: 100%;
        display:block;
    }
    /* 核心人物列表 关键词 --标题*/
    .detailed-content-title{
        font-size:18px;
        font-weight:600;
        margin-bottom:18px;
    }
</style>
{% endblock %}
{% block main %}
<div id="container">
    <div class="title">
        <div style="display: inline-block;">
            <span class="icon icon-calendar note_icon" style="color: #fff;"></span>
            <b style="font-size: 20px;color: #fff;">社区监测</b>
        </div>
    </div>
    <!-- 社区列表 -->
    <div class="community-list">
        <p style="font-size: 16px;color:#01b4ff;margin-top:18px;"><i class="icon icon-bookmark"></i> 跟踪社区列表</p>
        <div id="track-community">
            <p style="width: 100%;text-align: center;margin-top: 40px;color: white;">正在拼命加载中...</p>
        </div>
        <p style="font-size: 16px;color:#01b4ff;margin-top:18px;"><i class="icon icon-bookmark"></i> 新发现社区列表</p>
        <div id="new-track-community">
            <p style="width: 100%;text-align: center;margin-top: 40px;color: white;">正在拼命加载中...</p>
        </div>
    </div>
</div>

<!--提示弹框-->
<div class="modal fade" id="pormpt" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="detailed-content">
                    <h3 class="detailed-content-title"><i class="icon icon-circle" style="color:#01b4ff;margin-right:10px;"></i><span> 核心人物列表</span></h3>
                    <!-- 核心人物列表 -->
                    <div id="person-list"></div>
                    <!-- 关键词 -->
                    <h3 class="detailed-content-title"><i class="icon icon-circle" style="color:#01b4ff;margin-right:10px;"></i><span> 微话题关键词云</span></h3>
                    <div id="keyword"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--模态框-->
{% endblock %}

{% block my_js %}
<script>
    var loadingType = 'weibo';
    weiboORqq('weibo');
    $('.nav_type').text('(微博)');
    judgment('4');
    $(".form_datetime").datetimepicker({
        format: "yyyy-mm-dd hh:ii",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left"
    });
    $('#start').on('changeDate', function(ev){
        $('#end').datetimepicker('setStartDate',ev.date);
    });
    $('#end').on('changeDate', function(ev){
        $('#start').datetimepicker('setEndDate',ev.date);
    });
</script>
<script src="/static/js/chalk.js"></script>
<script src="/static/echarts/wordcloud.min.js"></script>
<script src="/static/js/community_warning.js"></script>
{% endblock %}
