{% extends "publicNav.html" %}
{% block title %}<title>预警监控 - 事件涌现预警</title>{% endblock %}
{% block my_css %}
<link rel="stylesheet" href="/static/css/event_emergesTwitter.css">
<style>
    /**/
    .event-2 .mainWeibo .bootstrap-table {
        margin: 0 auto;
        height: auto!important;
    }
    .event-2 .mainWeibo .table-no-bordered,.event-2 .mainWeibo .fixed-table-container,
    .event-2 .mainWeibo .bootstrap-table .table>thead>tr>th,.event-2 .mainWeibo .bootstrap-table .table,.event-2 .mainWeibo .table>tbody>tr>td{
        border: none;
    }
    .event-2 .mainWeibo .fixed-table-pagination .page-list {
        display: none!important;
    }
    .event-2 .mainWeibo .fixed-table-body {
        height: auto!important;
        overflow-y: hidden;
    }
    .event-2 .mainWeibo .bootstrap-table .table:not(.table-condensed),.event-2 .mainWeibo .bootstrap-table .table:not(.table-condensed)>tbody>tr>td,
    .event-2 .mainWeibo .table>tbody>tr>td{
        padding: 0!important;
    }
    .event-2 .mainWeibo .fixed-table-container {top: 15px;}
    .event-2 .mainWeibo .table-hover>tbody>tr:hover {
        background-color: inherit!important;
    }
    .fixed-table-toolbar .search {width: 100%;}
    .event-2 .mainWeibo .form-control {
        text-align: center;
        font-size: 14px;
        color: white;
        border: 1px solid silver;
        border-radius: 5px;
        padding: 4px 7px;
        background: rgba(8,23,44,0.35);
    }
    /*.event-2 .mainWeibo .table:not(.table-condensed)>tbody>tr>td {*/
    /*text-align: left!important;*/
    /*}*/
    /**/
    .event-2 .fixed-table-container thead th .both {
        background-image:none!important;
    }
    .table .table {
        background: transparent!important;
    }
    .bootstrap-table .table>thead>tr>th {width: 7%;}
    /**/
    .demo-label{display:inline-block}
    .demo-radio{display:none}
    .demo-radioInput{cursor:pointer;background-color:#eee;border-radius:100%;display:inline-block;height:16px;vertical-align:middle;width:16px;line-height:1}
    .demo-radio:checked + .demo-radioInput:after{background-color:#57ad68;border-radius:100%;content:"";display:inline-block;height:12px;margin:2px;width:12px}
    .demo-checkbox.demo-radioInput,.demo-radio:checked + .demo-checkbox.demo-radioInput:after{border-radius:0}

    #weiboContent .demo-label{display: none;}
    #div-button input {
        border:1px solid silver;
        border-radius: 5px;
        padding: 3px 5px;
        font-size: 10px;
        background: transparent;
    }
    #start,#end,#sure {
        display:none;
    }
    #sure {
        padding:1px 6px;
        color: white;
        font-size: 12px;
        border: 1px solid silver;
        border-radius: 5px;
        background:transparent;
        cursor: pointer;
    }
    #sure:hover {
        background: rgba(8,23,44,0.65);
    }
</style>
{% endblock %}
{% block main %}
<div id="container">
    <div class="title">
        <div style="display: inline-block;">
            <span class="icon icon-fire note_icon" style="color: #fff;"></span>
            <b style="font-size: 20px;color: #fff;">事件涌现预警</b>
        </div>
    </div>
    <div class="choosetime" style="margin: 10px 0;">
        <label class="demo-label">
            <input class="demo-radio" type="radio" name="time" value='0' checked>
            <span class="demo-checkbox demo-radioInput"></span> 今天
        </label>
        <label class="demo-label">
            <input class="demo-radio" type="radio" name="time" value='1'>
            <span class="demo-checkbox demo-radioInput"></span> 昨天
        </label>
        <label class="demo-label">
            <input class="demo-radio" type="radio" name="time" value='7'>
            <span class="demo-checkbox demo-radioInput"></span> 7天
        </label>
        <label class="demo-label">
            <input class="demo-radio" type="radio" name="time" value='30'>
            <span class="demo-checkbox demo-radioInput"></span> 30天
        </label>
        <label class="demo-label">
            <input class="demo-radio" type="radio" name="time" value='mize'>
            <span class="demo-checkbox demo-radioInput"></span> 自定义
        </label>
        <input type="text" size="16" id="start" class="form_datetime" placeholder="开始时间"
               style="height: 20px;font-size: 10px;color: white;text-align: center;
                        padding:2px 4px;border: 1px solid silver;background: rgba(8,23,44,0.25);">
        <input type="text" size="16" id="end" class="form_datetime" placeholder="结束时间"
               style="height: 20px;font-size: 10px;color: white;text-align: center;
                        padding:2px 4px;border: 1px solid silver;background: rgba(8,23,44,0.25);">
        <span id="sure" class="sureTime">确定</span>
    </div>
    <div class="weiboContent">
        <!--<div id="weiboContent"></div>-->
        <div id="group_emotion_loading" style="display:block;text-align:center;">正在加载，请稍后...</div>
        <div id="influeweibo" style="overflow-x: auto; overflow-y: auto;height:auto;">
            <table id="input-table" class="In-table" style="width:100%;">
                <tbody class="In-table" style='width:100%!important;'>
                </tbody>
            </table>
        </div>
        <div class='fanye' style="width:100%;text-align:center;margin-top: 20px;">
            <div style="display:none;">
                每页显示<input type="text" id="PageNo" size="1" value="1" style='text-align:center;border:1px solid #ccc;'/>组
            </div>
            <div id="div-button" style="display:inline-block;margin-left:5px;">
                <input type="button" value="首页" id="F-page">
                <input type="button" value="上一页" id="Pre-page">
                <input type="button" value="下一页" id="Nex-page">
                <input type="button" value="尾页" id="L-page">
            </div>
            <span style="display:inline-block;">&nbsp;当前第<span id="s2"></span>页</span>
            <span style="display:inline-block;">总共<span id="s1"></span>页</span>
        </div>
    </div>

</div>

<!--模态框-->
<!--提示弹框-->
<div class="modal fade" id="pormpt" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">温馨提示</h4>
            </div>
            <div class="modal-body">
                <p style="text-align: center;font-size: 18px;color: #fff;font-weight: 900;">

                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block my_js %}
<script>
    var loadingType='twitter';
    weiboORqq('twitter');
    $('.nav_type').text('(twitter)');
    judgmentTwitter('4');

    $(".form_datetime").datetimepicker({
        format: "yyyy-mm-dd hh:ii",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left"
    });
    $('#start').on('changeDate', function(ev){
        $('#end').datetimepicker('setStartDate',ev.date);
    });
    $('#end').on('changeDate', function(ev){
        $('#start').datetimepicker('setEndDate',ev.date);
    });

</script>
<script src="/static/js/event_emergesTwitter-1.js"></script>
{% endblock %}
