{% extends "publicNav.html" %}
{% block title %}<title>预警监控 - 事件涌现预警</title>{% endblock %}
{% block my_css %}
<link rel="stylesheet" href="/static/css/event_emerges.css">
<style>
    /**/
    .event-2 .mainWeibo .bootstrap-table {
        margin: 0 auto;
        height: auto!important;
    }
    .event-2 .mainWeibo .table-no-bordered,.table>tbody>tr>td,.event-2 .mainWeibo .fixed-table-container,
    .event-2 .mainWeibo .bootstrap-table .table>thead>tr>th,.event-2 .mainWeibo .bootstrap-table .table,.event-2 .mainWeibo .table>tbody>tr>td{
        border: none;
    }
    .event-2 .mainWeibo .bootstrap-table thead,.event-2 .mainWeibo .fixed-table-pagination .page-list {
        display: none!important;
    }
    .event-2 .mainWeibo .fixed-table-body {
        height: auto!important;
        overflow-y: hidden;
    }
    .event-2 .mainWeibo .bootstrap-table .table:not(.table-condensed),.event-2 .mainWeibo .bootstrap-table .table:not(.table-condensed)>tbody>tr>td,
    .event-2 .mainWeibo .table>tbody>tr>td{
        padding: 0!important;
    }
    .event-2 .mainWeibo .fixed-table-container {top: 15px;}
    .event-2 .mainWeibo .table-hover>tbody>tr:hover {
        background-color: inherit!important;
    }
    .event-2 .mainWeibo .fixed-table-toolbar .search {width: 100%;}
    .event-2 .mainWeibo .form-control {
        text-align: center;
        font-size: 14px;
        color: white;
        border: 1px solid silver;
        border-radius: 5px;
        padding: 4px 7px;
        background: rgba(8,23,44,0.35);
    }
    .event-2 .mainWeibo .table:not(.table-condensed)>tbody>tr>td {
        text-align: left!important;
    }

    /**/
    .demo-label{display:inline-block}
    .demo-radio{display:none}
    .demo-radioInput{cursor:pointer;background-color:#eee;border-radius:100%;display:inline-block;height:16px;vertical-align:middle;width:16px;line-height:1}
    .demo-radio:checked + .demo-radioInput:after{background-color:#57ad68;border-radius:100%;content:"";display:inline-block;height:12px;margin:2px;width:12px}
    .demo-checkbox.demo-radioInput,.demo-radio:checked + .demo-checkbox.demo-radioInput:after{border-radius:0}
</style>
{% endblock %}
{% block main %}
<div id="container">
    <div class="title">
        <div style="display: inline-block;">
            <span class="icon icon-fire note_icon" style="color: #fff;"></span>
            <b style="font-size: 20px;color: #fff;">事件涌现预警</b>
        </div>
        <div class="output1">导出至Excel文件</div>
        <div class="output2">导出至Word文件</div>
    </div>
    <div class="weiboContent">
        <div id="weiboContent"></div>
    </div>
    <div class="everyEvent" style="margin:0 auto;">
        <div class="event_center">
            <div style="margin: 10px 0;">
                <label class="demo-label">
                    <input class="demo-radio" type="checkbox" name="demo-checkbox">
                    <span class="demo-checkbox demo-radioInput"></span>
                </label>
                <img src="/static/images/post-6.png" class="center_icon">
                <a class="center_1">小小猪猪侠</a>
                <a class="report" onclick="oneUP(this)" style="margin-left: 50px;"><i class="icon icon-upload-alt"></i>  一键上报</a>
            </div>
            <div class="centerdetails" style="padding-left:40px;">
                <div class="event-1">
                    <p style="font-size: 16px;color:#01b4ff;"><i class="icon icon-bookmark"></i> 主要参与用户</p>
                    <div class="mainJoin">
                        <div id="mainJoin"></div>
                    </div>
                </div>
                <div class="event-2">
                    <p style="font-size: 16px;color:#01b4ff;"><i class="icon icon-bookmark"></i> 相关典型微博</p>
                    <div class="mainWeibo">
                        <div id="mainWeibo"></div>
                    </div>
                </div>

                <div class="center_rel">
                    <div class="icons">
                        <i class="icon icon-warning-sign weiboFlag"></i>
                    </div>
                    <span class="center_2">
                    【郑州现《人民的名义》现实版窗口：站也不是 蹲也不是】据网友@张琬晖 爆料，郑州市社保局办事窗口不高不低，站也不是，蹲也不是，和《人民的名义》演的一样一样的！@映象网 调查发现，2014年就有媒体关注过这个问题，但一直未整改。达康书记@吴刚de微博 你快来看看吧！
                </span>
                    <div class="center_3">
                        <span class="cen3-1"><i class="icon icon-time"></i>&nbsp;&nbsp;2017-11-12 11:23</span>
                        <span class="cen3-2"><i class="icon icon-share"></i>&nbsp;&nbsp;转发（<b class="forwarding">222</b>）</span>
                        <span class="cen3-3"><i class="icon icon-comments-alt"></i>&nbsp;&nbsp;评论（<b class="comment">222</b>）</span>
                        <span class="cen3-4"><i class="icon icon-thumbs-up"></i>&nbsp;&nbsp;赞（<b class="praise">222</b>）</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--模态框-->
<!--提示弹框-->
<div class="modal fade" id="pormpt" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">温馨提示</h4>
            </div>
            <div class="modal-body">
                <p style="text-align: center;font-size: 18px;color: #fff;font-weight: 900;">

                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block my_js %}
<script>
    judgment('4');
    $('.demo-radio').on('click',function () {
        console.log(!!$(this).is(':checked'))
    })

    $(".form_datetime").datetimepicker({
        format: "yyyy-mm-dd hh:ii",
        //minView:2, //控制时分秒
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left"
    });
    $('.start').on('changeDate', function(ev){
        $('.end').datetimepicker('setStartDate',ev.date);
    });
    $('.end').on('changeDate', function(ev){
        $('.start').datetimepicker('setEndDate',ev.date);
    });

</script>
<script src="/static/js/event_emerges-1.js"></script>
{% endblock %}
