{% extends "publicNav.html" %}
{% block title %}<title>预警监控 - 言论内容预警</title>{% endblock %}
{% block my_css %}
<link rel="stylesheet" href="/static/css/speech_content.css">
<style>
    .demo-label{display:inline-block}
    .demo-radio{display:none}
    .demo-radioInput{cursor:pointer;background-color:#eee;border-radius:100%;display:inline-block;height:16px;vertical-align:middle;width:16px;line-height:1}
    .demo-radio:checked + .demo-radioInput:after{background-color:#57ad68;border-radius:100%;content:"";display:inline-block;height:12px;margin:2px;width:12px}
    .demo-checkbox.demo-radioInput,.demo-radio:checked + .demo-checkbox.demo-radioInput:after{border-radius:0}
</style>
{% endblock %}
{% block main %}
<div id="container">
    <div class="title">
        <div style="display: inline-block;">
            <span class="icon icon-book note_icon" style="color: #fff;"></span>
            <b style="font-size: 20px;color: #fff;">言论内容预警</b>
        </div>

        <div class="speakType">
            <span>内容分类：</span>
            <select id="typelist">
                <option value="未关注">未关注</option>
                <option value="已关注">已关注</option>
            </select>
        </div>
        <div class="output">导出至Excel文件</div>
    </div>
    <div class="weiboContent" style="">
        <div class="text_information">
            <div id="group_emotion_loading" style="display:block;text-align:center;">正在加载，请稍后...</div>
            <div id="influeweibo" style="overflow-x: auto; overflow-y: auto;height:auto;">
                <table id="input-table" class="In-table" style="width:100%;">
                    <tbody class="In-table" style="width:100%!important;">
                    </tbody>
                </table>
            </div>
            <div class="fanye" style="width:100%;text-align:center;margin-top: 20px;">
                    <span style="display:none;">
                        每页显示
                        <input type="text" id="PageNo" size="5" value="5" style="text-align:center;border:1px solid #ccc;"/>组
                    </span>
                <div id="div-button" style="display:inline-block;margin-left:5px;">
                    <input type="button" value="首页" id="F-page" style="border-radius: 5px;padding: 3px 5px;font-size: 10px;">
                    <input type="button" value="上一页" id="Pre-page" style="border-radius: 5px;padding: 3px 5px;font-size: 10px;">
                    <input type="button" value="下一页" id="Nex-page" style="border-radius: 5px;padding: 3px 5px;font-size: 10px;">
                    <input type="button" value="尾页" id="L-page" style="border-radius: 5px;padding: 3px 5px;font-size: 10px;">
                </div>
                <span style="display:inline-block;">&nbsp;当前第<span id="s2"></span>页</span>
                <span style="display:inline-block;">总共<span id="s1"></span>页</span>
            </div>
        </div>
    </div>
    <div class="everySpeak" style="margin: 20px auto;">
        <div class="speak_center">
            <div class="center_rel">
                <label class="demo-label">
                    <input class="demo-radio" type="checkbox" name="demo-checkbox">
                    <span class="demo-checkbox demo-radioInput"></span>
                </label>
                <img src="/static/images/post-6.png" alt="" class="center_icon">
                <a class="center_1" href="###" style="color: #ffbea3;">小小小鸟</a>：
                <span class="center_2">
                    【郑州现《人民的名义》现实版窗口：站也不是 蹲也不是】据网友@张琬晖 爆料，郑州市社保局办事窗口不高不低，站也不是，蹲也不是，和《人民的名义》演的一样一样的！@映象网 调查发现，2014年就有媒体关注过这个问题，但一直未整改。达康书记@吴刚de微博 你快来看看吧！
                </span>
                <div class="center_3">
                    <span class="cen3-1"><i class="icon icon-time"></i>&nbsp;&nbsp;2017-11-12 11:23</span>
                    <span class="cen3-2"><i class="icon icon-share"></i>&nbsp;&nbsp;转发（<b class="forwarding">222</b>）</span>
                    <span class="cen3-3"><i class="icon icon-comments-alt"></i>&nbsp;&nbsp;评论（<b class="comment">222</b>）</span>
                    <span class="cen3-4"><i class="icon icon-thumbs-up"></i>&nbsp;&nbsp;赞（<b class="praise">222</b>）</span>
                    <span class="cen3-5"><i class="icon icon-plus-sign"></i>&nbsp;&nbsp;加入预警库</span>
                    <span class="cen3-6"><i class="icon icon-upload-alt"></i>&nbsp;&nbsp;一键上报</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--模态框-->
<div class="modal fade" id="firstChoose" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">系统提示</h4>
            </div>
            <div class="modal-body">
                <div class="coverbody">
                    <div class="option1">
                        <span>一、请先选择要进入的虚拟人身份</span>
                        <div class="identity">
                            <label class="radio-inline">
                                <input type="radio" name="idcard" value=""> ZZ0902
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="idcard" value=""> SADJ93
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="idcard" value=""> KVF820
                            </label>
                        </div>
                    </div>
                    <div class="option2">
                        <span>二、请先选择虚拟人的显示模式</span>
                        <div class="showType">
                            <label class="radio-inline">
                                <input type="radio" name="show" value=""> 隐身
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="show" value=""> 昵称可见
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary sure_in" data-dismiss="modal">确认进入</button>
                <button type="button" class="btn btn-primary cancel_in" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block my_js %}
<script src="/static/js/speech_content-1.js"></script>
<script>
    $('.demo-radio').on('click',function () {
        console.log(!!$(this).is(':checked'))
    })

    $(".form_datetime").datetimepicker({
        format: "yyyy-mm-dd hh:ii",
        //minView:2, //控制时分秒
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left"
    });
    $('.start').on('changeDate', function(ev){
        $('.end').datetimepicker('setStartDate',ev.date);
    });
    $('.end').on('changeDate', function(ev){
        $('.start').datetimepicker('setEndDate',ev.date);
    });

</script>
{% endblock %}
