<div style="width:100%;height:100px;background-color:#3399FF;position:fixed;">dkjsdn</div>
<div id="" style="margin-top:10%;margin-left:20%;width:370px;">
	{% from "security/_macros.html" import render_field_with_errors, render_field %}
	{% include "security/_messages.html" %}
	<h1>Login </h1>
	<form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
	  {{ login_user_form.hidden_tag() }}
	  {{ render_field_with_errors(login_user_form.email) }}
	  {{ render_field_with_errors(login_user_form.password) }}
	  {{ render_field_with_errors(login_user_form.remember) }}
	  {{ render_field(login_user_form.next) }}
	  {{ render_field(login_user_form.submit) }}
	</form>
	{% include "security/_menu.html" %}
</div>



  <script>
  alert('ffff');
  $('#submit').click(function(){
  	alert('dddd')
  })
  function submit_login(){
	  var uname = $('#username').val();
	  var password = $('#password').val();
	  var login_url = '/login/login/?username='+uname +'&password='+password;
	  console.log(login_url);
	  $.ajax({
      url: login_url,
      type: 'GET',
      async: false,
      success:login_callback
    });
    function login_callback(data){
        //console.log(data);
        if(data == 'true'){
            window.location.href='/index/';
        };
        if(data == 'please enter username or password'){
            alert('用户名密码不能为空！')
        }
        if(data == 'password is not correct'){
            alert('密码不正确，请重新输入！');
        }
        if(data == 'username is not correct'){
            alert('用户名不存在，请重新输入！')
        }
    }
  }


  </script>