<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<title>用户登陆</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/login.css">
	<style type="text/css">
		.demo-label{display:inline-block;padding-left:0!important;cursor: pointer;}
		.demo-radio{display:none}
		.demo-radioInput{cursor:pointer;background-color:#eee;display:inline-block;height:16px;vertical-align:middle;width:16px;line-height:1;margin-right: 5px;margin-top: -1px;}
		.demo-radio:checked + .demo-radioInput:after{background-color:#57ad68;content:"";display:inline-block;height:12px;margin:2px;width:12px}
		.demo-checkbox.demo-radioInput,.demo-radio:checked + .demo-checkbox.demo-radioInput:after{border-radius:0}
	</style>
</head>
<body>

<div id="box_body">
	<h1 id="fonts"></h1>
	<div id="img_list_1">
		<img src="/static/images/login-1.png" class="img-1">
		<img src="/static/images/login-2.png" class="img-2">
		<img src="/static/images/login-3.png" class="img-3">
	</div>
	<div id="img_list_2">
		<img src="/static/images/login-4.png" class="img-4">
		<img src="/static/images/login-5.png" class="img-5">
		<img src="/static/images/login-6.png" class="img-6">
	</div>
	<div id='box'>
		<img src="/static/images/login-7.png" alt="" class="img-7">
		<img src="/static/images/login-8.png" alt="" class="img-8">
		<!--<img src="../static/images/login-9.png" alt="" class="img-9">-->
		<h2 style="color:#fff;">用户登陆</h2>
		<hr style="width:100%;display:block;margin:10px 0;">
		<div style='padding:20px 0 0 50px;'>
			<p style="padding-left: 55px;">
				<label>
					<div style="float: left;line-height:25px;width:60px;font-size:14px;color:#fff;">用户名</div>
				</label>
				<input id="email_name" type="text" value="" placeholder="请输入您的账号">
			</p>
			<p style="padding-left: 55px;">
				<label>
					<div style="float: left;line-height:25px;width:60px;font-size:14px;color:#fff;">密码</div>
				</label>
				<input id="passwords" type="password" value="" placeholder="请输入您的密码">
			</p>
			<div class="checkbox" style="font-size: 12px;color:#fff;margin-bottom:20px;">
				<label class="demo-label">
                    <input class="demo-radio" type="checkbox" name="demo-radio">
                    <span class="demo-radioInput"></span>记住密码
                </label>
				<!-- <label>
					<input id="remember" type="checkbox" style="top: -2px;">记住密码
				</label> -->
				<a href="###" id="forget" style="color:white;float: right;margin-right: 20px;">忘记密码？</a>
			</div>
			<div style='float:left;'>
				<p style="text-align: center;">
					<button id="submits">登       录</button>
				</p>

			</div>
		</div>

	</div>
</div>
<div id="linear"></div>


<div class="modal fade" id="errors" tabindex="-2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h2 class="modal-title">登陆提示</h2>
            </div>
            <div class="modal-body">
                <p>您输入的用户名或密码错误。</p>
            </div>
            <div class="modal-footer">
            	<button type="button" class="btn btn-info" data-dismiss="modal">
                    取消
                </button>
                <button type="button" class="btn btn-success" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/jquery-3.1.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript">
	$('#submits').on('click',function(){window.open('/index/navigation/')})
    var items$2 = $('#box_body img');
    document.addEventListener('mousemove', function (evt){
        var x = evt.clientX;
        var y = evt.clientY;
        //console.log(x);
        var winWidth = window.innerWidth;
        var winHeight = window.innerHeight;
        var halfWidth = winWidth / 2;
        var halfHeight = winHeight / 2;

        var rx = x - halfWidth;
        var ry = halfHeight - y;
        var length = items$2.length;
        var max = 20;

        for (var i = 0 ; i < length ; i++) {
            var dx = (items$2[i].getBoundingClientRect().width/max)*(rx / -halfWidth);
            var dy = (items$2[i].getBoundingClientRect().height/max)*(ry / halfHeight);
			dx+=10;dy+=10;
			if (i<3){
                items$2[i].style['transform'] = items$2[i].style['-webkit-transform'] = 'translate(-'+dx+'px,-'+dy+'px)';
            }else {
                items$2[i].style['transform'] = items$2[i].style['-webkit-transform'] = 'translate('+dx+'px,'+dy+'px)';
            }
        }

    }, false);
    $('#box input[type=text]').on('focus',function () {
		$(this).css({backgroundColor:'#fff'})
    });
    $('#box input[type=password]').on('focus',function () {
        $(this).css({backgroundColor:'#fff'})
    });
    $('#box input[type=text]').on('blur',function () {
        $(this).css({backgroundColor:''})
    });
    $('#box input[type=password]').on('blur',function () {
        $(this).css({backgroundColor:''})
    })
	$('#submits').on('click',function(){
		var users=$('#email_name').val();
		var passwords=$('#passwords').val();
		var login_url='';
		// var login_url='/group/overview/';

	});
</script>
</body>
</html>