{% block title %}<title>网络虚拟人系统</title>{% endblock %}
{% block my_css %}
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/jquery.fullPage.css">
<link rel="stylesheet" href="/static/css/navigationMain.css">
<style>
    .demo-label{display:inline-block;cursor:pointer;font-size: 12px;font-weight: normal;margin: 5px 10px;}
    .demo-radio{display:none!important;}
    .demo-radioInput{cursor:pointer;background-color:#eee;border-radius:100%;display:inline-block;height:16px;vertical-align:middle;width:16px;line-height:1;margin-top:-3px;}
    .demo-radio:checked + .demo-radioInput:after{background-color:#57ad68;border-radius:100%;content:"";display:inline-block;height:12px;margin:2px;width:12px}
    .demo-checkbox.demo-radioInput,.demo-radio:checked + .demo-checkbox.demo-radioInput:after{border-radius:0}
    .modal-header {
        background: #09344e!important;
        color: white!important;
    }
    .modal-body,.modal-footer {
        background: #041b29!important;
        color: white!important;
    }
    .table-hover>tbody>tr:hover {
        background-color: #2a556f!important;
    }
    .modal-header .close {
        color:white!important;
        opacity: 1!important;
    }
    .modal-footer .btn {
        background-color: transparent;
        border-color: silver;
        color: white;
    }
    .modal-footer .btn:hover {
        background-color: rgba(3, 8, 16, 0.61);
        color: white;
    }
    .weiboQQ {
        position: absolute;
        width: 554px;
        height: 176px;
        left: 50%;
        top: 22%;
        margin: 0 0 0 -277px;
        text-align: center;
    }
    .weiboQQ img {
        margin:0 30px;
        cursor: pointer;
    }
    @media screen and (min-width:1370px) and (max-width:1920px) {
        .bg13 .monitor {
            top: 700px!important;
            left: 1100px!important;
        }
        .bg13 .info {
            top: 700px!important;
            left:700px!important;
        }
    }
</style>
{% endblock %}
{% block main %}
<div class="section section1">

    <div class="bg"><img src="/static/images/section1.jpg" alt=""></div>

    <div class="bg11"></div>

    <div class="bg12"></div>

    <div class="bg13">
        <div class="personal" style="top: 100px;left: 260px;">
            <i class="icon icon-github-alt"></i>
            <div class="cover" id="personal" style="left: 20px;">
                <em class="icon icon-plus-sign"></em>
                <span>我的虚拟人</span>
            </div>
        </div>
        <div class="control" style="top: 370px;left: 160px;">
            <i class="icon icon-cogs"></i>
            <div class="cover" id="control">
                <em class="icon icon-plus-sign"></em>
                <span>操作控制</span>
            </div>
        </div>
        <div class="info" style="top: 490px;left: 450px;">
            <i class="icon icon-eye-open"></i>
            <div class="cover" id="info">
                <em class="icon icon-plus-sign"></em>
                <span>信息监测</span>
            </div>
        </div>
        <div class="monitor" style="top: 490px;left: 750px;">
            <i class="icon icon-warning-sign"></i>
            <div class="cover" id="monitor">
                <em class="icon icon-plus-sign"></em>
                <span>预警监控</span>
            </div>
        </div>
        <div class="reported" style="top:100px;right:260px;">
            <i class="icon icon-sitemap"></i>
            <div class="cover" id="reported">
                <em class="icon icon-plus-sign"></em>
                <span>行为评估</span>
            </div>
        </div>
        <div class="knowledge" style="top:370px;right:160px;">
            <i class="icon icon-user-md"></i>
            <div class="cover" id="knowledge" style="left: 20px;">
                <em class="icon icon-plus-sign"></em>
                <span>虚拟人定制</span>
            </div>
        </div>
    </div>


    <div class="hgroup">

        <h1></h1>

        <h2>发生，不止所见。</h2>

    </div>

    <div class="weiboQQ">
        <img src="/static/images/weiboload.png" title="微博登录" class="weibo">
        <img src="/static/images/QQload.png" title="QQ登录" class="qq">
        <img src="/static/images/facebookload.png" title="faceBook登录" class="facebook">
        <img src="/static/images/twitterclick.png" title="正在使用twitter登录中" class="twitter">
    </div>
    <p class="p11" style="font-size: 16px;">
        <!--社交网络信息平台拥有庞大的用户群，其社会舆情直接体现。随着我国的崛起，我们面临着日益复杂的国际关系和来自广袤的网络空间的安全挑战。-->
        <!--通过网络虚拟人对涉及到的领域用户识别及画像、敏感信息监测预警、自动应答等领域的工作，及时捕获网络重大突发事件和苗头性敏感信息，-->
        <!--及时预警和回应疏导舆论焦点已成为舆情管理的重要内容之一。-->
        虚拟人指挥管理系统通过微博和QQ群两个渠道，以虚拟人定制培养、统一管理、实时控制和联合指挥为目标，
        实现了不同领域虚拟人身份画像定制、舆情信息实时监测浏览、网络社交行为半自动化辅助及模拟，使监管手段更具主动性和智能化。
    </p>

</div>


<div class="section section5" style="text-align: center">

    <div class="bg"><img src="/static/images/section5.jpg" alt=""></div>

    <!--<strong>[ 功能·监控预警 ]</strong>-->

    <!--<h3>全面监控，为你预警</h3>-->

    <div class="bg51">

        <h4>上报管理</h4>

        <p>
            支持对监测预警模块中上报记录的信息根据上报类型、关键词进行查看，文件导出。。
        </p>
        <div class="bg51-top" id="reportedmange">
            <i class="icon icon-share" style="display: block;margin:120px 0 20px 0;"></i>
            <span>上报管理</span>
        </div>
    </div>
    <div class="bg55" style="margin: 0 150px;">

        <h4>知识库管理</h4>

        <p>
            支持对虚拟人培养全过程中涉及到的领域、角色、业务以及言论知识进行信息创建、查看、管理。
        </p>
        <div class="bg55-top" id="knowledgebase">
            <i class="icon icon-key" style="display: block;margin:120px 0 20px 0;"></i>
            <span>知识库管理</span>
        </div>
    </div>
    <div class="bg54">

        <h4>系统管理</h4>

        <p>支持系统管理员对系统用户的权限、操作日志以及用户虚拟人管理情况进行管理。</p>

        <div class="bg54-top" id="system">
            <i class="icon icon-inbox" style="display: block;margin:120px 0 20px 0;"></i>
            <span>系统管理</span>
        </div>
    </div>

</div>
<!--选择虚拟人 模态框-->
<div class="modal fade" id="choosePerson" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">系统提示</h4>
            </div>
            <div class="modal-body">
                <div class="coverbody">
                    <div class="option1">
                        <span>一、请先选择要进入的虚拟人身份</span>
                        <div class="identity" style="padding: 10px 25px;">

                        </div>
                    </div>
                    <div class="option2">
                        <span>二、请先选择虚拟人的显示模式</span>
                        <div class="showType" style="padding: 10px 25px;">
                            <label class="demo-label">
                                <input class="demo-radio" type="radio" name="choose" value='隐身'>
                                <span class="demo-checkbox demo-radioInput"></span> 隐身
                            </label>
                            <label class="demo-label">
                                <input class="demo-radio" type="radio" name="choose" value='昵称可见'>
                                <span class="demo-checkbox demo-radioInput"></span> 昵称可见
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary sure_in" data-dismiss="modal">确认进入</button>
                <button type="button" class="btn btn-primary cancel_in" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<!---->
<!--提示-->
<div class="modal fade" id="pormpt" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">温馨提示</h4>
            </div>
            <div class="modal-body">
                <p style="text-align: center;font-size: 18px;color: #fff;font-weight: 900;"></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block my_js %}
<script src="/static/js/jquery-3.1.1.min.js"></script>
<!-- <script src="/static/js/jquery.cookie.js"></script> -->
<script src="/static/js/bootstrap.min.js"></script>
<!-- <script src="http://libs.baidu.com/jqueryui/1.8.22/jquery-ui.min.js"></script> -->
<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/jquery.fullPage.min.js"></script>
<script>
    function getLocalTime(nS) {
        return new Date(parseInt(nS) * 1000).toLocaleString().replace(/年|月|\//g, "-").replace(/日|上午|下午/g, " ");
    }
    $(function(){

        $.fn.fullpage({

            verticalCentered: false,

            anchors: ['page1', 'page2'],

            navigation: true,

            navigationTooltips: ['', '']

        });

    });
    $('.bg51').hover(function () {
        $(".bg51-top").show().addClass("from-below");
        setTimeout(function(){$(".bg51-top").addClass("effeckt-show");},2);
    },function () {
        $(".bg51-top").removeClass("effeckt-show");
    });
    $('.bg54').hover(function () {
        $(".bg54-top").show().addClass("from-below");
        setTimeout(function(){$(".bg54-top").addClass("effeckt-show");},2);
    },function () {
        $(".bg54-top").removeClass("effeckt-show");
    });
    $('.bg55').hover(function () {
        $(".bg55-top").show().addClass("from-below");
        setTimeout(function(){$(".bg55-top").addClass("effeckt-show");},2);
    },function () {
        $(".bg55-top").removeClass("effeckt-show");
    });
    //登录方式
    $('.weibo').hover(function () {
        $(this).attr('src','/static/images/clickweibo.png');
    },function () {
        $(this).attr('src','/static/images/weiboload.png');
    }).on('click',function () {
        window.location.href='/index/navigation/';
    });
    $('.qq').hover(function () {
        $(this).attr('src','/static/images/clickQQ.png');
    },function () {
        $(this).attr('src','/static/images/QQload.png');
    }).on('click',function () {
        window.location.href='/index/navigationQQ/';
    });
    $('.facebook').hover(function () {
        $(this).attr('src','/static/images/facebookclick.png');
    },function () {
        $(this).attr('src','/static/images/facebookload.png');
    }).on('click',function () {
        window.location.href='/index/navigationFaceBook/';
    });

    localStorage.setItem('loginType','twitter');
    //页面跳转
    var htmlUrl='';
    $('#personal').on('click',function () {
        window.open('/personalCenter/individualTwitter/');
    });
    $('#control').on('click',function () {
        htmlUrl='/control/operationControl/';
        $('#choosePerson').modal('show');
    });
    $('#info').on('click',function () {
        htmlUrl='/inforDetection/inforChecking/';
        $('#choosePerson').modal('show');
    });
    $('#monitor').on('click',function () {
        htmlUrl='/monitor/characterBehavior/';
        $('#choosePerson').modal('show');
    });
    $('#reported').on('click',function () {
        htmlUrl='/behavioGauge/influeAssess/';
        $('#choosePerson').modal('show');
    });
    $('#knowledge').on('click',function () {
        window.open('/registered/targetCustom/')
    });
    $('#reportedmange').on('click',function () {
        window.open('/reportManage/management/');
    });
    $('#knowledgebase').on('click',function () {
        window.open('/knowledge/domainLibrary/');
    });
    $('#system').on('click',function () {
        window.open('/systemManage/daily/');
    });

    //选择虚拟人确定进入
    $('.sure_in').on('click',function () {
        var userID=$('input:radio[name="ID"]:checked').attr('valueID');
        var userName=$('input:radio[name="ID"]:checked').attr('valueName');
        var userType=$('input:radio[name="choose"]:checked').val();
        if (!userID||!userName||!userType){
            $('#pormpt p').text('请检查选择登陆的虚拟人显示模式。');
            $('#pormpt').modal('show');
        }else {
            var id_or_name='';
            if (userType=='隐身'){
                id_or_name=userID;
            }else {
                id_or_name=userName;
            }
            localStorage.setItem('user',encodeURI(userID));
            localStorage.setItem('userRelName',encodeURI(userName));
            localStorage.setItem('userName',encodeURI(id_or_name));
            window.open(htmlUrl);
        }
    });

    //登录类型
    var admin='admin@qq.com';
    //虚拟人列表
    $.ajax({
        type: 'GET',
        url: "/weibo_xnr_create/show_weibo_xnr/?submitter="+admin,
        async: true,
        dataType: "json",
        success: function (data) {
            var str='';
            for (var k in data){
                if (data[k]==''||data[k]=='unknown'){
                    data[k]='无昵称';
                }
                str+=
                    '<label class="demo-label" title="'+data[k]+'">'+
                    '   <input class="demo-radio" type="radio" name="ID" valueID='+k+' valueName='+data[k]+'>'+
                    '   <span class="demo-checkbox demo-radioInput"></span> '+data[k]+
                    '</label>';
            }
            $('#choosePerson .identity').html(str);
        }
    });

</script>
{% endblock %}
