{% extends "tbase.html" %}
{% block title %}关联分析{% endblock title%}
{% block head_title %}关联分析{% endblock head_title%}

{% block css %}
{{ super() }}
<link  type="text/css" href="/static/personal/css/style.css" rel="stylesheet"/>
<link  type="text/css" href="/static/personal/css/basic.css" rel="stylesheet"/>
<link href="/static/css/lanrenzhijia.css" type="text/css" rel="stylesheet" />
<style>
    .caroufredsel_wrapper{
        left: -16px;
    }
    #box-height span{font-size:13px;}
    /*.addIcon{background-image:url(../../static/img/add.png);width:32px;display:inline-block;height:32px;cursor:pointer;padding-top:10px;}*/
    .tagCols{width:550px;margin:auto 0;  text-align: center;margin-bottom: 10px;height:50px;line-height: 45px;}
    .tagCols span{font-size:20px;}
    #basicInfo .li_1 {margin-left:60px;}
    #basicInfo .pt_title {width:80px;}
    #basicInfo .pt_detail {padding-left:55px;}
</style>

{% endblock css %}

{% block head_js %}
{{ super() }}
<script type="text/javascript" src="/static/js/lanrenzhijia.js"></script>
<script type="text/javascript" src='/static/js/esl.js'></script>
{% endblock %}

{% block main %}
<div id="personal_head" style="font-family:Microsoft YaHei UI; font-size:16px;" >
<div id="guan_user" hidden>{{g.user.email}}</div>
    <div class="PortraitImg" ><img id="portraitImg" style='cursor:pointer;' src="" alt="" class="img-circle"></div>
    <div class="nickname" id="nickname" style="cursor:pointer;"></div>
</div>
<div id="float-wrap" class="hidden"></div>
<div class='row'>
<div class="box col-md-12" >
    <div class="box-inner" id = 'box-height'>
        <div class="box-header" style="background-color:rgba(195,220,224,0.4)">
            <h2 style='margin-left:5px'>关联维度</h2>
        </div>
        <div id="contact_select" class="box-content" style="height:200px;">
            <div class="col-md-12">
                <div class='controls'>
                    <label style="margin-left:52px;color:grey;">请填写各维度的关联权重，范围是0-10的整数，权重为0则忽略该关联维度。</label>
                    <div class='col-md-12' style="margin-bottom:4px">
                        <div class='col-lg-3'>
                            <span class="input-group-addon" style="width:96px;border:1px solid white;background-color:white; display:inline-block" id="domain">身份关联</span>                             
                             <input type='text' class="form-control" style='width:40%; display:inline-block;height:25px'  value='1'>
                        </div>

                         <div class='col-lg-3'>
                            <span class="input-group-addon" style="width:96px;border:1px solid white;background-color:white; display:inline-block" id="topic_string">领域关联</span>
                             <input type='text' class="form-control" style='width:40%; display:inline-block;height:25px' value='0'>
                        </div>
                         <div class='col-lg-3'>
                            <span class="input-group-addon" style="width:96px;border:1px solid white;background-color:white; display:inline-block" id="keywords_string">内容关联</span>
                             <input type='text' class="form-control" style='width:40%; display:inline-block;height:25px' value='0'>
                        </div>
                        <div class='col-lg-3'>
                            <span class="input-group-addon" style="width:96px;border:1px solid white; background-color:white;display:inline-block" id="activity_geo">位置关联</span>
                             <input type='text' class="form-control" style='width:40%; display:inline;height:25px' value='0'>
                        </div>
                    </div>
                    <div class='col-md-12' style="margin-bottom:4px" >
                        <div class='col-lg-3'>
                            <span class="input-group-addon" style="width:96px;border:1px solid white; background-color:white;display:inline-block" id="character_sentiment">性格关联</span>
                             <input type='text' class="form-control" style='width:40%; display:inline-block;height:25px' value='0'>
                        </div>
                        <div class='col-lg-3'>
                            <span class="input-group-addon" style="width:96px;border:1px solid white; background-color:white;display:inline-block" id="character_text">文风关联</span>
                             <input type='text' class="form-control" style='width:40%; display:inline-block;height:25px' value='0'>
                        </div>                        
                        <div class='col-lg-3' >
                            <span class="input-group-addon" style="width:96px;border:1px solid white; background-color:white;display:inline-block" id="hashtag">微话题关联</span>
                             <input type='text' class="form-control" style='width:40%; display:inline;height:25px' value='0'>
                        </div>
                    </div>
                    <div class='col-md-12' id='tag' >
                        
                    </div>
                </div>
            </div>
            <div class="col-md-12" style='margin-top:11px'>
                <div class='col-md-12' style='text-align:right; padding-right:35px'>
                    <span class="label label-success" style='cursor:pointer; background-color:rgba(69, 133, 195, 0.89)'>提交</span>
                </div>
            </div>
        </div>
    </div>
</div>
 
</div>
<div id="wrapper" style="padding-left:0px; overflow:visible">
        <span  type="button" id="compare_button" title="选择2至3个用户对比" style="float:right;font-size:16px;cursor: pointer" onclick="diy_button();">
            <u style="background-color:rgba(69, 133, 195, 0.89);color:white;padding:2px">编辑自定义属性</u>
        </span>
        <div id='pager' style='text-align:right'></div>
        <div id='tabs' style='width:1000px;'>
            <div id='txt'>
                <div class="main col-sm-9 col-md-10">
                    <div class="col-sm-12">
                        <div class="panel panel-default" style="max-height:600px;overflow-y:auto;width:1000px;margin-left:-30px" id='table'>
                        </div>
                    </div>
		    <div style="float:left; line-height:40px;">关联用户总共有<span id="relatednum"></span>人</div>

                    <div style=" margin-left:817px">
                        <button class="btn btn-primary btn-sm" style="width:80px;height:40px;margin-right:5px" name="compare_button" id="compare_button" title="选择2至3个用户对比"  onclick="compare_button();">个体对比</button>
                        <button class="btn btn-primary btn-sm" style="width:80px;height:40px;margin-right:5px" name="group_button" id="group_button" onclick="group_button();">群体分析</button>
                    </div>
                </div>
            </div>

            <div id='photo'>
                <div class="main col-sm-9 col-md-10">
                    <div class="col-sm-12">
                        <div class="panel panel-default" style="width:1000px; height:624px;margin-left:-30px" id='echart'>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
</div>


<div class="modal fade" id="Diymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document" style="width:1000px">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="font-size:18px" id="myModalLabel">自定义属性</h4>
              </div>
              <div class="modal-body">
                <div style="font-size:18px;margin-top:-10px">选择用户添加标签</div>
                <div>
                    <span>选择类别：</span><span id='attribute_name' style="margin-left:10px"></span>
                    <span style='margin-left:20px'>选择标签：</span><span id='attribute_value' style="margin-left:10px"></span><span style="margin-left:10px"><button class="btn btn-primary btn-sm" style="width:80px;height:30px" id="add_group_tag_button" title="确定选择" onclick="add_group_tag()">添加</button></span>
                <div id= "user_lable" style="margin-top:14px"></div>
              </div>
            </div>
          </div>
        </div>

</div>


<div class="modal fade" id="compare" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width:850px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">个体对比</h4>
      </div>
      <div class="modal-body">
        <div id="compare_comfirm" style="margin-top:20px"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="compare_confirm_button()">确认</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="group" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width:850px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">群体分析</h4>
      </div>
      <div class="modal-body">
        <span>群体名称：</span><span style="margin-left:10px"><input type="text" name="group_name" style="width:270px;"placeholder="（必填）仅包含汉字、英文、数字和下划线" /></span>
        <span style="margin-left:10px;float:right"><input type="text" name="remark" style="width:400px" placeholder="（可选）仅包含汉字、英文、数字和下划线" /></span><span style="margin-left:10px;float:right">备注：</span>
        <div id="group_comfirm" style="margin-top:30px"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="group_confirm_button()">确认</button>
      </div>
    </div>
  </div>
</div>

<script>
    $(function() {
        $('#tabs').carouFredSel({
            circular: false,
            items: 1,
            width: '100%',
            height:'700px',
            auto: false,
            pagination: {
                container: '#pager',
                anchorBuilder: function( nr ) {
                    if($(this).attr('id')== 'txt'){
                        return '<a href="#">列表视图</a>';
                    }
                    else{
                        return '<a href="#" style="margin-right:283px">图标视图</a>';
                    }
                    // return '<a href="#">' + $(this).find('h3').text() + '</a>';
                }
            }
        });
        $('.caroufredsel_wrapper').css('height', '700px');
        $('#txt').css('height', '700px');
        $('#photo').css('height', '700px');
    });
    var uid = "{{ uid }}";
    function Personal(){
        this.ajax_method = 'GET';
    }
    Personal.prototype = {   //群组搜索
    call_sync_ajax_request:function(url, method, callback){
        $.ajax({
          url: url,
          type: method,
          dataType: 'json',
          async: false,
          success:callback
        });
        },
        personData:function(data){
            personalData = data ;
           //console.log(data);
            
        }
    }
    var Personal = new Personal();
    var personalData; // global data

    var url = "/attribute/portrait_attribute/?uid=" + uid;
    Personal.call_sync_ajax_request(url, Personal.ajax_method, Personal.personData);

    var img = document.getElementById('portraitImg');
    //console.log(personalData.photo_url);
    if(personalData.photo_url == "unknown"){
        img.src =  "http://tp2.sinaimg.cn/1878376757/50/0/1";
    }else{
        img.src = personalData.photo_url;
    }
    var nickName = document.getElementById('nickname');
    if(personalData.uname){
        if(personalData.uname=='unknown'){
            personalData.uname=uid.toString();
            nickName.innerHTML = personalData.uname;
        }else{
            nickName.innerHTML = personalData.uname;
        }
    }else{
        nickName.innerHTML = "无此数据";
    }
    $('#nickname').click(function(){
        window.open('/index/personal/?uid=' + uid);
    });
    $('#portraitImg').click(function(){
        window.open('/index/personal/?uid=' + uid);
    });
</script>
<script type="text/javascript" src="/static/js/portrait/person_contact.js"></script>

{% endblock %}
