{% extends "tbase.html" %}
    {% block title %}群体发现{% endblock title %}
    {% block head_title %}群体发现{% endblock head_title %}
    {% block css %}
        {{ super() }}
        <style>
            .dataTables_length{display:none;}
            .dataTables_filter{display:none;text-align:right;margin-bottom:5px;}
            .dataTables_paginate{margin-top:-10px;margin-bottom:-20px;}
            .wrapper{min-height:330px;margin-top:50px;margin-left:-20px;background: #fff;position: relative;}
            #tab{width: 180px;height:284px;}
            #tab_con{width: 1000px;margin-left:60px;overflow: hidden;}
            #main #content_discovery .search_name{width:120px;}
            #content_discovery td{border:1px solid #c5c1c1;}
            #content_discovery .input-group-addon{font-size:13px;}
        </style>
        <link rel="stylesheet" type="text/css" href="/static/css/jquery.datetimepicker.css"/>
    {% endblock css %}
    {% block head_js %}
        {{ super() }}
        <script type="text/javascript" src="/static/js/jquery.datetimepicker.js"></script>
        <script type="text/javascript" src="/static/js/portrait/identify_table.js"></script>
    {% endblock head_js %}
    {% block main %}
    <div class="box-content">
        <div>
            <div id='useremail' hidden>{{ g.user.email }}</div>
            <span style='font-weight:bold;margin-left:40px;font-size:18px;'>发现方式：</span>
            <select id='discovery_choose'style='font-size:18px;'>
                <option value='user'>由用户发现群体</option>
                <option value='event'>由事件发现群体</option>
                <option value='attribute'>由特征发现群体</option>
                <option value='pattern'>由模式发现群体</option>
            </select>
            <!--
            <button class='portrait_button' style='margin-left:50px;height:30px;'>确定</button>
            -->
        </div>
        <div id="myTabContent" class="tab-content">
            <div id="content_discovery" class="tab-pane active" style="margin-top:10px">
                <div class="wrapper">
                    <div id="tab_con">
                        <div id="tab_con_user">
                            {% include "portrait/group/seed_user.html"%}

                        </div>
                        <div id="tab_con_attribute" style='display:none'>
                            {% include "portrait/group/attribute_pattern.html"%}
                        </div>
                        <div id="tab_con_event" style='display:none'>
                            {% include "portrait/group/event_pattern.html"%}
                        </div>
                        <div id="tab_con_pattern" style='display:none'>
                            {% include "portrait/group/pattern.html"%}
                        </div>
                    </div>
                    <div id="information" class="col-md-12" style="width:1030px;margin-left:45px;padding-top:5px">
                        <table class='table table-border bootstrap-datatable'>
                            <tr><td>
                                <div class='controls'>
                                    <div class='col-md-12' style='padding:0px;'>
                                        <div style='float:left;margin-left:25px;font-weight:bold;'><span class='control-label'>群组信息</span></div>
                                        <div class='col-lg-6' style='width:400px;padding:0px;margin-left:45px;'>
                                             <span style='float:left;color:#c00;font-size:15px;margin-top:5px;'>*</span>
                                             <span class="input-group-addon" style="width:70px;padding-right:0px;border:1px solid white;float:left;background-color:white;display:inline-block">名称</span>
                                             <input id="first_name" type='text' class="form-control" style='width:295px; display:inline-block;height:25px' placeholder='（必填）仅包含汉字、英文、数字和下划线'>
                                        </div>
                                        <div class='col-lg-6' style='padding:0px;width:450px;'>
                                             <span class="input-group-addon" style="width:75px;border:1px solid white;float:left;background-color:white;display:inline-block">备注</span>
                                             <input id="first_remarks" type='text' class="form-control" style='width:370px; display:inline-block;height:25px' placeholder='（选填）仅包含汉字、英文、数字和下划线'>
                                        </div>
                                    </div>
                                </div>
                            </td></tr>
                        </table>
                    </div>
                    <div class='col-md-12' style='margin-left:60px;text-align:right;padding-right:0px;margin-bottom:40px;'>
                        <button id="identify_commit" class="portrait_button" style='cursor:pointer;'>提交</button>
                    </div>
                </div>
                <div >
                    <div id="dis_table" style='margin-left:40px;width:1000px;'>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="group_control" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document" style="width:850px;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">提交监控任务</h4>
          </div>
          <div class="modal-body">
            <span>群体名称：</span>
            <input type='text' style='width:35%;margin-left:10px;display:inline-block;height:25px' placeholder='（必填）仅包含汉字、英文、数字和下划线' name="con_group_name" /></span>
            <span style="margin-left:10px;">备注：</span>
            <input type='text' style='width:35%;margin-left:10px;display:inline-block;height:25px; margin-right:40px;' placeholder='（选填）仅包含汉字、英文、数字和下划线' name="con_remark" ></span>
            <div style="width:100%">
                <span style="margin-top:10px;display:inline-block">终止时间：</span>
                <input name="con_end_time" type='text' style='margin-left:10px;width:145px;margin-top:10px;display:inline-block;height:25px'>
            </div>
<!--             <span class='control-label' style='padding-top:10px;'>传感词：&nbsp;&nbsp;</span>
            <input name="con_keywords" type='text' style='margin-left:16px;width:35%;margin-top:10px;  display:inline-block;height:25px' placeholder='（选填，敏感传感词）多个词用空格隔开'>
            <input name="con_nor_keywords" type='text' style='margin-left:16px;width:35%;margin-top:10px;margin-right:5px;  display:inline-block;height:25px' placeholder='（选填，普通传感词）多个词用空格隔开'>
              <div style="margin:5px;margin-left:90px;font-weight:bold">敏感传感词<input style="margin-left:50px;margin-right:10px;" name="con_more_all_1" id="con_more_all_1" type="checkbox" value="" onclick="con_more_all_1()" /><span>全选</span></div>
              <div id="con_sen_content"  style="margin:5px;margin-left:90px;"></div>

              <div style="margin:5px;margin-left:90px;font-weight:bold">一般传感词<input style="margin-left:50px;margin-right:10px;" name="con_more_all_0" id="con_more_all_0" type="checkbox" value="" onclick="con_more_all_0()" /><span>全选</span></div>
              <div id="con_nor_content"   style="margin:5px;margin-left:90px;width: 83%;"></div> -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="group_control_confirm_button">提交</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="group_analyze" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document" style="width:850px;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">提交分析任务</h4>
          </div>
          <div class="modal-body">
            <span>群体名称：</span><span id="group_name0" style="margin-left:10px;margin-right:250px;"></span>
            <span style="margin-left:10px;">备注：</span>
            <span id="remark0" style="width:400px"></span>
            <div id="group_analyze_confirm" style="margin-top:30px;overflow-y:auto;max-height:300px;"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="group_analyze_confirm_button()">确认</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="table_search" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document" style="width:850px;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">搜索条件</h4>
          </div>
          <div class="modal-body">
            <div style='width:300px;margin: 0px auto;'>
                <div style="margin-top:5px;">群组名称：<input type="text"  id="groupName" class="input searchinput" name="task_name" placeholder="请输入群组名称" style="float: right;width: 175px;"/></div>
                <div style="margin-top:10px;">备注：<input type="text" id="groupState" class="input searchinput" name="state" placeholder="请输入备注"  style="float: right;width: 175px;"/></div>
                <div style="margin-top:10px;">时间：<input type="text" id="groupState" class="input searchinput" name="submit_date" placeholder="请输入时间2015-07-15"  style="float: right;width: 175px;"/></div>
                <div style="margin-top:10px;">发现任务类型：
                        <select  name="detect_type" class="searchinput" style="width:174px;height:24px;float: right;">
                        <option value="" selected = "selected">全部</option>
                        <option value="single" >由用户发现群体</option>
                        <option value="event">由事件发现群体</option>
                        <option value="attribute">由特征发现群体</option>
                        <option value="pattern">由模式发现群体</option>
                        </select></div>
            </div>  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="group_search_button()">确认</button>
          </div>
        </div>
      </div>
    </div>
    {% endblock main %}
    {% block Own_js %}
    {{ super() }}
        <script type="text/javascript" src="/static/js/portrait/group_identify_task.js"></script>
        <script type="text/javascript" src="/static/js/portrait/group_pattern.js"></script>
        <script>
            $(function(){
                $('#discovery_choose').change(function(){
                    var value = $(this).val();
                    $('#tab_con_' + value).fadeIn(600).siblings().hide();
                });
                $('#identify_commit').click(function(){
                    var mood = $('#discovery_choose').val();
                    console.log(mood);
                    if (mood == 'user'){
                        seed_commit(); 
                    }
                    else if(mood == 'event'){
                        submit_event();
                    }
                    else if(mood == 'attribute'){
                        submit_attribute();
                    }
                    else{
                        pattern_commit();
                    }
                });
            });
        </script>
    {% endblock Own_js %}
