{% extends "tbase.html" %}
{% block title %}影响力排名{% endblock title%}
{% block css %}
{{ super() }}
<style>
    .dataTables_filter{text-align:right;margin-bottom:5px;}
    .dataTables_paginate{margin-top:-10px;margin-bottom:-20px;}
    .box-header {
    border: none;
    padding-top: 5px;
    border-bottom: 1px solid #DEDEDE;
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    height: 35px;
    min-height: 35px !important;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#1a000000', GradientType=0);
    }
</style>

{% endblock css %}
{% block main %}
<h4 class="page-header">影响力排名</h4>
<div class="box-content">
    <ul class="nav nav-tabs" id="myTab" style="margin-bottom:10px">
        <li class="active" title="整体排名"><a href="#info">整体排名</a></li>
        <li title="变动排名"><a href="#messages">变动排名</a></li>
        <li title="领域排名"><a href="#custom">领域排名</a></li>
        <!-- <li title="影响力详情"><a href="#details">影响力详情</a></li> -->
    </ul>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane active" id="info" style="margin-top:10px">
            <span>选择日期：</span><span id="total_date" style="margin-left:10px"></span>
            <span style="margin-left:10px"><button class="btn btn-primary btn-sm" style="width:80px;height:30px" id="total_date_button" title="确定日期选择">确定</button></span>
            <div class="box-header well" style="margin-top:20px;margin-bottom:10px">
                <h5><i class="glyphicon glyphicon-info-sign"></i> 具体排名</h5>
            </div>
            <div>
            <span>排名范围：</span><span id="range" style="margin-left:10px"></span>
            </div>
            <div style="margin-top:5px;margin-bottom:5px">
            <span>排名指标：</span><span id="index" style="margin-left:10px"></span>
            </div>
            <div id="total_rank" style="margin-top:10px"></div>

            <div class="box-header well" style="margin-top:40px;margin-bottom:10px">
                <h5><i class="glyphicon glyphicon-info-sign"></i> 影响力分布</h5>
            </div>
            <div id="rank_distribution" style="margin-top:10px;height:500px"></div>
            <div style="text-align:center;vertical-align:middle">0-500：较低影响力；500-700：一般影响力；700-900：较高影响力；900-1100：高影响力；1100以上：极高影响力</div>
        </div>
        <div class="tab-pane" id="messages" style="margin-top:10px">
            <span>排名范围：</span><span id="change" style="margin-left:10px"></span>
            <div id="change_rank" style="margin-top:10px"></div>
        </div>
        <div class="tab-pane" id="custom" style="margin-top:10px">
            <span>选择日期：</span><span id="domain_date" style="margin-left:10px"></span>
            <span style="margin-left:15px">选择领域：</span><span id="domain" style="margin-left:10px"></span>
            <span style="margin-left:10px"><button class="btn btn-primary btn-sm" style="width:80px;height:30px" id="domain_button" title="确定选择">确定</button></span>
            <div id="domain_rank" style="margin-top:10px"></div>
        </div>
        <!--
        <div class="tab-pane" id="details" style="margin-top:10px">
            <span>选择日期：</span><span id="detail_date" style="margin-left:10px"></span>
            <span style="margin-left:10px"><button class="btn btn-primary btn-sm" style="width:80px;height:30px" id="detail_date_button" title="确定日期选择">确定</button></span>
            <div class="box-header well" style="margin-top:20px;margin-bottom:10px">
                <h5><i class="glyphicon glyphicon-info-sign"></i> 热门原创微博用户</h5>
            </div>
            <span>排序方式：</span><span id="detail" style="margin-left:10px"></span>
            <div id="detail_rank" style="margin-top:10px"></div>
            <div class="box-header well" style="margin-top:40px;margin-bottom:10px">
                <h5><i class="glyphicon glyphicon-info-sign"></i> 热门人物</h5>
            </div>
            <div style="margin-top:20px;text-align:center">（点击头像查看用户影响力详情）</div>
            <div id="hot_users" style="margin-top:0px;height:160px"></div>
            <div id="hot_users_details" style="margin-top:10px;text-align:center"></div>
            <div id="hot_users_line_chart" style="margin-top:30px;width:980px;height:400px"></div>
        </div>
        -->
    </div>
</div>
{% endblock %}

{% block Own_js %}
{{ super() }}
<script type="text/javascript" src="/static/js/portrait/rank_extra.js"></script>
<script type="text/javascript" src="/static/js/portrait/influence_rank.js"></script>
{% endblock Own_js %}

{% block end_js %}
{{ super() }}
<script type="text/javascript" src="/static/js/portrait/rank_table.js"></script>
{% endblock end_js %}
