{% extends "tbase.html" %}
{% block title %}情绪监测{% endblock title%}

{% block css %}
{{ super() }}
<link  type="text/css" href="/static/personal/css/style.css" rel="stylesheet"/>
<link  type="text/css" href="/static/personal/css/basic.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="/static/css/jquery.datetimepicker.css"/>

<style>
	select{height:25px;width:140px;}
	.shadow {
		-webkit-box-shadow:5px 6px 3px #ABA8A8;
		-moz-box-shadow:5px 6px 3px #ABA8A8;
		box-shadow:5px 6px 3px #ABA8A8;
	}
	.dataTables_length select{width: 45px;}
    .dataTables_filter{text-align:right;margin-bottom:5px;}
    .dataTables_paginate{margin-top:-10px;margin-bottom:-20px;}
    .portrait_button_choose{
		display: inline-block;
		color: #FFF;
		border: 1px solid #334EE3;
		border-radius: 2px;
		background-color:#6699FF;
		width:90px;
		height:40px;
	}
	.weibo_detail {
		margin-left: 65px;
		margin-top: 5px;
		margin:0;
		width: 100%;
		padding: 0 10px;
		line-height: 25px;
	}

	.weibo_info {
		/*margin-top: 7px;*/
		color: #666;
		margin:0;
	}
	.weibo_info .weibo_pz {
		float: right;
		color: #858585;
		height: 18px;
		line-height: 18px;
	}
	.weibo_info .m a {
		color: #666;
	}
	.xdsoft_timepicker .active{
		display: none
	}
</style>

{% endblock css %}

{% block head_js %}
{{ super() }}
<script type="text/javascript" src='/static/js/esl.js'></script>
<script type="text/javascript" src="/static/js/highstock.js" charset="utf-8"></script> 
<!-- <script type="text/javascript" src='/static/js/echarts-all.js'></script>
<script type="text/javascript" src='/static/js/echarts.js'></script> -->
<script type="text/javascript" src="/static/js/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="/static/js/portrait/group_table.js"></script>
{% endblock %}

{% block head_title %}<!-- <img src="/static/img/rank.jpg" style="width:32px;"> -->情绪监测{% endblock %}
{% block main %}
<!-- 	<h3></h3>
	<hr> -->
	<div id='' style="padding-bottom:20px;">
		<h4>监测设置</h4>
		<span id="de_username" hidden>{{g.user}}</span>
		<table class="shadow" style="margin:30px;width:900px; height:150px;border: 2px solid #cccccc;">
			<tr style="border-bottom: 1px solid #cccccc;">
				<th style="width:150px;height:50px;background-color: #E4E4E4;text-align: center;">监测范围</td>
				<td>
					<select id="detect_choose" class="type_sub" style="float:left;width:140px;height:25px;">
						<option value='all_nolimit'>全网-不限</option>
						<option value='all_limit_keyword'>全网-按关键词</option>
						<option value='in_nolimit'>库内-不限</option>
						<option value='in_limit_domain'>库内-按身份</option>
						<option value='in_limit_topic'>库内-按领域</option>
					</select>
					<div id="detect_choose_detail" style="float: left;margin-left:15px;"></div>
				</td>
			</tr>
			<tr style="border-bottom: 1px solid #cccccc;">
				<th  style="width:150px;height:50px;background-color: #E4E4E4;text-align: center;">时间间隔</th>
				<td>
					<div id="sort_select">
						<select id="sort_select_2" class="type_sub">
							<option value="fifteen">15分钟</option>
							<option value="hour">一小时</option>
							<option value="day">一天</option>
						</select>
					</div>
				</td>
			</tr>
			<tr>
				<th  style="width:150px;height:50px;background-color: #E4E4E4;text-align: center;">时间范围</th>
				<td>
					<span id="detect_time_choose">
						<input id="weibo_from" type="text" class="form-control" style="width:145px; display:inline-block;height:25px;">&nbsp;-&nbsp;
						<input id="weibo_to" type="text" class="form-control" style="width:145px; display:inline-block;height:25px">				
					</span>
					<span id="detect_submit" onclick="submit_detect()" class="portrait_button" style='float:right;cursor:pointer;margin-right:20px;width: 45px;height: 25px;text-align: center;line-height: 25px;'>监测</span>		
				</td>
			</tr>		
		</table>
		<h4>任务状态</h4>
		<div id="detect_task_status"></div>
		<h4>结果分析</h4>
		<div id="result_analysis" style="margin-left: 30px;padding:10px;background-color:#E1E6FF;width: 900px;font-size:14px;border:1px solid #B0CEFB"><b>
			<span>监测范围：<span id="detect_range"></span></span>
			<span id="detect_type"></span><span id='detect_detail'></span>
			<span   style="margin-left: 20px;">时间间隔：<span id="detect_rank_by"></span></span>
			<span style="margin-left: 20px;">时间范围：<span id="detect_time_range"></span></span>
		</b></div>
		<div id="result_detect_charts" style="margin-top:20px;width:900px;height:300px;"></div>
		<div id="loading_message" style="display:none;">
			<p style="text-align:center;min-height: 100px;line-height: 100px;">数据正在加载，请稍后...</p>
		</div>
		<div id="result_detect_detail" style="display:none;margin-top:20px;width:900px;margin-bottom:40px;">
			<div id="" style="border-top: 1px solid #6F6E6E;border-bottom: 1px solid #6F6E6E;padding: 5px;">
				<b>
					<span>当前选择时间段：</span>
					<span id="click_time" style="color:blue;"></span>
					<span style="margin-left: 50px;">当前选择情绪：</span>
					<span id="click_sentiment" style="color:blue;"></span>
				</b>
			</div>
			<div id="mood_in_all" style="float:left;">
				<h5 style="color:#983333;font-size:16px;">
					<span id="showmore_inuser" style="float:right;cursor:pointer" type="button"data-toggle="modal" data-target="#more_inuser" ><u>查看更多</u></span>
					<b>库内用户</b>
				</h5>
				<div id="mood_in_user" class="call_data"></div>
			</div>
			<div id="mood_out_all" style="margin-left:25px;float:left;">
				<h5 id="out_user_title" style="font-size:16px;display:none;color:#983333">
					<span id="showmore_outuser" style="float:right;cursor:pointer" type="button"data-toggle="modal" data-target="#more_outuser" ><u>查看更多</u></span>
					<b>库外用户</b>
				</h5>
				<div id="mood_out_user" class="call_data" style="float:left;width:440px;"></div>
			</div>
			<div id="mood_keywords" style="margin-left:25px;float:left;width:420px;height:269px;">
				<h5 id="keywords_title" style="font-size:16px;color:#983333">
					<span id="more_keywords_list" style="float:right;cursor:pointer" type="button"data-toggle="modal" data-target="#more_keywords_modal" ><u>查看更多</u></span>
					<b>关键词云</b>
				</h5>
				<div id="mood_keywords_clouds" class="call_data" style="float:left;width:415px;height:230px;"></div>
			</div>
			<div style="float:left;">
				<div id="topic_" hidden>
					<h5 id="related_topic_title">
						<b  style="color:#983333;font-size:16px;">相关话题</b>
						<span style="margin-left:200px;"><input type="checkbox" name='sub_topic'>进一步计算子话题</span>
					</h5>
					<div id="topic_key" ></div>
				</div>
				<div id="related_weibo_div" style="float:left;margin-bottom:20px;">
					<div id="related_weibo_button" hidden>
						<span id="portrait_button_choose0" class="portrait_button_choose" style="margin-left:10px;height:30px;cursor:pointer;margin-right:20px;text-align: center;line-height:30px;">全部</span>
						<span id="sub_related_weibo_button"></span>
					</div>
					<div id="related_weibo" style="width:900px;margin-top:5px;border: 4px solid #dddddd;border-radius: 10px;">
						<div id="weibo_sort" style="border-bottom: 3px solid #dddddd;height: 40px;line-height:40px;"></div>
						<div id="sub_related_weibo" style="max-height:300px;overflow-y:auto;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>


<div class="modal fade" id="more_inuser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width: 800px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="font-size:18px" id="myModalLabel">库内用户</h4>
      </div>
      <div class="modal-body" id='inuser_WordList'>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="more_outuser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width:800px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="font-size:18px" id="myModalLabel">库外用户</h4>
      </div>
      <div class="modal-body" id='outuser_WordList'>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="more_keywords_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width:485px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="font-size:18px" id="myModalLabel">关键词</h4>
      </div>
      <div class="modal-body" id='keywords_WordList'>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="detect_search_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width:500px;">
    <div class="modal-content" style="margin-top:20%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="font-size:18px" id="myModalLabel">任务搜索</h4>
      </div>
      <div class="modal-body" id='' style="height:200px;">
      	<!-- <div ></div> -->
      	<p>关 键 词<input type="text"  class="form-control" placeholder='多个词用英文逗号分开' style="margin-left:20px;width:175px;display: inline;height: 25px;" id="search_key"></p>
	   <p>是否完成
				<select id="search_status" class="type_sub" style="margin-left:10px;">
					<option name="search_status" value="2">不限</option>
					<option name="search_status" value="1">计算完成</option>
					<option name="search_status" value="0">正在计算</option>
				</select>
	      	</p>
      	<p>任务时间
		    <input type='checkbox' id="time_checkbox"class='inline-checkbox' style="margin-left:10px;">
			<span id="detect_time_choose_modal" style="margin-left:5px;">
				<input id="weibo_from_modal" type="text" class="form-control" style="width:175px; display:inline-block;height:25px;" disabled>&nbsp;-&nbsp;
				<input id="weibo_to_modal" type="text" class="form-control" style="width:175px; display:inline-block;height:25px" disabled>				
			</span>
      	</p>
      	<p>提交时间
            <input type='checkbox' id="time_checkbox_submit"class='inline-checkbox' style="margin-left:10px;">
			<span id="search_date" style="margin-left:5px;">
				<input id="weibo_modal" type="text" class="form-control" style="width:175px; display:inline-block;height:25px;" disabled>
			</span>
      	</p>
      	<span onclick="search_task()" class="portrait_button" style="float:right;cursor:pointer;margin-right:20px;width: 45px;height: 25px;text-align: center;line-height: 25px;"  class="close" data-dismiss="modal" aria-label="Close">确定</span>
      	<!-- //<p>关键词<input ></p> -->
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/static/js/portrait/mood_detect.js"></script>

{% endblock %}