{%extends "tbase.html" %}
{% block title %}网络分析{% endblock title %}

{% block css %}
{{ super() }}
<link  type="text/css" href="/static/personal/css/style.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="/static/css/jquery.datetimepicker.css"/>
<style>
#modechoose li{float:left;margin-left:20px;}
#rank_table_filter{display:none}
.col-md-6{margin-left:30px;}
</style>
{% endblock css %}
{% block head_js %}
{{ super() }}
<script type="text/javascript" src="/static/js/jquery.datetimepicker.js"></script>
{% endblock %}

{% block head_title %}网络分析{% endblock head_title %}
{% block main %}
<div id="p_useremail" hidden>{{g.user.email}}</div>
<div style="margin-left:350px;margin-bottom:11px;">
    <button class="portrait_button p_d" id="by_time" onclick="hidden_keywords()" type='button' style="margin-right:32px;background-color:#3351B7" title="实时排名" >实时排名</button>
    <button class="portrait_button p_d" id="by_keywords" onclick="hidden_time()" type='button' style="margin-right:32px;" title="关键词任务" >关键词任务</button>
</div>


<div id="framecontent" style="width:850px;">
    <div class ="framepost" style="height:450px;">
        <!--<h3 class="title">节点趋势图</h3>-->
        <div  class="entry" style="width:55%;float:left;">
            <div id="Activezh" style="height:349px;width:900px;margin-top:0px;" class="fleft"></div>
        </div>
    </div>
</div>


<div id="show_keywords" style="width:850px;" class="hidden">
    <div class ="framepost" style="height:450px;">
        <h3 class="title">关键词分析</h3>
        <div  class="entry" style="width:55%;float:left;">
            <table class="shadow" style="margin:30px;width:900px; height:150px;border: 2px solid #cccccc;">
			<tr style="border-bottom: 1px solid #cccccc;">
				<th style="width:150px;height:50px;background-color: #E4E4E4;text-align: center;">关键词</td>
				<td>
					<input id="keyword_detect" type="text" class="form-control" style="width:275px;height:25px;" placeholder="请输入关键词，多个词用英文逗号分开">
				</td>
			</tr>
			<tr>
				<th  style="width:150px;height:50px;background-color: #E4E4E4;text-align: center;">时间范围</th>
				<td>
					<span id="detect_time_choose">
						<input id="weibo_from" type="text" class="form-control" style="width:145px; display:inline-block;height:25px;">&nbsp;-&nbsp;
						<input id="weibo_to" type="text" class="form-control" style="width:145px; display:inline-block;height:25px">				
					</span>
					<span id="detect_submit"  class="portrait_button" style='float:right;cursor:pointer;margin-right:20px;width: 45px;height: 25px;text-align: center;line-height: 25px;'>监测</span>		
				</td>
			</tr>		
		</table>
		<h4>任务状态</h4>
		<div id="detect_task_status" style="width:920px;"></div>
        </div>
    </div>
</div>

<h4 style="float:left;width:100%;">结果分析</h4>
<div style="width:100%;margin-top:10px;">
	    <!--<span style= "color:red;margin-left:20px;float:left;">相关微博</span>-->
		<ul style="float:left;width:100%;" id="modechoose">
			<li style="margin-left:50px;">
		        <input type="radio" name="mode_choose" value="pr" checked="checked">
                <span class="mode" style="">pagerank</span>
			</li>
			<li id='pr_diff'>
                <input type="radio" name="mode_choose" value="pr_diff">
                <span class="mode" style="">pagerank变动</span>
			</li style="float:left;">
			<li>
				<input type="radio" name="mode_choose" value="dg" >
				<span class="mode" style="">节点度</span>
			</li>
			<li id='dg_diff'>
                <input type="radio" name="mode_choose" value="dg_diff">
                <span class="mode" style="">节点度变动</span>
			</li>
		</ul>
	</div>
<div id="result_rank_table" style="margin-top:20px;"></div>


<div id="float-wrap" class="hidden"></div>


<!-- 模态框 -->
<div class="modal fade" id="detect_search_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width:500px;">
    <div class="modal-content" style="margin-top:20%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="font-size:18px" id="myModalLabel">任务搜索</h4>
      </div>
      <div class="modal-body" id='' style="height:200px;">
      	<!-- <div ></div> -->
      	<p>关 键 词<input type="text"  class="form-control" placeholder='多个词用英文逗号分开' style="margin-left:20px;width:175px;display: inline;height: 25px;" id="search_key"></p>
	   <p>是否完成
				<select id="search_status" class="type_sub" style="margin-left:10px;">
					<option name="search_status" value="2">不限</option>
					<option name="search_status" value="1">计算完成</option>
					<option name="search_status" value="0">正在计算</option>
				</select>
	      	</p>
      	<p>任务时间
		    <input type='checkbox' id="time_checkbox"class='inline-checkbox' style="margin-left:10px;">
			<span id="detect_time_choose_modal" style="margin-left:5px;">
				<input id="weibo_from_modal" type="text" class="form-control" style="width:175px; display:inline-block;height:25px;" disabled>&nbsp;-&nbsp;
				<input id="weibo_to_modal" type="text" class="form-control" style="width:175px; display:inline-block;height:25px" disabled>				
			</span>
      	</p>
      	<p>提交时间
            <input type='checkbox' id="time_checkbox_submit"class='inline-checkbox' style="margin-left:10px;">
			<span id="search_date" style="margin-left:5px;">
				<input id="weibo_modal" type="text" class="form-control" style="width:175px; display:inline-block;height:25px;" disabled>
			</span>
      	</p>
      	<span onclick="search_task()" class="portrait_button" style="float:right;cursor:pointer;margin-right:20px;width: 45px;height: 25px;text-align: center;line-height: 25px;"  class="close" data-dismiss="modal" aria-label="Close">确定</span>
      	<!-- //<p>关键词<input ></p> -->
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="detail_network" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 500px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="font-size:18px" id="myModalLabel">网络详情</h4>
      </div>
      <div class="modal-body" id='networkDrtail'>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="/static/js/portrait/group_table.js"></script>
<script src="/static/js/highstock.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/js/portrait/net.js"></script> 
<script type="text/javascript">

</script>




{% endblock main %}

{% block Own_js %}
{{ super() }}

{% endblock Own_js%}

