{% extends "tbase.html" %}
{% block title %}人物详细属性{% endblock title %}

{% block css %}
{{ super() }}
<link  type="text/css" href="/static/personal/css/style.css" rel="stylesheet"/>
<link  type="text/css" href="/static/personal/css/basic.css" rel="stylesheet"/>
<link  type="text/css" href="/static/personal/css/framestyle.css" rel="stylesheet"/>
{% endblock css %}

{% block head_js %}
{{ super() }}
<style type="text/css">
.terms{
    /*height:30px;width:237px;float:left;*/
    margin-bottom: 5px;
    margin-left: 2px;
  
}
.t-title{
    /*height:30px;width:237px;float:left;*/
    margin-left: 2px;
  
}
</style>

<script type="text/javascript">
var pre_flag = false;
var lan_flag = false;
var in_flag = false;
var so_flag = false;
var th_flag = false;
$(function(){
    /**软件功能切换js**/
     preference_load();
    $(" .p_d").click(function(){
        var x = $(this).attr("title");
        // var x=$(this).parent().index();
        // console.log(x);
        //$(this).children("p").css({"color":"#008dd9"}).parent().parent().siblings().children().children("p").css({"color":"#333333"});
        $(this).css({"background-color":"#3351B7"}).siblings().css({"background-color":"#6699FF"});
        if(x=='身份特征'){
           $("#qxtz").css({"display":"block"}).siblings().css({"display":"none"});
           //$("#qxtz").css({"background-color":"#3351B7"})
        }else if(x=='活动特征'){
            if(pre_flag==false){
     		activity_load();
                pre_flag = true;
            }
            $("#xzgl").css({"display":"block"}).siblings().css({"display":"none"});
        }else if(x=='偏好特征'){
            if(lan_flag==false){
                language_load();
                lan_flag = true;
            }
           $("#crm ").css({"display":"block"}).siblings().css({"display":"none"});
        }else if(x=='影响力特征'){
            if(in_flag==false){
                influence_load();
                in_flag = true;
            }
           $("#xmgl").css({"display":"block"}).siblings().css({"display":"none"});
        }else if(x=='社交特征'){
            if(so_flag==false){
                social_load();
                so_flag = true;
            }
           $("#zsgl").css({"display":"block"}).siblings().css({"display":"none"});
        }else if(x=='性格特征'){
            if(th_flag==false){
                thought_load();
                th_flag = true;
            }
           $("#ydbg").css({"display":"block"}).siblings().css({"display":"none"});
        }else if(x=='标签特征'){

           $("#bqtz").css({"display":"block"}).siblings().css({"display":"none"});
        }
    });
    
});
</script>
{% endblock head_js %}
{% block head_title %}
人物详细属性
{% endblock head_title %}
{% block main %}
<div id="d_useremail" hidden>{{g.user.email}}</div>
<div id="basicwrapper" style="width:1100px;">
	<!-- end #menu -->
	<div id="basicpage">
	<div id="basicpage-bgtop">
    <div id="basicpage-bgbtm">
        <div id="framesidebar" style="margin-top:50px;" >
            <div style="margin-left:45px;"><span class="img-photo"><img id="portraitImg" src="http://tp2.sinaimg.cn/1878376757/50/0/1" alt="Photo" width="120" height="120" /></span></div>
            <div >
                <div style="width:300px;height:30px; margin-bottom: 77px;">
                  <div style="width:640px; float:left;">
                      <span class="nickname" id="nickname"></span>
                    <a class="portrait_href" style="float:right;margin-right:400px;margin-top:5px;cursor:pointer;"  onclick="backto();">返回基本属性</a>
                  </div>
                </div>
              </div>
            <h3  style="padding:5px;margin-top:79px;color:white">个人注册信息</h3>
            <li>
                <ul style="padding:0px;height:350px;">
                    <div >
                        <div class="terms"  >
                            <span class="t-title">用户ID：</span>
                            <span  id="userId" ></span>
                        </div>
                        <div class="terms">
                            <span class="t-title">昵称：</span>
                            <span  id="username" ></span>
                        </div>
                        <div class="terms">
                            <span class="t-title">是否认证：</span>
                            <span  id="verified" ></span>
                        </div>
                        <div class="terms">
                            <span class="t-title">认证类型：</span>
                            <span  id="vertype" ></span>
                        </div>
                        <div class="terms">
                            <span class="t-title">粉丝数：</span>
                            <span  id="userFans" ></span>
                        </div>
                        <div class="terms">
                            <span class="t-title">关注数：</span>
                            <span  id="userFriend" ></span>
                        </div>
                        <div class="terms">
                            <span class="t-title">微博数：</span>
                            <span  id="userWeibo" ></span>
                        </div>
                        <div class="terms">
                            <span class="t-title" >注册地：</span>
                            <span  id="userLocation" ></span>
                        </div>
                        <div class="terms">
                            <span class="t-title" style="    float: left;" >个人描述：</span>
                            <span   style="    display: block;    width: 165px;    float: left;" id="userdes" ></span>
                        </div>
                        <div class="terms">
                            <span class="t-title" style="    float: left;" >微博主页：</span>
                            <span  style="   margin-left:20px" id="uhome" ></span>
                        </div>
                    </div>
                </ul>
            </li>

        <h3  style="padding:5px;margin-top:10px;color:white">标签</h3>
        <li>
        <ul style="padding:0px;height:350px;">
        <div >
            <span style="margin-left:20px;line-height:40px;">个人标签</span>
            <span style="float:left;width:100%;border-top:1px solid #ccc;" id="d_tag">
            </span>
                <span style="float:left;margin-left:20px;font-size:14px;margin-top:20px;">添加标签</span>
                    <span style= "width:100%;float:left;margin-left:20px;margin-top:10px;">
                        <span >选择类别：</span>
                        <span id="d_attribute_name_zh" style="margin-left:10px">
                            <select id="d_select_attribute_name">
                            </select>
                        </span>
                    </span>
                    <span style= "width:100%;float:left;margin-top:10px;margin-left:20px;">
                        <span >选择标签：</span>
                        <span id="d_attribute_value_zh" style="margin-left:10px">
                            <select id="d_select_attribute_name">
                            </select>
                        </span>
                    </span>
                <div><span style="margin-right:3px;float:right;"><span id="d_add_tag" style="display:inline-block;border:1px solid #334EE3;width:50px;height:30px;border-radius:2px;color:#FFF;background-color:#6699FF;padding-left:10px;line-height:30px;cursor:pointer;" onclick="d_add_tag()">添加</span></span></div>
        </div>
        <span style="float:left;border-top:1px solid #ccc;width:100%;padding-top:10px;margin-top:10px;" id="d_group_tag">
        </span>
        <span style="float:left;margin-left:20px;margin-top:10px;">用户备注：</span>
        <span style="float:left;margin-left:40px;margin-top:10px;" id="d_extraDetail">暂无</span>
         </ul>
        </li>
        </div>




        <div id="framecontent" style="width:850px;">
            <div class ="framepost" style="height:160px;">
                <h3 class="title">整体评价</h3>
                <div  >
                    <div  style="font-size:13px; line-height:30px;" >
                       <div style="width:350px;float:left"><span style="color:red;margin-left:20px;font-size:13px;">活跃度</span> <span id="activePower" style="margin-left:20px;"></span>&nbsp(NO.<span id="activeness_rank"></span>/<span id="activeness_total"></span>)&nbsp <span class="gray">最高值</span><span id="Hactiveness"></span>/<span class="gray">最低值</span><span id="Lactiveness"></span></div>
                        <span style="color:red;margin-left:20px;font-size:13px;">身份敏感度</span> <span id="importantPower" style="margin-left:20px;"></span>&nbsp(NO.<span id="importance_rank"></span>/<span id="importance"></span>)&nbsp <span class="gray">最高值</span><span id="Himportance"></span>/<span class="gray">最低值</span><span id="Limportance"></span>
                    </div>
                    <div style="font-size:13px;line-height:30px;margin-top:10px;" >
                        <div style="width:350px;float:left"> <span style="color:red;margin-left:20px;font-size:14px;">影响力</span> <span id="influencePower" style="margin-left:20px;"></span>&nbsp(NO.<span id="influence_rank"></span>/<span id="influence"></span>)&nbsp <span class="gray">最高值</span><span id="Hinfluence"></span>/<span class="gray">最低值</span><span id="Linfluence"></span></div>
                        <span style="color:red;margin-left:20px;font-size:14px;">言论敏感度</span> <span id="sensitivePower" style="margin-left:20px;"></span>&nbsp(NO.<span id="sensitive_rank"></span>/<span id="sensitiveness"></span>)&nbsp <span class="gray">最高值</span><span id="Hsensitiveness"></span>/<span class="gray">最低值</span><span id="Lsensitiveness"></span>
                    </div>
                    <div style="border-top:1px solid #ccc;width:100%;float:left;padding-left:20px;line-height:40px;">
                        <span>注：当前数值是通过计算近7日信息获得，最高、最低值统计范围为近30日。</span>
                    </div>
                </div>
            </div>
        </div>

           
        <div style="margin-left:250px;margin-bottom:11px;">
            <button class="portrait_button p_d" type='button' style="margin-right:32px;background-color:#3351B7" title="身份特征" >身份特征</button>
             <button class="portrait_button p_d" type='button' style="margin-right:32px;" title="活动特征" >活动特征</button>
            <button class="portrait_button p_d" type='button' style="margin-right:32px;" title="偏好特征" >偏好特征</button>
            <button class="portrait_button p_d" type='button' style="margin-right:32px;" title="影响力特征" >影响力特征</button>
            <button class="portrait_button p_d" type='button' style="margin-right:32px;" title="社交特征" >社交特征</button>
            <button class="portrait_button p_d" type='button' style="margin-right:32px;" title="性格特征" >性格特征</button>
            <button class="portrait_button p_d" type='button'  title="标签特征" >外部评价</button>
        </div>

<script type="text/javascript">
 function Personal(){
    this.ajax_method = 'GET';
    }
    Personal.prototype = {   //群组搜索
        call_sync_ajax_request:function(url, method, callback){
            $.ajax({
              url: url,
              type: method,
              dataType: 'json',
              async: false,
              success:callback
            });
        },
        personData:function(data){
            personalData = data ;
            var uid_div = document.getElementById('userId');
            if(personalData.uid){
                //console.log(personalData.uid)
                uid_div.innerHTML = personalData.uid;
            }else{
                uid_div.innerHTML = "无此数据";
            }
            var img = document.getElementById('portraitImg');
            if(personalData.photo_url == "unknown"){
                img.src =  "http://tp2.sinaimg.cn/1878376757/50/0/1";
            }else{
                img.src = personalData.photo_url;
            }
            var nickName = document.getElementById('username');
            if(personalData.uname){
                if (personalData.uname == 'unknown') {
                    nickName.innerHTML = '未知';
                }
                else{
                    nickName.innerHTML = personalData.uname;
                }
            }else{
                nickName.innerHTML = "无此数据";
            }
            var u_verified = document.getElementById('verified');
            if(personalData.verified){
                if (personalData.verified == 'unknown') {
                     u_verified.innerHTML = '未知';
                }
                else{
                     u_verified.innerHTML = personalData.verified;
                }
            }else{
                u_verified.innerHTML = "无此数据";
            }
            var u_vertype = document.getElementById('vertype');
            if(personalData.verified_type){
                u_vertype.innerHTML = personalData.verified_type;
            }else{
                u_vertype.innerHTML = "无此数据";
            }
            var fans = document.getElementById('userFans');
            if(personalData.fansnum){
                fans.innerHTML = personalData.fansnum;
            }else{
                fans.innerHTML = "无此数据";
            }
            var friends = document.getElementById('userFriend');
            if( personalData.friendsnum){
                friends.innerHTML = personalData.friendsnum;
            }else{
                friends.innerHTML = "无此数据";
            }
                
            var pattern = document.getElementById('userWeibo');
            if(personalData.statusnum){
                pattern.innerHTML = personalData.statusnum;
            }else{
                pattern.innerHTML = "无此数据";
            }
            var userlocation = document.getElementById('userLocation');
            if(personalData.location){
                if(personalData.location == 'unknown'){
                    userlocation.innerHTML = "无此数据";
                }else{
                    userlocation.innerHTML = personalData.location;
                }
            }else{
                userlocation.innerHTML = "无此数据";
            }
            var detailPortrait = document.getElementById('userdes');
            //console.log(personalData.description.length);
            if(!personalData.description ){
                detailPortrait.innerHTML = "无此数据";
            }else if(personalData.description.length>35){
                detailPortrait.innerHTML = personalData.description.substr(0,35)+'...';
            }
            else{
                detailPortrait.innerHTML = personalData.description;
            }       
            var homepage = document.getElementById('uhome');
            if(!personalData.uid ){
                homepage.innerHTML = "无此数据";
            }else{
                homepage.innerHTML = '<a id="openurl" style="cursor:pointer" onclick="openurl();">http://weibo.com/u/'+personalData.uid;
            } 
        },
        overallData0:function(data){
        //console.log(data);
        
        //活跃度
        var AP = document.getElementById('activePower');
        if(data.activeness[0] !=""){
            AP.innerHTML = data.activeness[0].toFixed(2);
        }else{
            AP.innerHTML = '0';
        }
        var AR = document.getElementById('activeness_rank');
        if(data.activeness[1] !=""){
            AR.innerHTML = data.activeness[1];
        }else{
            AR.innerHTML = '0';
        }
        var HA = document.getElementById('Hactiveness');
        if(data.activeness[2] !=""){
            HA.innerHTML = data.activeness[2].toFixed(0);
        }else{
            HA.innerHTML = '0';
        }
        var LA = document.getElementById('Lactiveness');
        if(data.activeness[3] !=""){
            LA.innerHTML = data.activeness[3].toFixed(0);
        }else{
            LA.innerHTML = '0';
        }
        var AT = document.getElementById('activeness_total');
        if(data.activeness[4] !=""){
            AT.innerHTML = data.activeness[4];
        }else{
            AT.innerHTML = '0';
        }
        
        //重要度
        var IP = document.getElementById('importantPower');
        if(data.importance[0] !=""){
            IP.innerHTML = data.importance[0].toFixed(2);
        }else{
            IP.innerHTML = '0';
        }
        var IR = document.getElementById('importance_rank');
        if(data.importance[1] !=""){
            IR.innerHTML = data.importance[1];
        }else{
            IR.innerHTML = '0';
        }
        var HI = document.getElementById('Himportance');
        if(data.importance[2] !=""){
            HI.innerHTML = data.importance[2].toFixed(0);
        }else{
            HI.innerHTML = '0';
        }
        var LI = document.getElementById('Limportance');
        if(data.importance[3] !=""){
            LI.innerHTML = data.importance[3].toFixed(0);
        }else{
            LI.innerHTML = '0';
        }
        var IT = document.getElementById('importance');
        if(data.importance[4] !=""){
            IT.innerHTML = data.importance[4];
        }else{
            IT.innerHTML = '0';
        }
        
        //影响力
        var FP = document.getElementById('influencePower');
        if(data.influence[0] !=""){
            FP.innerHTML = data.influence[0].toFixed(2);
        }else{
            FP.innerHTML = '0';
        }
        var FR = document.getElementById('influence_rank');
        if(data.influence[1] !=""){
            FR.innerHTML = data.influence[1];
        }else{
            FR.innerHTML = '0';
        }
        var HF = document.getElementById('Hinfluence');
        if(data.influence[2] !=""){
            HF.innerHTML = data.influence[2].toFixed(0);
        }else{
            HF.innerHTML = '0';
        }
        var LF = document.getElementById('Linfluence');
        if(data.influence[3] !=""){
            LF.innerHTML = data.influence[3].toFixed(0);
        }else{
            LF.innerHTML = '0';
        }
        var FT = document.getElementById('influence');
        if(data.influence[4] !=""){
            FT.innerHTML = data.influence[4];
        }else{
            FT.innerHTML = '0';
        }
        
        
        //敏感度 
        var SP = document.getElementById('sensitivePower');
        if(data.sensitive[0] !=""){
            SP.innerHTML = data.sensitive[0].toFixed(2);
        }else{
            SP.innerHTML = '0';
        }
        var SR = document.getElementById('sensitive_rank');
        if(data.sensitive[1] !=""){
            SR.innerHTML = data.sensitive[1];
        }else{
            SR.innerHTML = '0';
        }
        var HS = document.getElementById('Hsensitiveness');
        if(data.sensitive[2] !=""){
            HS.innerHTML = data.sensitive[2].toFixed(0);
        }else{
            HS.innerHTML = '0';
        }
        var LS = document.getElementById('Lsensitiveness');
        if(data.sensitive[3] !=""){
            LS.innerHTML = data.sensitive[3].toFixed(0);
        }else{
            LS.innerHTML = '0';
        }
        var ST = document.getElementById('sensitiveness');
        if(data.sensitive[4] !=""){
            ST.innerHTML = data.sensitive[4];
        }else{
            ST.innerHTML = '0';
        }
    },
    d_attentionData:function(data){
    $('#d_tag').empty();
        html = '';
        html = html + '<span style="float:left;margin-left:20px;margin-top:5px;font-size:14px;">已有标签</span>';
        html = html + '<span style="float:left;margin-top:5px;">';
        if(data.tag_remark.tag.length == 0){
            html = html + '<label style="margin-left:30px;" class="">暂无数据</label>';
            html = html +'</span>';
            $('#d_tag').append(html);
        }else{
            for(var i=0;i<data.tag_remark.tag.length;i++){
                html = html + '<label class="cols-label"><input name="" class=" fleft chosebox" type="checkbox" value="">'+data.tag_remark.tag[i]+'</label>';
            }
            html = html +'<li class="portrait_button" style="margin-right:15px;float:right;width:50px;height:30px;"><span id="d_del_tag" style="padding-left:10px;line-height:30px;cursor:pointer;">删除</span></li>';
            $('#d_tag').append(html);
        }

        $('#d_group_tag').empty();
        html = '';
        html = html + '<span style="float:left;margin-left:20px;">群组标签：</span>';
        if(data.group_tag.length==0){
            html = html + '<span style="float:left;margin-left:40px;">暂无数据</span>';
        }else{
            for(var i=0;i<data.group_tag.length;i++){
                html = html + '<span style="float:left;margin-left:40px;">'+data.group_tag[i]+'</span>';
            }
        }
        $('#d_group_tag').append(html);
    },        

        remarkData:function(data){
            //console.log(data);
            if (data == ''){
                $('#d_extraDetail').html('暂无');
            }
            else{
                $('#d_extraDetail').html(data);
            }
        },
        historyData:function(data){
            //console.log(data);
            histData = data;
        },
    }
    var global_tag_vector = new Array(); //全局标签化向量
    function openurl(){
        var ourl = $('#openurl').text();
        window.open(ourl);
    }
    function backto(){
	var burl0 = $('#userId').text();
	var burl = '/index/personal/?uid='+burl0;
        window.location=burl;
    }
    var uid = "{{ uid }}";
    var Personal = new Personal();
    var personalData; // global data
    var histData;
    var url = "/attribute/portrait_attribute/?uid=" + uid;
    Personal.call_sync_ajax_request(url, Personal.ajax_method, Personal.personData);
    var url = "/attribute/get_remark/?uid=" + uid;
    Personal.call_sync_ajax_request(url, Personal.ajax_method, Personal.remarkData);
    var url = "/attribute/history_activeness_influence/?uid=" + uid;
    Personal.call_sync_ajax_request(url, Personal.ajax_method, Personal.historyData);
    var url = "/attribute/current_tag_vector/?uid=" + uid;
    Personal.call_sync_ajax_request(url, Personal.ajax_method, currentData);
    var url = "/attribute/new_user_portrait/?uid=" + uid;
    Personal.call_sync_ajax_request(url, Personal.ajax_method, Personal.d_attentionData);
    var url = "/attribute/new_user_evaluate/?uid=" + uid;
    Personal.call_sync_ajax_request(url, Personal.ajax_method, Personal.overallData0)

    function currentData(data){
        //console.log(data);
        //global_tag_vector.push(['昨日影响力评价',data[0]]);
    }

    var global_detail_flag = false;
    function tag_call_ajax_request(url, callback){
        $.ajax({
            url:url,
            type:"GET",
            dataType:'json',
            // async:true,
            // beforeSend:function(){
            //     $('.loading_mask').showLoading();
            // },
            // complete:function(){
            //     $('.loading_mask').hideLoading();
            // },
            success:callback,
        });
    }

$(function(){
    $('#d_add_tag').click(function(){
        //console.log('sadas');
        // add_tag_attribute_name = $("#d_select_attribute_name").val();
        // add_tag_attribute_value = $("#d_select_attribute_value").val();
        // add_group_tag_url = '/tag/add_tag/?uid=' + uid + "&attribute_name=" + add_tag_attribute_name + "&attribute_value=" + add_tag_attribute_value;
        d_add_person_tag();
    })
});


function d_bind_remark_edit(Personal){
    $('#d_extraDetail').click(function(){
        var td = $(this);
        var txt = td.html();
        var input = "<input id='d_editremark' style='width:100px;' type='text' value='" + txt + "'/>";
        td.html(input);
        $('#d_editremark').click(function(){
            return false;
        });
        $('#d_editremark').trigger('focus');
        $('#d_editremark').bind('keyup', function(e){
            var ev = document.all?window.event:e;
            if (ev.keyCode == 13){
                var newtxt = $(this).val();
                if (newtxt == ''){
                    td.html('暂无');
                }
                else{    
                    td.html(newtxt);
                }
                if (newtxt != txt){
                    var url = '/attribute/edit_remark/?uid=' + uid + '&remark=' + newtxt;
                    Personal.call_sync_ajax_request(url, Personal.ajax_method, confirm_edit);
                    //console.log('diff');
                }
            }
        }).bind('keydown', function(e){
            var ev = document.all?window.event:e;
            if (ev.keyCode == 13){
                return false;
            }
        });
        $('#d_editremark').blur(function(){
            var newtxt = $(this).val();
            if (newtxt == ''){
                td.html('暂无');
            }
            else{    
                td.html(newtxt);
            }
            if (newtxt != txt){
                var url = '/attribute/edit_remark/?uid=' + uid + '&remark=' + newtxt;
                Personal.call_sync_ajax_request(url, Personal.ajax_method, confirm_edit);
                //console.log('diff');
            }
        });
        function confirm_edit(data){
            //alert(data);
        }
    });
}
d_bind_remark_edit(Personal);

    function person_call_ajax_request(url, callback){
        $.ajax({
            url:url,
            type:"GET",
            dataType:'json',
            // async:true,
            // beforeSend:function(){
            //     $('.soft_con_icon').showLoading();
            // },
            // complete:function(){
            //     $('.soft_con_icon').hideLoading();
            // },
            success:callback,
        });
    }      
</script>
        <div style="margin-left:10px;margin-top:20px;float:left;width:850px;">     
            <div id="xzgl" style="display:none" >
                {% include "portrait/detail/activity.html"%}
            </div>
            <div id="qxtz" >
                {% include "portrait/detail/preference.html"%}
            </div>
            <div id="crm" style="display:none">
                {% include "portrait/detail/language.html"%}
            </div>
        
            <div id="xmgl" style="display:none">
                {% include "portrait/detail/basic.html"%}
            </div>
            <div id="zsgl" style="display:none">
                {% include "portrait/detail/social.html"%}
            </div>
            <div id="ydbg" style="display:none">
                {% include "portrait/detail/thought.html"%}
            </div>
            <div id="ybtz" style="display:none">
                {% include "portrait/detail/de_tag.html"%}
            </div>
        </div>
	</div>
	</div>
	</div>
</div>
<div id="float-wrap" class="hidden"></div>
<script type="text/javascript" src="/static/js/portrait/d_show_tag.js"></script> 

{% endblock main %}

{% block Own_js %}
{{ super() }}
<script>
    $('#vector_table').empty();
    var html = '';
    for (var i = 0;i < global_tag_vector.length; i++){
        var unit = global_tag_vector[i];
        html += '<li class="li_1"><span class="pt_title">';
        html += unit[0] + '</span><span class="pt_detail">';
        html += unit[1] + '</span></li>';
    }
    //console.log('tagvector');
    //console.log(global_tag_vector);
    $('#vector_table').html(html);
</script>
{% endblock Own_js%}
