{% extends "tbase.html" %}
{% block title %}网民入库推荐{% endblock title %}
{% block head_title %}网民入库推荐{% endblock head_title %}
{% block css %}
{{ super() }}
<style>
    .dataTables_filter{text-align:right;margin-bottom:5px;}
    .dataTables_paginate{margin-top:-10px;margin-bottom:-20px;}
</style>
{% endblock css %}
{% block main %}
<div id="useremail" hidden>{{g.user.email}}</div>
<div class="box-content">
    <div class="tab-pane active" id="info">
        <div style="margin-bottom:20px;">
            <input type="radio" name="recommend_type" checked value="influence" />影响力推荐
            <input style="margin-left:50px;" type="radio" name="recommend_type" value="sensitive" />敏感度推荐
            <input style="margin-left:50px;" type="radio" name="recommend_type" value="auto" />智能推荐
            <input style="margin-left:50px;" type="radio" name="recommend_type" value="upload" />用户推荐
        </div>
        <div id='recommend_panel'>
		<span>推荐日期：</span><span id="recommend_date" style="margin-left:10px">
		    <select id="recommend_date_select" style="width:110px;height:20px;"></select></span>
		<span style="margin-left:10px"><button class="btn btn-primary btn-sm" style="width:80px;height:30px" id="recommend_date_button" title="确定日期选择">确定</button></span>
		<div id="recommend" style="margin-top:10px"><div style="text-align:center;vertical-align:middle;height:40px">数据正在加载中，请稍后...</div></div>
        </div>
        <div id='upload_panel' style="display:none;">
            <span style='float:left;margin-top:10px;'>文件内容：</span>
            <span style='float:left;margin-top:10px;'><select id='file_type'>
                <option value='uid'>用户ID</option>
                <option value='uname'>用户昵称</option>
                <option value='url'>用户相册URL</option>
            </select></span>
	        <form enctype="multipart/form-data" method="post" style="float:left;margin:10px 15px;height:25px;">
                    <input type="file" id="seed_file_upload" class="fleft" style='border:1px solid #999'/>  
                    <input type="button" value="上传" id="uploadbtn" class="fleft"/>
                </form>
                <div class="col-lg-9" id="file_status" style="display:none;padding:0px;">
                    <span class="input-group-addon" style="color:#2c3251;font-weight:bold;width:100px;border:1px solid white;background-color:white;display:inline-block">上传成功！</span>
                    <span id="add_file" class="input-group-addon" style="width:250px;border:1px solid white;background-color:white;display:inline-block" ></span>
                    <a id="delete_file" style="cursor:pointer;">删除</a>
                </div>
        </div>
	<div style="text-align:right">
	    <button class="btn btn-primary btn-sm" style="width:80px;height:40px;margin-left:10px" name="recommend_button" id="recommend_button">选择入库</button>
	</div>
    </div>
</div>

<div class="modal fade" id="details_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width:820px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">用户详情</h4>
      </div>
      <div class="modal-body" style="width:820px">
        <h4 style="text-align:center">微博走势</h4>
        <div id="line_chart" style="margin-top:0px;height:350px;width:780px"></div>
        <div id="in_detail">
            <span id="place" style="margin-top:0px;margin-left:20px;width:340px;float:left"></span>
            <span id="hashtag" style="margin-top:0px;margin-right:20px;width:340px;float:right"></span>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block Own_js %}
{{ super() }}
<script type="text/javascript" src="/static/js/portrait/identify_table.js"></script>
<script type="text/javascript" src="/static/js/portrait/portrait_in.js"></script>
{% endblock Own_js %}
