{% extends "tbase.html" %}
    {% block title %}权限管理{% endblock title %}

{% block css %}
{{ super() }}
<link  type="text/css" href="/static/personal/css/style.css" rel="stylesheet"/>
<link  type="text/css" href="/static/personal/css/basic.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="/static/css/jquery.datetimepicker.css"/>
<style type="text/css">
	#user_list{
		padding:10px;
	}
    input[name="choose_role"]{
        margin-left: 10px;
    }
	.portrait_button{
        	display: inline-block;^M
	        color: #FFF;^M
        	border: 1px solid #334EE3;^M
	        border-radius: 2px;^M
	    background-color:#6699FF;
	    width:90px;
	    height:40px;
}
</style>

{% endblock css %}

{% block head_js %}
{{ super() }}
<script type="text/javascript" src='/static/js/esl.js'></script>
<script type="text/javascript" src="/static/js/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="/static/js/portrait/group_table.js"></script>
{% endblock %}

    {% block head_title %}权限管理{% endblock %}

	{% block main %}
        <div id="role_list"></div>

        <div class="box-content" style="padding:0;margin:0;">
            <ul class="nav nav-tabs" id="myTab" style="margin:10px 0;">
                <li class="active" title="用户列表"><a href="#user_list" style="font-size:15px">用户列表</a></li>
                <li title="新增用户"><a href="#create_user" style="font-size:15px">新增用户</a></li>
            </ul>
            <div id="myTabContent" class="tab-content" style="margin:0;width:1000px;background-color:whitesmoke;">
                <div class="tab-pane active" id="user_list" style="margin-top:10px;margin-bottom:0;">
                  <div class="row category margin-bottom-20" id='user_list_table' style="margin:0;"></div>
                </div>
                <div class="tab-pane" id="create_user" style="margin-top:10px;margin-bottom:0;padding:10px;padding-bottom: 50px;">
                  <div>
                    <form>
                        <p><b>用户名：</b><input id="create_name" type="text" style="width:200px;height:25px;margin-left:10px;" id="create_pw" placeholder="请输入邮箱作为用户名"></p>
                        <p><b>密码：</b><input type="text" style="width:200px;height: 25px;margin-left: 23px;" id="create_pw" placeholder="请输入密码"></p>
                        
			<p><b>是否活跃:</b>
                            <input type="radio" name="user_active" style="margin-left: 8px;" id="active_yes" checked="checked" value="1">是
                            <input type="radio" name="user_active" id="active_no" style="margin-left:10px;" value="2">否</p>
                        <p><b>更新时间:</b><input type="text" style="min-width:140px;height:25px;margin-left: 8px;" id="user_update"></p>
			<p>
        	          <b style="margin-right: 23px;">权限:</b>
                	  <span id="add_role1">
                        <input type="checkbox" name="choose_role" id="attribute" value="attribute" class="role_option">attribute
                        <input type="checkbox" name="choose_role" id="detect" value="detect" class="role_option">detect
                        <input type="checkbox" name="choose_role" id="influence_application" value="influence_application" class="role_option">influence_application
                        <input type="checkbox" name="choose_role" id="group" value="group" class="role_option">group
                        <input type="checkbox" name="choose_role" id="profile" value="profile" class="role_option">profile
			<input type="checkbox" name="choose_role" id="social_sensing" value="social_sensing" class="role_option">social_sensing
                        <input type="checkbox" name="choose_role" id="recommentation" value="recommentation" class="role_option">recommentation
                        <input type="checkbox" name="choose_role" id="overview" value="overview" class="role_option">overview
                        <input type="checkbox" name="choose_role" id="recommentation" value="recommentation" class="role_option">recommentation
                </span>
            </p>
		    <p>
		    <span id="rank_submit" onclick="create_user()" class="portrait_button" style='text-align: center;line-height: 25px;float:right;cursor:pointer;width:50px;height:25px;margin-right:20px;'>提交</span>
   		    </p>
		    </form>
                  </div>
                </div>
        </div>
    </div>


    <div class="modal fade" id="role_edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="position: absolute;margin-top: 100px;float :none;width: 670px;">
          <div class="modal-header" style="float:inherit;margin:initial;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">修改权限</h4>
          </div>
          <div class="modal-body" style="float:none;">
            <p><b>权限:<span id="role_name" style="margin-left:10px;"></span></b></p>
            <p><b>说明:</b></p>
            <p><textarea rows="5" cols="80" id="role_description" style="margin-left: 30px;">  </textarea></p>
          </div>
          <div class="modal-footer">
            <button id="submit_role_edit" type="button" class="btn btn-default" data-dismiss="modal">确定</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="user_edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="position: absolute;margin-top: 100px;float :none;width: 670px;">
          <div class="modal-header" style="float:inherit;margin:initial;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">编辑用户信息</h4>
          </div>
          <div class="modal-body" style="float:none;">
            <p><b>用户名:</b><input type="text" style="min-width:140px;height:25px;margin-left: 20px;" id="user_name"></p>
            <p><b>密码:</b><input type="text" style="min-width:140px;height:25px;margin-left: 33px;" id="user_pw"></p>
            <p><b>是否活跃:</b><input type="radio" name="user_active" style="margin-left: 8px;" id="active_yes" value="1">是
                               <input type="radio" name="user_active" id="active_no"style="margin-left:10px;" value="2">否</p>
            <p><b>更新时间:</b><input type="text" style="min-width:140px;height:25px;margin-left: 8px;" id="user_update"></p>
            <p>
                <b style="margin-right:23px;">权限:</b>
                <span  id="add_role2">
                        <input type="checkbox" name="choose_role" id="attribute" value="attribute" class="role_option">attribute
                        <input type="checkbox" name="choose_role" id="detect" value="detect" class="role_option">detect
                        <input type="checkbox" name="choose_role" id="influence_application" value="influence_application" class="role_option">influence_application
                        <input type="checkbox" name="choose_role" id="group" value="group" class="role_option">group
                        <input type="checkbox" name="choose_role" id="profile" value="profile" class="role_option">profile
                        <br>
			<input type="checkbox" name="choose_role" id="social_sensing" value="social_sensing" class="role_option"style="margin-left: 66px;">social_sensing
                        <input type="checkbox" name="choose_role" id="recommentation" value="recommentation" class="role_option">recommentation
                        <input type="checkbox" name="choose_role" id="overview" value="overview" class="role_option">overview
                        <input type="checkbox" name="choose_role" id="recommentation" value="recommentation" class="role_option">recommentation
		</span>
            </p>
          </div>
          <div class="modal-footer">
            <button id="submit_user_edit" type="button" class="btn btn-default" data-dismiss="modal">确定</button>
          </div>
        </div>
      </div>
    </div>


    {% endblock main %}
    {% block Own_js %}
      {{ super() }}
        <script> 
            $(function () { 
                $('#myTab a:first').tab('show');//初始化显示哪个tab 
                $('#myTab a').click(function (e) { 
                    e.preventDefault();//阻止a链接的跳转行为 
                    $(this).tab('show');//显示当前选中的链接及关联的content 
                }) 
            }) 
        </script>
      <script type='text/javascript' src='/static/js/portrait/role_manage.js'></script>


    {% endblock Own_js %}
