{% extends "tbase.html" %}
{% block title %}查看人物画像{% endblock title %}
{% block head_title %}查看人物画像{% endblock head_title %}
{% block css %}
{{ super() }}
<style>
    .dataTables_filter{text-align:right;margin-bottom:5px;}
    .dataTables_paginate{margin-top:-10px;margin-bottom:-20px;}
    .mouse {border:#d0d0d0 solid 1px;}
</style>
{% endblock css %}
{% block head_js %}
{{ super() }}
<script src='/static/js/portrait/identify_table.js'></script>
{% endblock head_js %}
{% block main %}
<div id='search'>
    {% include "portrait/search_base.html" %}
</div>
{% endblock main %}

{% block Own_js %}
{{ super() }}
    <script src='/static/js/portrait/search_portrait.js'></script>
    <script>
        var url = '/attribute/portrait_search/?stype=1';
        url += get_simple_par();
        url += '&submit_user=admin';
        draw_conditions(url);
        base_call_ajax_request(url, draw_search_results);

    </script>
{% endblock Own_js %}
