{% extends "tbase.html" %}
	{% block title %}社会感知{% endblock title %}
	{% block css %}
        {{ super() }}
        <style type="text/css">
           
        .group_block{
         background-color:#FF8C00;height: 30px;padding: 5px 8px;color: white;font-weight: bold;border-radius: 0.25em;margin: 5px;display: inline-block;text-align: center;
        }
          .dataTables_paginate{float:inherit;}
          .dataTables_filter, .dataTables_length {display:none;}
          #sensing_graph hr{margin-top: 2px;}
          #weibo_list{max-height:300px; overflow-y:scroll}
          .weibo_detail {margin: 5px 0; width: 100%;padding: 0 10px;}
          .weibo_info {color: #666;margin:0;}
          .weibo_info .weibo_pz {margin-left:10px;color: #858585;height: 18px;line-height: 18px;}
          .weibo_info .m a {color: #666;}
          .sensing_uid{width:97px;}
          .sensing_topic{width:200px;}
          #sensing_conslusion{line-height: 30px;}
          #pageGro{ width:400px; height:25px; margin:0px auto; padding-top:30px;}
          #pageGro div,#pageGro div ul li{ font-size:12px; color:#999; line-height:23px; float:left; margin-left:5px;}
          #pageGro div ul li{ width:22px; text-align:center; border:1px solid #999; cursor:pointer;}
          #pageGro div ul li.on{ color:#fff; background:#3c90d9; border:1px solid #3c90d9;}          
          #pageGro .pageUp{ border:1px solid #999; cursor:pointer;}
          #pageGro .pageDown{ width:63px; border:1px solid #999; cursor:pointer;}
          #pageGro .pageUp{ text-indent:23px;background:url(/static/img/pageUp.png) 5px 7px no-repeat;}
          #pageGro .pageDown{ text-indent:5px;background:url(/static/img/pageDown.png) 46px 6px no-repeat;}
      </style>


    {% endblock css %}
    {% block head_js %}
        {{ super() }}
          <script type="text/javascript" src="/static/js/portrait/identify_table.js"></script>
    {% endblock head_js %}
    {% block main %}
    	<div id="sensing_analysis">
    		<h4 class="page-header">社会感知</h4>
    		<div id="task_detail" style="font-size:14px;line-height: 30px;">         
      		<span><b>任务名称：</b><span id="sensing_task_name"></span>&nbsp;
          <span id="sensing_analysing_sonsor" style="font-size:13px;cursor:pointer;color: #337ab7;" type="button" data-toggle="modal" data-target="#sensor_modal">
            <u>查看传感人群</u>
          </span><br>
          <b>传感词：</b><span id="sensor_sensing_keywords"></span><br>
          <b>敏感词：</b><span id="sensing_keywords"></span><br>
          <b>备注信息：</b><span id= "remark_info"></span>   		
      		</span>
    		</div>
    		<div>
           <div style="margin-top:5px;" id="warning_num">
            <b>预警点：</b>
            微博热度中共有
<!--             <span id="weibo_warning_num" style="cursor:pointer;color: #337ab7;" href="#weibo_distribution" type="button" data-toggle="modal" data-target="#modal_warning_weibo"></span>
 -->            
            <a href="#weibo_distribution"><span id="weibo_warning_num" style="cursor:pointer;color: #337ab7;" href=""></span></a>
            个异常点，情绪波动中共有
<!--             <span id="mood_abnormal_num" style="cursor:pointer;color: #337ab7;" href="#mood_distribution" type="button" data-toggle="modal" data-target="#modal_warning_mood"></span>
 -->
             <a href="#mood_distribution"><span id="mood_abnormal_num" style="cursor:pointer;color: #337ab7;"></span></a>
            个异常点，敏感微博中共有
            <!-- <span id="sensing_abnormal_num" style="cursor:pointer;color: #337ab7;" href="#sensi_distribution" type="button" data-toggle="modal" data-target="#modal_warning_sensing"></span> -->
            <a href="#sensi_distribution"><span id="sensing_abnormal_num" style="cursor:pointer;color: #337ab7;"></span></a>
            个异常点，重合异常点有
            <span id="total_abnormal_num" style="cursor:pointer;color: #337ab7;" type="button" data-toggle="modal" data-target="#modal_warning_total"></span>个。
          </div>
        </div>
    		<div id="sensing_graph" style="margin-top:20px;">
          <div style="width:100%;">
            <div id="weibo_distribution" style="width:100%;float: left;" >
              <span style='font-size:14px;'><b>微博发布情况</b></span>
              <hr style="width:100%;margin-bottom: -25px;">             
              <div id="num_line_charts" style="width:100%;float: left;height:300px;"></div>
              <div id="num_weibo"  style="width:100%;display:none;float:left;margin-top:10px;">
                 
                <div id="select_style_num" style="margin:10px;">
                  <input type="radio" name="num_select" checked value="0" /> 微博内容
                  <input type="radio" name="num_select" value="1" style="margin-left:5px" /> 感知事件             
                </div>
                <div id="num_related_weibo_all">
                  <div id="num_related_weibo" style="padding:10px;float:left;background-color:whitesmoke;width:100%;"></div>
                  <div id="pageGro" class="cb" style="float:left;width:600px;height:60px;margin-left:350px">
                      <div class="pageUp">上一页</div>
                      <div class="pageList">
                          <ul>
                              <li>1</li>
                              <li>2</li>
                              <li>3</li>
                              <li>4</li>
                              <li>5</li>
                          </ul>
                      </div>
                      <div class="pageDown">下一页</div>
                  </div>
                </div>
                <div id="num_related_weibo_event" style="padding:10px;float:left;background-color:whitesmoke;width:100%;"></div>

                <div style="float:right;margin-left:50px;cursor: pointer;display:none" onclick="fold('num_weibo');" ><u>收起</u></div>                    
              </div>
            </div>
            <div id="mood_distribution" style="width:100%;float: left;margin-top:20px;">
              <span style='font-size:14px;margin-bottom: -20px;'><b>情绪走势</b></span>
              <hr style="width:100%;margin-bottom: -25px;">             
              <div id="mood_line_charts" style="width:100%;float: left;height:300px;"></div>
              <div id="mood_weibo" style="width:100%;display:none;float:left;margin-top:10px;">
                
                <div id="select_style_num" style="margin:10px;">
                  <input type="radio" name="mood_select" checked value="0" /> 微博内容
                  <input type="radio" name="mood_select" value="1" style="margin-left:5px" /> 感知事件             
                </div>
                <div id="mood_related_weibo_all">
                  <div id="mood_related_weibo" style="padding:10px;float:left;background-color:whitesmoke;width:100%;"></div>
                  <div id="pageGro" class="cb" style="float:left;width:600px;height:60px;margin-left:350px">
                    <div class="pageUp">上一页</div>               
                    <div class="pageList">
                        <ul>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                        </ul>
                    </div>
                    <div class="pageDown">下一页</div>
                  </div>
                </div>
                <div id="mood_related_weibo_event" style="padding:10px;float:left;background-color:whitesmoke;width:100%;"></div>
                <div style="float:right;margin-left:50px;cursor: pointer;display:none;" onclick="fold('mood_weibo');" ><u>收起</u></div>                  
              </div>
            </div>
            <div id="sensi_distribution" style="width:100%;float: left;margin-top:20px;">
              <span style='font-size:14px;margin-bottom: -20px;'><b>敏感微博走势</b></span>
              <hr style="width:100%;margin-bottom: -25px;">             
              <div id="sensi_line_charts" style="width:100%;float: left;height:300px;"></div>
              <div id="sensi_weibo" style="width:100%;display:none;float:left;margin-top:10px;">
                 
                <div id="select_style_sensi" style="margin:10px;">
                  <input type="radio" name="sensi_select" checked value="0" /> 微博内容
                  <input type="radio" name="sensi_select" value="1" style="margin-left:5px" /> 感知事件             
              </div>
               <div id="sensi_related_weibo_all">
                  <div id="sensi_related_weibo" style="padding:10px;float:left;background-color:whitesmoke;width:100%;"></div>
                  <div id="pageGro" class="cb" style="float:left;width:600px;height:60px;margin-left:350px">
                    <div class="pageUp">上一页</div>
                    <div class="pageList">
                        <ul>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                        </ul>
                    </div>
                    <div class="pageDown">下一页</div>
                  </div>
                </div>
                <div id="sensi_related_weibo_event" style="padding:10px;float:left;background-color:whitesmoke;width:100%;"></div>
                <div style="float:right;margin-left:50px;cursor: pointer;display:none" onclick="fold('sensi_weibo');" ><u>收起</u></div>
              </div>
            </div>
          </div>

          <div style="width:100%;margin-bottom:20px;height:500px;margin-top:20px;float: left;">
      			<div id="sensing_participate" style="width:100%;float: left;margin-right:15px;">
        			<span style='font-size:14px;'><b>参与人群</b></span>
        			<hr style="width:100%">        			
        			<div id="sensing_participate_table" style="padding:10px;width:100%;float: left;overflow-x: hidden;"></div>
            </div>
          </div>
    		</div>
    	</div>




<!-- modal -->
<div class="modal fade" id="sensor_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-content" style="width: 800px;margin: 0 auto;margin-top: 2%;">
      <div class="modal-header">
      	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
      		<span aria-hidden="true">&times;</span>
      	</button>
        <h4 class="modal-title" id="myModalLabel">社会感知传感人群</h4>
      </div>
      <div id="modal_sensor_table" class="modal-body" style="max-height:520px; margin:5px 0;">
      </div>
    </div>
</div>

<div class="modal fade" id="keywords_more" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-content" style="width: 500px;margin: 0 auto;margin-top: 2%;">
      <div class="modal-header">
      	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">关键词</h4>
      </div>
      <div id="modal_keywords_table" class="modal-body" style="max-height:520px; margin:5px 0;">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
      </div>
    </div>
</div>

<div class="modal fade" id="modal_warning_weibo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-content" style="width: 550px;margin: 0 auto;margin-top: 2%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">异常点时间</h4>
      </div>
      <div id="modal_warning_weibo_content" class="modal-body" style="max-height:500px; margin:5px 0;padding-left:70px;"></div>
    </div>
</div>

<div class="modal fade" id="modal_warning_mood" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-content" style="width: 550px;margin: 0 auto;margin-top: 2%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">异常点时间</h4>
      </div>
      <div id="modal_warning_mood_content" class="modal-body" style="max-height:500px; margin:5px 0;padding-left:70px;"></div>
    </div>
</div>

<div class="modal fade" id="modal_warning_sensing" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-content" style="width: 550px;margin: 0 auto;margin-top: 2%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">异常点时间</h4>
      </div>
      <div id="modal_warning_sensing_content" class="modal-body" style="max-height:500px; margin:5px 0;padding-left:70px;"></div>
    </div>
</div>

<div class="modal fade" id="modal_warning_total" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-content" style="width: 550px;margin: 0 auto;margin-top: 2%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">异常点时间</h4>
      </div>
      <div id="modal_warning_total_content" class="modal-body" style="max-height:500px; margin:5px 0;padding-left:70px;"></div>
    </div>
</div>







    {% endblock main %}
    {% block Own_js %}
      {{ super() }}

      <script type="text/javascript">
        var task_name = "{{ task_name }}";
        var keywords = "{{keywords}}";
        var ts = "{{ts}}";

        // $('.fold').click(function(){
        //   this.parent.parent.css("display", "none");
        // })
        function fold (div_name) {
          $('#' + div_name).css("display", "none");
        }
      </script>

      <script type='text/javascript' src='/static/js/portrait/sensing_analysis.js'></script>


    {% endblock Own_js %}
