{% extends "tbase.html" %}
	{% block css %}
        {{ super() }}
        <style type="text/css">
            .dataTables_filter{text-align:right;margin-bottom:5px;}
            .dataTables_paginate{margin-top:-10px;margin-bottom:-20px;}
            .shadow {
              -webkit-box-shadow:5px 6px 3px #ABA8A8;
              -moz-box-shadow:5px 6px 3px #ABA8A8;
              box-shadow:5px 6px 3px #ABA8A8;
            }
        </style>
        <link rel="stylesheet" type="text/css" href="/static/css/jquery.datetimepicker.css"/>
    {% endblock css %}
    {% block head_js %}
        {{ super() }}
        <script type="text/javascript" src="/static/js/jquery.datetimepicker.js"></script>
        <script type="text/javascript" src="/static/js/portrait/identify_table.js"></script>
    {% endblock head_js %}
    {% block head_title %}
    社会感知
    {% endblock head_title %}
    {% block main %}
    <div id="so_useremail" hidden>{{g.user.email}}</div>
    <table class="shadow" style="width:100%; height:150px;border: 2px solid #cccccc;">
      <tr style="border-bottom: 1px solid #cccccc;">
        <th style="width:150px;height:50px;background-color: #E4E4E4;text-align: center;">任务名称</th>
        <td>
          <input id="so_name" type='text' class="form-control" style='width: 280px;padding:0px; /* font-size:8px; */margin-top:5px;display:inline-block;height:25px' placeholder='（必填）仅包含汉字、英文、数字和下划线'>
          <div id="range_choose_detail" style="float: left;margin-left:15px;"></div>
        </td>
      </tr>
      <tr style="border-bottom: 1px solid #cccccc;">
        <th  style="width:150px;height:50px;background-color: #E4E4E4;text-align: center;">备注</th>
        <td>
          <input id="so_remarks" type='text' class="form-control" style='width: 280px;padding:0px;/* font-size:8px; */ margin-top:5px;display:inline-block;height:25px' placeholder='（选填）仅包含汉字、英文、数字和下划线'>
        </td>
      </tr>
      <tr style="border-bottom: 1px solid #cccccc;">
        <th  style="width:150px;height:50px;background-color: #E4E4E4;text-align: center;">终止时间</th>
        <td>
          <input id="if_time" type="checkbox" style="margin-top:5px;"checked='checked'>
          <input name="so_end_time" type='text' class="form-control" style='width:200px;margin-top:5px; display:inline-block;height:25px'>
        </td>
      </tr>
      <tr >
        <th  style="width:150px;height:50px;background-color: #E4E4E4;text-align: center;">传感群</th>
        <td>
             <div id='so_group_task'  style="overflow-y:auto;max-height:300px;padding: 0px;width: 100%;margin-top: 5px;"></div>  
        </td>
      </tr>    
    </table>

    <div class="col-md-12" style='margin-top:10px;margin-bottom:30px;padding: 0px;'>
        <div class='col-md-12' style='text-align:right; padding-right: 0px;'>
            <span id="so_user_commit" class="portrait_button bluebtn" style="padding-top:10px;text-align:center;">新建任务</span>
        </div>
    </div>
    <br/>
    <div><hr style="width:1000px;"/></div>
    <div id='so_task_table' ></div>

    <div class="modal fade" id="so_keys_block" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document" style="width:850px;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">传感群</h4>
          </div>
          <div class="modal-body">
            <span>任务名称：</span><span id="so_group_name0" style="margin-left:13px;margin-right:250px;"></span>
            <div style="margin-top:10px;"><span style="margin-right:37px;">备注：</span>
            <span id="so_remark0" style="width:400px"></span></div>
            <div id="so_sensor_content" style="margin-top:10px;"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="so_his_block" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document" style="width:850px;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">历史状态</h4>
          </div>
          <div class="modal-body">
            <span>任务名称：</span><span id="so_group_name0" style="margin-left:18px;margin-right:250px;"></span>
            <div style="margin-top:10px;"><span >备注：</span>
            <span id="so_remark0" style="width:400px;margin-left:42px;"></span></div>
<!--             <div style="margin-top:10px;"><span >敏感传感词：</span>
            <span id="so_sen_keys" style="width:400px;"></span></div>
            <div style="margin-top:10px;"><span style="float: left;">普通传感词：</span>
            <span id="so_nor_keys" style="width: 83%;display: inline-block;margin-left: 5px;"></span></div> -->
            <div id="so_his_content" style="margin-top:10px;"></div>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="so_control" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document" style="width:850px;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">群组用户</h4>
          </div>
          <div class="modal-body">          
            <span>群体名称：</span><span id="have_sensor_name" style="margin-left:10px;margin-right:250px;"></span>
            <span style="margin-left:10px;">备注：</span>
            <span id="have_sensor_remark" style="width:400px"></span>
            <div id="so_control_confirm" style="margin-top:30px;overflow-y:auto;height:300px;"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="so_revise" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document" style="width:850px;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">修改任务</h4>
          </div>
          <div class="modal-body">
            <span>群体名称：</span>
            <span id="so_re_group_name" style="margin-left:10px;margin-right:20px;"></span>
<!--             <span style="margin-left:10px;">备注：</span>
            <span id="so_re_remark" style="width:400px;margin-right:20px;"></span> -->
            <span style="margin-left:10px;">终止时间：</span>
            <input id="so_re_end_time" type='text' style='width:145px; display:inline-block;height:25px'>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="revise_confirm_button()">确认</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="so_more_block" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document" style="width:850px;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">已有传感词</h4>
          </div>
          <div class="modal-body">
            <div id="so_more_content" style="margin-top:10px;">
              <div style="font-size:18px;font-weight:bold;">敏感传感词<input style="margin-left:50px;margin-right:10px;" name="so_more_all_1" id="so_more_all_1" type="checkbox" value="" onclick="so_more_all_1()" /><span>全选</span></div>
              <div id="so_sen_content" style="margin:8px 0px;"></div>
              <hr>
              <div style="font-size:18px;font-weight:bold;">一般传感词<input style="margin-left:21px;margin-right:10px;" name="so_more_all_0" id="so_more_all_0" type="checkbox" value="" onclick="so_more_all_0()" /><span>全选</span></div>
              <div id="so_nor_content"  style="margin:8px 0px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock main %}
    {% block Own_js %}
        {{ super() }}

    <script type='text/javascript' src='/static/js/portrait/social_sensing.js'></script>

    {% endblock Own_js %}
