{%extends "tbase.html" %}
    {% block title %}个人中心{% endblock title%}
      {% block css %}
		<link href="/static/css/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/portrait.css">
      {{ super() }}    
    <style type="text/css">
    body {
  font-family: '微软雅黑';
  font-size: 14px;
	}
  .shadow {
    -webkit-box-shadow:5px 6px 3px #ABA8A8;
    -moz-box-shadow:5px 6px 3px #ABA8A8;
    box-shadow:5px 6px 3px #ABA8A8;
    /*width: 500px;*/
    padding: 10px;
    border: 2px solid #B3B0B0;
    margin-top: 10px;
    margin-left: 20px;
  }
  #user_center{
      font-size: 15px;
  }
  #user_center li{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #cccccc;
  }
   #SearchTab li{
    border-bottom-color:#fff;
  }
 	</style>
 {% endblock css %}

 {% block head_js %}
  {{ super() }}
	<script type="text/javascript">
  </script>   
  {% endblock head_js %}

    {% block head_title %}<img src="/static/img/rank.jpg" style="width:32px;">个人中心{% endblock %}
    {% block main %}
    <div id="tag_user" hidden>{{g.user.email}}</div>
    <div id="user_center">
      <b>
        用户名：{{g.user.email}}
      </b>
      <br>
      <div style="margin-top:30px;">
        <div style="width:100px"><b>用户权限</b></div>
        <div class="shadow" style="nargin-left:20px;">
          {% with roles = g.user.roles %}
          {% if roles %}
            <ul>
			<li><div style="width:150px;float:left;">权限名称</div><span style="float:left;margin-left:20px">权限描述</span></li>
            {% for role in roles %}
            <li class=""><div style="width:150px;float:left;">{{ role.name }}</div><span style="float:left;margin-left:20px">{{role.description}}</span> </li>
            {% endfor %}
            </ul>
            {% endif %}
          {% endwith %}
        </div>
      </div>
<div id="tag_uesr" hidden>{{g.user.email}}</div>	  
	  <div style="margin-top:30px;">
	    
    <div id="float-wrap" class="hidden"></div>
<div id="SearchTab"  class="hidden">
	<h3 class="title">搜索条件<a href="javascript:void(0)" id="close" class="close2"></a></h3>
	<div class="decoration">
		<ul class="">
			<li><span class="p_title">标签类别</span><input type="text"  id="groupName" class="input searchinput" name="attribute_name" placeholder="请输入标签类别"/></li>
			<li><span class="p_title">标签名</span><input type="text" id="groupState" class="input searchinput" name="attribute_value" placeholder="请输入标签名"/></li>
			<li><span class="p_title">时间</span><input type="text" id="groupState" class="input searchinput" name="date" placeholder="请输入时间2015-07-15"/></li>
			<li><span class="p_title">创建者</span><input type="text" id="groupState" class="input searchinput" name="user" placeholder="aa"/></li>
			<li><input name="submit" type="submit" class="bluebtn" id="searchbtn" value="确定"></li>
		</ul>
	</div>
</div>
<div class="ch-container" style="width:1000px;">

    <div class="row">
        <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
			<div class="row">
        <div class="box col-md-12">
            <div class="box-inner" style="width:980px;min-height:150px;">
                <div class="box-header well" data-original-title="" style="padding-top:5px;">
                   <span class="TabTitle"  >标签管理列表</span>
                </div>
				<div class="fleft">
</div>
<a id="turnback" href="" style="float:right;margin-right:40px;margin-top:12px;">查看全部标签</a>
<a id="searchTable" href="" style="margin-bottom:10px;margin-top:12px;">表单搜索</a>
<a id="searchTable0" href="" data-toggle="modal" data-target="#add" style="margin-bottom:10px;margin-top:12px;">添加</a>
                <div class="box-content" id="Tagtable" >
                    
                </div>
            </div>
        </div>
    </div><!--/span-->

    <!-- content ends -->
		</div><!--/#content.col-md-0-->
	</div><!--/fluid-row-->


</div><!--/.fluid-container-->


<div class="modal fade" id="editor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
  <div class="modal-dialog" role="document" style="margin-top: 10%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">编辑标签</h4>
      </div>
      <div class="modal-body" id="EDIT" style="padding:30px;">
        
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="modifySave2">保存</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document"  style="margin-top:10%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加标签</h4>
      </div>
      <div class="modal-body" id="ADDTAG">
        <div class="tagCols">
			<span  style="margin-left:55px;">标签类别</span>
			<input name="attribute_name" id="tagClass" class="inputbox" type="text" value="" style="line-height:36px;" placeholder="如：危险">
		</div>
		<div class="tagCols" >
			<span style="margin-left:95px;">标签名</span>
			<input name="attribute_value" class="inputbox " type="text" value="" style="margin-left:35px;line-height:36px;" placeholder="如：一级">
			<span class="addIcon" id="addTag" style="margin-bottom:-10px;"></span>
		</div>
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="newTag">添加</button>
      </div>
    </div>
  </div>
</div>
	  </div>
    </div>
	
	
	
<div style="margin-top:30px;">
<div class="ch-container" style="width:1000px;">

    <div class="row">
        <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
			<div class="row">
        <div class="box col-md-12">
            <div class="box-inner" style="width:980px;min-height:150px;">
                <div class="box-header well" data-original-title="" style="padding-top:5px;">
                   <span class="TabTitle"  >工作统计</span>
                </div>
				<div class="fleft">
</div>

                <div class="box-content" id="Worktable" >
        </div>
    </div><!--/span-->

    <!-- content ends -->
		</div><!--/#content.col-md-0-->
	</div><!--/fluid-row-->


</div><!--/.fluid-container-->

    <div class="modal fade" id="detail_in_portrait" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="position: absolute;margin-top: 100px;float :none;width: 900px;margin-left: -135px;">
          <div class="modal-header" style="float:inherit;margin:initial;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">推荐入库</h4>
          </div>
          <div class="modal-body" style="float:none;">
            <div id="show_user_detail"></div>
          </div>
        </div>
      </div>
    </div>

    {% endblock main %}

{% block Own_js %}
    {{ super() }}
{% endblock Own_js %}
    {% block end_js %}
    {{ super() }}
	 <script>
	$("#uploadbtn1").off("click").click(function(){
		$("#float-wrap").removeClass("hidden");
		$("#uploadFile").removeClass("hidden");
		return false;
	});
	$("#searchTable").off("click").click(function(){
		$("#float-wrap").removeClass("hidden");
		$("#SearchTab").removeClass("hidden");
		return false;
	});
	$(".close1").off("click").click(function(){
		$("#float-wrap").addClass("hidden");
		$("#uploadFile").addClass("hidden");
	});
	$(".close2").off("click").click(function(){
		$("#float-wrap").addClass("hidden");
		$("#SearchTab").addClass("hidden");
    });
	
	
</script>
<script type="text/javascript" src="/static/js/portrait/tag.js"></script> 
<script type="text/javascript" src="/static/js/portrait/ucenter.js"></script> 
 
<script>
    var add_flag;
    var tagname2 = new Array();
$(function(){
    $('a[id^="currentEdit"]').click(function(e){
        add_flag = false;
        var tagNames =  $(this).text();
        console.log(tagNames);
        if (tagNames.indexOf('/') > -1){
            tagname2 = tagNames.split('/');
        }else{
            tagname2.push(tagNames)
        }
  		$('#EDIT').empty();
  		var html = '';
  		html += '<div class="" style="margin-bottom:10px;"><span style="">标签类别&nbsp;&nbsp;&nbsp;&nbsp;</span>';
  		html += '<span style="color:blue;" id="attributeName">'+$(this).parent().prev().html()+'</span ></div>';
  		html += '<div class="" id=""><span style="margin-right:15px;">标签名</span>';
  		for(i=0;i<tagname2.length;i++){
  			html += '<span class="tagbg" id="" name="attrName"><span class="tagName">'+tagname2[i]+'</span><a  class="delCon" id="delIcon"></a></span>';
  		}
  		//html += '<input name="attribute_value" class="inputbox " type="text" value="" style="line-height:36px;">'
  		html += '<span class="smallAdd"></span>'
  		html += '</div>';
  		$('#EDIT').append(html);
  		$(".smallAdd").click(function(){
              //console.log("sadsd");
              if (!add_flag){
                  add_flag = true;
                  $(".smallAdd").before('<input name="newtag" id="newtag" class="input_tag_box" style="width:110px;" onkeydown="javascript:if (event.keyCode==13) addNew();"type="text" value="" style="line-height:36px;">');
              }
          });
  		$('a[id^="delIcon"]').click(function(e){
  			$(this).parent().remove();
  		});
	});
});
    $(".addIcon").off("click").click(function(){
        var html = '';
        html += '<div class="tagCols"><span style="margin-left:65px;">标签名</span><input name="attribute_value" class="inputbox " type="text" value="" style="margin-left:35px;line-height:36px;"></div>';
        $('#ADDTAG').append(html);
	});
	function addNew(){
        var newtag = $('.input_tag_box').val();
        if (newtag == ''){
            alert("标签名不能为空！");
            return;
        }
        var tagnames = $('.tagName').length;
        var nameszh = [];
        for(i=0;i<tagnames;i++){
            nameszh.push($(".tagName").eq(i).html());
            //console.log(value);
        }
        var count = 0;
        for(i=0;i<nameszh.length;i++){
            if(newtag==nameszh[i]){
                count = count +0;
            }else{
                count = count +1;
            }
        }
        if(count==nameszh.length){
            add_flag = false;
            $(".input_tag_box").remove();
            $(".smallAdd").before('<span class="tagbg" id="" name="attrName"><span class="tagName">'+newtag+'</span><a  class="delCon" id="delIcon"></a></span>');
        }else{
            alert("已经存在相同标签名，请重新输入！");
        }
			
			
			$('a[id^="delIcon"]').click(function(e){
                $(this).parent().remove();
            });
	}
</script>
    {% endblock end_js %}
