{% extends "tbase.html" %}
    {% block title %}首页{% endblock title%}
      {% block css %}
        <link href="/static/css/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/portrait.css">
      {{ super() }}    
    <style type="text/css">
    body {
  font-family: '微软雅黑';
  font-size: 14px;
    }
    #main hr{
        display:none;
    }
    .span3{
        position: relative;
        text-align:center;
        margin-bottom: 20px
    }
    .span3:hover{

    }
    .span3 #model b{
        font-size: 16px;
    }
    .span3 .model_p{
	background-size: cover;
        margin: 0 auto;
        width: 220px;
        height: 145px;
        margin-bottom: 5px;
        border: 2px solid #5694E7;
        position: relative;
        -webkit-box-shadow:5px 6px 3px #ABA8A8;
        -moz-box-shadow:5px 6px 3px #ABA8A8;
        box-shadow:5px 6px 3px #ABA8A8;
    }
    .thumbnail{
        margin-bottom: 0px;
    }
    </style>
 {% endblock css %}

    {% block main %}

<!--     <div class="jumbotron">
      <div class="container">
        <h1>原型系统</h1>
        <p>本系统包括以下六个模块，欢迎使用！</p>
        
      </div>
    </div> -->

    <div class="container" style="width:1000px">
      <div class="row">

      <ul class="thumbnails child-sites">
        <div class="col-md-4">
        <li class="span3" id="user_rank">
          <a id="moodlen1" target="_blank" href="/index/user_rank/">
            <div class="model_p" style="background-image:url(/static/img/homepage_1.png)"></div>
            <h4 style="text-align:center;">用户排行</h4>
          </a>
        </li>
      </div>

        <div class="col-md-4">
        <li class="span3" id="mood_detect">
          <a id="identify1" target="_blank" href="/index/mood_detect/">
            <div class="model_p" style="background-image:url(/static/img/homepage_2.png)"></div>
            <h4 style="text-align:center;">情绪监测</h4>
          </a>
        </li>
      </div>        

        <div class="col-md-4">
        <li class="span3" id="personal">
          <a id="profile1" target="_blank">
            <div class="model_p" id="sub_personal" style="background-image:url(/static/img/homepage_3.png)"></div>
            <h4 style="text-align:center;">网民画像</h4>
          </a>
        </li>
      </div>

      <div class="col-md-3" style="width:50%">
        <li class="span3" id="group_analysis">
          <a id="propagate1" target="_blank" href="#">
            <div class="model_p" id="sub_group" style="background-image:url(/static/img/homepage_4.png)"></div>
            <h4 style="text-align:center;">群体分析</h4>
          </a>
        </li>
      </div>

      <div class="col-md-3" style="width:50%">
        <li class="span3" id="social_sensing">
          <a id="propagate1" target="_blank" href="/index/social_sensing/">
            <div class="model_p" style="background-image:url(/static/img/homepage_5.png)"></div>
            <h4 style="text-align:center;">社会感知</h4>
          </a>
        </li>
      </div>
      <!--
      <div class="col-md-4">
        <li class="span3" id="sys_manage">
          <a id="propagate1" target="_blank" href="#">
            <div class="model_p" id="sub_sys" style="background-image:url(/static/img/homepage_6.png)"></div>
            <h4 style="text-align:center;">系统管理</h4>
          </a>
        </li>
      </div>
     
      <div class="col-md-3">
        <li class="span3" id="user_center">
          <a id="propagate1" target="_blank" href="/index/usercenter/">
            <div class="model_p" style="background-image:url(/static/img/homepage_7.png)"></div>
            <h4 style="text-align:center;">个人中心</h4>
          </a>
        </li>
      </div>
      -->
    </ul>
  </div>
</div>

    {% endblock main %}

{% block Own_js %}
    {{ super() }}
    <script type="text/javascript">

        $('.span3').mouseenter(function(){
            $(this).css('top', '3px');
            $(this).css('left', '3px');
        });
        $('.span3').mouseleave(function(){
            $(this).css('top', '-3px');
            $(this).css('left', '-3px');
        })

        $('#personal').mouseenter(function(){
            var name = $(this).attr('id');
            var html = '<div id="model" style="width:216px;height:141px;background-color:rgba(255, 255, 255, 0.85);"><b>';
            html += '<div style="float:left;width:50%;height:50%;padding-top: 25px;"><a href="/index/portrait_in/" style="cursor:pointer;">网民入库推荐</a></div>';
            html += '<div style="float:left;width:50%;height:50%;padding-top: 25px;"><a href="/index/search_portrait/" style="cursor:pointer;">查看人物画像</a></div>';
            html += '<div style="float:left;width:50%;height:50%;padding-top: 25px;"><a href="/index/search_contrast/" style="cursor:pointer;">人物对比分析</a></div>';
            html += '<div style="float:left;width:50%;height:50%;padding-top: 25px;"><a href="/index/search_connect/" style="cursor:pointer;">人物关联分析</a></div>';
            html += '</b></div>';
            $('#sub_personal').append(html);
        })
        $('#personal').mouseleave(function(){
            $('#model').remove();
        });

        $('#group_analysis').mouseenter(function(){
            var name = $(this).attr('id');
            var html = '<div id="model" style="width:216px;height:141px;background-color:rgba(255, 255, 255, 0.85);"><b>';
            html += '<div style="float:left;width:50%;height:100%;padding-top: 55px;"><a href="/index/group/">群体发现</a></div>';
            html += '<div style="float:left;width:50%;height:100%;padding-top: 55px;"><a href="/index/group_list/">群体分析</a></div>';
            html += '</b></div>';
            $('#sub_group').append(html);
        })
        $('#group_analysis').mouseleave(function(){
            $('#model').remove();
        });

        $('#sys_manage').mouseenter(function(){
            var name = $(this).attr('id');
            var html = '<div id="model" style="width:216px;height:141px;background-color:rgba(255, 255, 255, 0.85);"><b>';
            html += '<div style="float:left;width:100%;height:33.33%;padding-top: 10px;"><a href="/index/role_manage/">权限管理</a></div>';
            html += '<div style="float:left;width:100%;height:33.33%;padding-top: 10px;"><a>日志管理</a></div>';
            html += '<div style="float:left;width:100%;height:33.33%;padding-top: 10px;"><a href="/index/recommend_in_out/">出入库操作</a></div>';
            html += '</b></div>';
            $('#sub_sys').append(html);
        })
        $('#sys_manage').mouseleave(function(){
            $('#model').remove();
        });


        </script>
{% endblock Own_js %}
    {% block end_js %}
    {{ super() }}
<!--     // <script type="text/javascript" src="/static/js/portrait/overview_table.js"></script> -->
    {% endblock end_js %}

