<!DOCTYPE html>
<html>
<head>
	<title>天津项目画像</title>
<div id='container' style="width: 100%;height: 100%" >
	<div id='move_map_id' style="width:500px;height: 500px"></div>
	<div id='hashtag_id' style="width:500px;height: 500px"></div>
	<div id='character_id' style="width:500px;height: 500px"></div>
	<div id='retweet_id' style="width:500px;height: 500px"></div>

</div>


</head>
<body>
<script src="/static/js/echarts-2"></script>
<!-- <script src="/static/echarts/echarts.min.js"></script>
<script src="/static/echarts/china.js"></script> -->
<!-- <script src="/static/echarts/require.js"></script> -->
<script src="/static/js/user_portrait_tianjin.js"></script>
</body>
</html>