{% extends "publicNav.html" %}
{% block title %}<title>预警监控 - 预警详情</title>{% endblock %}
{% block my_css %}
<link rel="stylesheet" href="/static/css/community-detail.css">
<style>
    /* 基本信息 */
    .essential-information {
        font-size:18px;
        font-weight:700;
        text-align:center;
        padding:10px 0 20px 0;
    }
    .essential-information .det-span {
        margin:10px 20px;
    }
    .essential-information .det {
        color:#f98077;
    }

    /* 人数变化 死歌扎线图 */
    #people-num  ,#sensitivity ,#influence ,#convergence {
        /*float:left;*/
        width:100%;
        height:300px;
        /* border: 1px solid #01b4ff; */
        /*border-bottom:1px solid #ddd;*/
    }
    #people-num  ,#sensitivity ,#influence{
        /* margin-bottom:20px; */
    }
    #sensitivity ,#convergence {
        /* margin-left:2%; */
    }
    /* 折线图父级div */
    .parent-box {
        width:100%;
        padding:20px;
        background-color: #06162d;
        margin-bottom:20px;
    }

    /* 蓝色小标题 */
    .details-title {
        /*margin:20px auto 10px;*/
        /*float: left;*/
        /*width: 100%;*/
    }
    .relevant {
        padding-left:30px;
        text-indent:2em;
        float: left;
        width: 100%;
        text-align: left;
        margin-top: 10px;
    }


    /* ---------------------- */
        /* tab栏 */
        .type_page {
            width: 96%;
            margin: 20px auto 30px;
        }
        #container .type_page #myTabs a{
            color:#fff;
        }
        .nav>li>a:focus, .nav>li>a:hover {
            background-color: rgba(5, 23, 55, 0.45);
        }
        .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
            background-color: rgba(7,26,55,0.2);
        }
        /* 搜索框 */
        .fixed-table-toolbar .search{
            width: 100%;
        }
        /* 表格样式 */
        .bootstrap-table .table>thead>tr>th{
            width: 5%;
        }
        .fixed-table-container tbody .selected td {
            background-color: #2a556f!important;
        }
        /* tab栏社区详情  边框*/
        #member-change-1 ,#member-change-2, #member-change-3 {
            border-bottom:none;
        }
        #member-change-1 thead th ,#member-change-2 thead th, #member-change-3 thead th{
            border-top:none;
        }
        /* 蓝色小标题 */
        .details-title {
            margin:20px auto 10px;
        }

        /* tab栏 基本特征 */
        #basic {
            /* margin:20px 0 30px 0; */
        }
        #basic-1, #basic-2 {
            width:49%;
            float:left;
            height:300px;
            /* border: 1px solid #01b4ff; */
            margin:20px 0;
        }
        #basic-2 {
            margin-left:2%;
        }

        /* 解决echarts图表在tab中的宽度问题 */
        .tab-content > .tab-pane,
        .pill-content > .pill-pane {
            display: block;     /* undo display:none          */
            height: 0;          /* height:0 is also invisible */
            overflow-y: hidden; /* no-overflow                */
        }
        .tab-content > .active,
        .pill-content > .active {
            height: auto; /* let the content decide it */
        }
        /* 典型帖子 */
        #basic-3 {
            float:left;
            margin:20px 0 30px 0;
            width:100%;
            /* height:400px; */
            /* border: 1px solid #01b4ff; */
        }
        #basic-3 .details-title{
            margin-top:0;
        }

        /*------典型帖子------*/
        #basic-3-content thead {
            display:none !important;
        }
        #basic-3-content tbody td {
            border-top:none;
        }
        #basic-3-content {
            border:none;
        }
        #basic-3 .fixed-table-container{
            border:none;
        }
        .fixed-table-pagination .page-list{
            display:none !important;;
        }
        #basic-3 .table-hover>tbody>tr:hover{
            background:transparent !important;
        }

        /* 社交特征 */
        #social-content {
            margin-top:20px;
            height: 500px;
        }
    /* ---------------------- */
    .noBorder .table-no-bordered,.noBorder .table>tbody>tr>td,.noBorder .fixed-table-container,
    .noBorder .bootstrap-table .table>thead>tr>th,.noBorder .bootstrap-table .table,.noBorder .table>tbody>tr>td{
        border: none;
    }
    .table>tbody>tr>td {vertical-align: middle!important;}
    .noBorder .fixed-table-pagination .page-list {
        display: none!important;
    }
    /*.noBorder .fixed-table-body {*/
        /*height: auto!important;*/
        /*overflow-y: hidden;*/
    /*}*/
    .noBorder .bootstrap-table .table:not(.table-condensed),.noBorder .bootstrap-table .table:not(.table-condensed)>tbody>tr>td,
    .noBorder .table>tbody>tr>td{
        padding: 0!important;
    }
    .noBorder .fixed-table-container thead th .th-inner {padding:0;}
    /*.fixed-table-container {top: 15px;}*/
    .noBorder .table-hover>tbody>tr:hover {
        background-color: inherit!important;
    }
    .noBorder .fixed-table-container thead th .both {background-image: none!important;}


    #start,#end,#sure {
        display:none;
    }
    #sure {
        padding:1px 6px;
        color: white;
        font-size: 12px;
        border: 1px solid silver;
        border-radius: 5px;
        background:transparent;
        cursor: pointer;
    }
    #sure:hover {
        background: rgba(8,23,44,0.65);
    }
</style>
{% endblock %}
{% block main %}
<div id="container">
    <div class="title">
        <div style="display: inline-block;">
            <span class="icon icon-calendar note_icon" style="color: #fff;"></span>
            <b style="font-size: 20px;color: #fff;">社区预警详情</b>
        </div>
    </div>
    <!-- 社区详情 -->
    <div class="community-detail clearfix">
        <!-- 基本信息 -->
        <p class="essential-information">
            <span class="det-span"><span>社区名称：</span><span class="det det1"></span></span>
            <span class="det-span"><span>初次创建时间：</span><span class="det det2"></span></span>
            <span class="det-span"><span>社区人数：</span><span class="det det3"></span></span>
        </p>
        <div class="choosetime" style="margin: 10px 0;">
            <label class="demo-label">
                <input class="demo-radio" type="radio" name="time" value='0'>
                <span class="demo-checkbox demo-radioInput"></span> 今天
            </label>
            <label class="demo-label">
                <input class="demo-radio" type="radio" name="time" value='1'>
                <span class="demo-checkbox demo-radioInput"></span> 昨天
            </label>
            <label class="demo-label">
                <input class="demo-radio" type="radio" name="time" value='7' checked>
                <span class="demo-checkbox demo-radioInput"></span> 7天
            </label>
            <label class="demo-label">
                <input class="demo-radio" type="radio" name="time" value='30'>
                <span class="demo-checkbox demo-radioInput"></span> 30天
            </label>
            <label class="demo-label">
                <input class="demo-radio" type="radio" name="time" value='mize'>
                <span class="demo-checkbox demo-radioInput"></span> 自定义
            </label>
            <input type="text" size="16" id="start" class="form_datetime" placeholder="开始时间"
                   style="height: 20px;font-size: 10px;color: white;text-align: center;
                        padding:2px 4px;border: 1px solid silver;background: rgba(8,23,44,0.25);">
            <input type="text" size="16" id="end" class="form_datetime" placeholder="结束时间"
                   style="height: 20px;font-size: 10px;color: white;text-align: center;
                        padding:2px 4px;border: 1px solid silver;background: rgba(8,23,44,0.25);">
            <span id="sure" class="sureTime">确定</span>
        </div>
        <div class="parent-box clearfix">
            <!-- 人数变化图 -->
            <h3></h3>
            <div id="people-num"></div>
            <hr/>
            <p class="details-title" style="font-size: 16px;color:#01b4ff;"><i class="icon icon-desktop"></i> 人数变化描述</p>
            <div class="thisDEC_1" style="width: 100%;margin:10px 0;color: white;"></div>
            <hr/>
            <p class="details-title" style="font-size: 16px;color:#01b4ff;"><i class="icon icon-bookmark"></i> 人数变化相关信息</p>
            <div class="table-1">
                <div id="table-1"></div>
            </div>
        </div>

        <div class="parent-box clearfix">
            <!-- 平均敏感度变化折线图 -->
            <h3></h3>
            <div id="sensitivity"></div>
            <hr/>
            <p class="details-title" style="font-size: 16px;color:#01b4ff;"><i class="icon icon-desktop"></i> 敏感度变化描述</p>
            <div class="thisDEC_2" style="width: 100%;margin:10px 0;color: white;"></div>
            <hr/>
            <p class="details-title" style="font-size: 16px;color:#01b4ff;"><i class="icon icon-bookmark"></i> 敏感度变化相关信息</p>
            <div class="table-2 noBorder"><div id="table-2"></div></div>
            <!--<p class="relevant"></p>-->
        </div>
        <div class="parent-box clearfix">
            <!-- 平均影响力变化折线图 -->
            <h3></h3>
            <div id="influence"></div>
            <hr/>
            <p class="details-title" style="font-size: 16px;color:#01b4ff;"><i class="icon icon-desktop"></i> 影响力变化描述</p>
            <div class="thisDEC_3" style="width: 100%;margin:10px 0;color: white;"></div>
            <hr/>
            <p class="details-title" style="font-size: 16px;color:#01b4ff;"><i class="icon icon-bookmark"></i> 影响力变化相关信息</p>
            <div class="table-3 noBorder"><div id="table-3"></div></div>
        </div>
        <div class="parent-box clearfix">
            <!-- 聚集系数变化折线图 -->
            <h3></h3>
            <div id="convergence"></div>
            <hr/>
            <p class="details-title" style="font-size: 16px;color:#01b4ff;"><i class="icon icon-desktop"></i> 聚集系数变化描述</p>
            <div class="thisDEC_4" style="width: 100%;margin:10px 0;color: white;"></div>
            <hr/>
            <p class="details-title" style="font-size: 16px;color:#01b4ff;"><i class="icon icon-bookmark"></i> 聚集系数变化相关信息</p>
            <div class="table-4">
                <div id="table-4"></div>
            </div>
        </div>
    </div>
</div>

<!--提示弹框-->
<!-- <div class="modal fade" id="pormpt" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">温馨提示</h4>
            </div>
            <div class="modal-body">
                <p style="text-align: center;font-size: 18px;color: #fff;font-weight: 900;"></p>
            </div>
        </div>
    </div>
</div> -->
<!--模态框-->
{% endblock %}

{% block my_js %}
<script>
    var loadingType = 'weibo';
    weiboORqq('weibo');
    $('.nav_type').text('(微博)');
    judgment('4');
    $(".form_datetime").datetimepicker({
        format: "yyyy-mm-dd hh:ii",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left"
    });
    $('#start').on('changeDate', function(ev){
        $('#end').datetimepicker('setStartDate',ev.date);
    });
    $('#end').on('changeDate', function(ev){
        $('#start').datetimepicker('setEndDate',ev.date);
    });

    var oldNew = '{{oldNew}}';
//    if(oldNew == 0){
//        // 新发现社区预警页 不显示折线图
//        $('#people-num').hide();
//        $('#sensitivity').hide();
//        $('#influence').hide();
//        $('#convergence').hide();
//    }else {
//        $('#people-num').show();
//        $('#sensitivity').show();
//        $('#influence').show();
//        $('#convergence').show();
//    }
    var communityId='{{comId}}';
</script>

<script src="/static/js/chalk.js"></script>
<script src="/static/js/communityWaring_detail.js"></script>


{% endblock %}
