[program:run]
command=/usr/bin/uwsgi /home/xnr1/xnr_0429/xnr/config.ini

directory=/home/xnr1/xnr_0429/xnr

user=root
autostart=true
autorestart=true
startsecs=10
startretries=10

stdout_logfile=/home/xnr1/xnr_0429/xnr/uwsgi_supervisor.log
stdout_logfile_maxbytes = 50MB
stderr_logfile=/home/xnr1/xnr_0429/xnr/uwsgi_err.log
stderr_logfile_maxbytes = 50MB



[program:trans]
command=/home/xnr1/xnr_0429/xnr/fb_tw_trans_timer.sh

directory=/home/xnr1/xnr_0429/xnr

user=root
autostart=true
autorestart=true
startsecs=10
startretries=10

stdout_logfile=/var/log/fb_tw_trans_timer_supervisor.log
stdout_logfile_maxbytes = 50MB
stderr_logfile=/var/log/fb_tw_trans_timer_supervisor_err.log
stderr_logfile_maxbytes = 50MB



[supervisord]
[supervisorctl]
[inet_http_server]
port = 127.0.0.1:9001
[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface
