{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}
{% from 'admin/lib.html' import extra with context %} {# backward compatible #}

{% block head %}
  {{ super() }}
  {{ lib.form_css() }}
{% endblock %}

{% block body %}
  {% block navlinks %}
  <ul class="nav nav-tabs">
    <li>
        <a href="{{ return_url }}"><span id="list_title_c">{{ _gettext('List') }}</span></a>
    </li>
    <li class="active">
        <a href="javascript:void(0)"><span id="create_title_c">{{ _gettext('Create') }}</span></a>
    </li>
  </ul>

  {% endblock %}

  {% block create_form %}
    {{ lib.render_form(form, return_url, extra(), form_opts) }}
  {% endblock %}
{% endblock %}

{% block tail %}
  {{ super() }}
  {{ lib.form_js() }}

  <script>
        $('#list_title_c').empty();
        $('#list_title_c').append('管理列表');
        $('#create_title_c').empty();
        $('#create_title_c').append('新建');
        //$('#edit_title_e').empty();
        //$('#edit_title_e').append('编辑');
</script>
{% endblock %}
