{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}
<style>
  html, body, div, img, h1, h2, h3, h4, h5, h6, input, button, span, p, b, strong, em, li, ul, ol, dl, dt,
  dd, th,textarea, select, table, form {
    margin: 0;
    padding: 0;
    font-family: '微软雅黑';
  }
  input,button {
    outline: none;
    border: none;
  }
  img {
    border: none;
  }
  /*-------主要内容-------*/
  body {
    position: relative;
    background: rgb(48, 48, 61);
    padding-bottom: 20px;
    color:white;
  }
  #fonts {
    height: 100px;
    background:url("/static/images/font.png") center center no-repeat;
  }
  #box_body {
    min-width: 1136px;
    max-width: 1360px;
    padding: 100px 0;
    position: relative;
    z-index: 10;
    margin: 0 auto;
  }
  #box {
    position: relative;
    z-index: 200;
    margin:50px auto 0;
    width:400px;
    padding:20px;
    border-radius: 10px;
    background-color: rgba(21, 21, 21, 0.56);
  }
  #linear {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 500px;
    background:linear-gradient(-180deg, rgba(55,60,65,0.00) 18%, #00DEFF 100%);
  }
  #email,#password,#password_confirm {
    width: 200px;
    height: 25px;
    padding: 5px 5px 5px 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    font-size: 12px;
    background: transparent;
    border: 1px solid white;
    transition: all linear .7s;
    color: white;
  }
  #submit,#login {
    text-align: center;
    background: transparent;
    color: rgb(255, 255, 255);
    font-size: 14px;
    /*text-shadow: rgb(173, 60, 37) 1px 1px 1px;*/
    width: 288px;
    height: 32px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all linear .5s;
  }
  #submit:hover,#login:hover {
    background: #fff;
    color: black;
  }
</style>
<body>
<div id="box_body">
  <div id="fonts"></div>
  <!--<h1>用户注册</h1>
  <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
    {{ register_user_form.hidden_tag() }}
    {{ render_field_with_errors(register_user_form.email) }}
    {{ render_field_with_errors(register_user_form.password) }}
    {% if register_user_form.password_confirm %}
      {{ render_field_with_errors(register_user_form.password_confirm) }}
    {% endif %}
    {{ render_field(register_user_form.submit) }}
  </form>-->
  <div id="box">
    <h2 style="color:#fff;">用户注册</h2>
    <hr style="width:100%;display:block;margin:10px 0;">
    <div style='padding:20px 0 0 50px;'>
      <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
        {{ register_user_form.hidden_tag() }}
        {{ render_field_with_errors(register_user_form.email) }}
        {{ render_field_with_errors(register_user_form.password) }}
        {% if register_user_form.password_confirm %}
        {{ render_field_with_errors(register_user_form.password) }}
        {% if register_user_form.password_confirm %}
        {{ render_field_with_errors(register_user_form.password_confirm) }}
        {% endif %}
        {{ render_field(register_user_form.submit) }}
      </form>
      <!--{% include "security/_menu.html" %}-->
    </div>
  </div>
</div>
</body>
<div id="linear"></div>
<script src="/static/js/jquery-3.1.1.min.js"></script>
<script>
    $('body').height($(window).height());
    // 账号
    $('#email').attr('placeholder','请输入您的账号');
    $('#email').prev().empty();
    $('#email').prev().append('<div style="float: left;line-height:25px;width:60px;font-size:14px;color:#fff;">用户名</div>');
    $('#email').prev().css({'vertical-align':'middle','margin-bottom':'10px','width':'18%'});
    $("#email").parent().css({'margin-bottom':'10px'});
    // $("#email").parent().next().css({display:'none'});

    // 密码
    //$("#password").parent().css({paddingLeft:'55px'});
    $('#password').prev().empty();
    $('#password').prev().append('<div style="float: left;line-height:25px;width:60px;font-size:14px;color:#fff;">密&nbsp;码</div>');
    $('#password').attr('placeholder','请输入您的密码');
    $('#password').prev().css({'vertical-align':'middle','width':'18%'});
    $("#password").parent().css({'margin-bottom':'10px'});
    //重复 密码
    //$("#password_confirm").parent().css({paddingLeft:'55px'});
    $('#password_confirm').prev().empty();
    $('#password_confirm').prev().append('<div style="float: left;line-height:25px;width:60px;font-size:14px;color:#fff;">重复密码</div>');
    $('#password_confirm').attr('placeholder','请确认您的密码');
    $('#password_confirm').prev().css({'vertical-align':'middle','width':'18%'});
    $('#password_confirm').attr('placeholder','请确认您的密码');
    $('#password_confirm').prev().css({'vertical-align':'middle','width':'18%'});
    $("#password_confirm").parent().css({'margin-bottom':'10px'});
    // 注册
    $('#submit').attr('value','注       册');
    //$('#submit').parent().css('textAlign','center');
    $('#submit').parent().parent('div').css('padding-right','10%');
    var li = $('#email').parent('p').siblings('ul').children('li');
    li.css({'color':'#fff','margin-bottom':'5px'})
    li.html('账号、密码不能为空');
    //登录
    $('form').append('<a href="/login" style="display:block;margin-top:10px;"><input id="login" name="submit" type="submit" value="登      录"></a>')
    // 输入框
    $('#box input[type=text]').on('focus',function () {
        $(this).css({backgroundColor:'#fff',color:'black'})
    });
    $('#box input[type=password]').on('focus',function () {
        $(this).css({backgroundColor:'#fff',color:'black'})
    });
    $('#box input[type=text]').on('blur',function () {
        $(this).css({backgroundColor:'',color:'white'})
    });
    $('#box input[type=password]').on('blur',function () {
        $(this).css({backgroundColor:'',color:'white'})
    })
</script>
<!--{% from "security/_macros.html" import render_field_with_errors, render_field %}-->
<!--{% include "security/_messages.html" %}-->
<!--<h1>用户注册</h1>-->
<!--<form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">-->
  <!--{{ register_user_form.hidden_tag() }}-->
  <!--{{ render_field_with_errors(register_user_form.email) }}-->
  <!--{{ render_field_with_errors(register_user_form.password) }}-->
  <!--{% if register_user_form.password_confirm %}-->
    <!--{{ render_field_with_errors(register_user_form.password_confirm) }}-->
  <!--{% endif %}-->
  <!--{{ render_field(register_user_form.submit) }}-->
<!--</form>-->
<!--{% include "security/_menu.html" %}-->