{% extends "publicNav.html" %}
{% block title %}<title>信息监测</title>{% endblock %}
{% block my_css %}
<link rel="stylesheet" href="/static/css/inforCheckingTwitter.css">
<style>
    <!---->
    .hot_post .bootstrap-table {
        margin: 0 auto;
        height: auto!important;
    }
    .hot_post .table-no-bordered,.hot_post .table>tbody>tr>td,.hot_post .fixed-table-container,
    .hot_post .bootstrap-table .table>thead>tr>th,.hot_post .bootstrap-table .table,.hot_post .table>tbody>tr>td{
        border: none;
    }
    .table>tbody>tr>td {vertical-align: middle!important;}
    .hot_post .bootstrap-table thead,.hot_post .fixed-table-pagination .page-list {
        display: none!important;
    }
    .hot_post .fixed-table-body {
        height: auto!important;
        overflow-y: hidden;
    }
    .hot_post .bootstrap-table .table:not(.table-condensed),.hot_post .bootstrap-table .table:not(.table-condensed)>tbody>tr>td,
    .hot_post .table>tbody>tr>td{
        padding: 0!important;
    }
    .fixed-table-container thead th .th-inner {padding-top:1px;}
    /*.fixed-table-container {top: 15px;}*/
    .hot_post .table-hover>tbody>tr:hover {
        background-color: inherit!important;
    }
    .bootstrap-table .table>thead>tr>th {width: 7%}
    th.bs-checkbox {width: 4%!important;}
    .fixed-table-container tbody .selected td {
        background-color: #2a556f!important;
    }
    .hot_post .fixed-table-toolbar .search {width: 100%;}
    .form-control {
        text-align: center;
        font-size: 14px;
        color: white;
        border: 1px solid silver;
        border-radius: 5px;
        padding: 4px 7px;
        background: rgba(8,23,44,0.35);
    }
    .hot_post .table:not(.table-condensed)>tbody>tr>td {
        text-align: left!important;
    }
    #userList {
        padding:0!important;
    }
    /**/
    .nav-tabs>li.active>a {
        color: white!important;
        background-color: rgba(6, 7, 8, 0.42)!important;
    }
    .nav>li>a {
        color: white;
        font-size: 16px;
    }
    .nav>li>a:focus, .nav>li>a:hover {
        background-color: rgba(5, 23, 55, 0.45);
    }
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
        background-color:rgba(7,26,55,0.2);
    }
    /**/
    .demo-label{display:inline-block;margin:5px 0 0 10px;width:110px;cursor: pointer;}
    .demo-radio{display:none}
    .demo-radioInput{cursor:pointer;background-color:#eee;display:inline-block;height:16px;vertical-align:middle;width:16px;line-height:1;margin-right: 5px;}
    .demo-radio:checked + .demo-radioInput:after{background-color:#57ad68;content:"";display:inline-block;height:12px;margin:2px;width:12px}
    .demo-checkbox.demo-radioInput,.demo-radio:checked + .demo-checkbox.demo-radioInput:after{border-radius:0}
    .perTime .demo-label{width: 70px;}
    .fixed-table-pagination .page-list {display: none;}
    .fixed-table-container tbody .selected td {
        background-color: #31708f!important;
    }
    .disableCss{
        pointer-events:none;
        color:#afafaf!important;
        cursor:default!important;
    }
    #two .table>thead>tr>th {
        border-top: none!important;
    }
    #two .fixed-table-toolbar .search {width: 100%;}
    /**/
</style>
{% endblock %}
{% block main %}
<div id="container">
    <ul id="myTabs" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#one" role="tab" data-toggle="tab"><b class="icon icon-rss"></b>&nbsp;&nbsp;内容监测</a>
        </li>
        <li role="presentation">
            <a href="#two" role="tab" data-toggle="tab"><b class="icon icon-umbrella"></b>&nbsp;&nbsp;用户检测</a>
        </li>
    </ul>
    <div class="tab-content" id="content">
        <div role="tabpanel" class="tab-pane active" id="one">
            <div class="title">
                <!--<div style="display: inline-block;">-->
                <!--<span class="icon icon-rss note_icon" style="color: #fff;"></span>-->
                <!--<b style="font-size: 20px;color: #fff;">信息监测</b>-->
                <!--</div>-->
                <div class="perTime" style="margin:0 10px;padding:20px 0;">
                    <span style="display: inline-block;width: 80px;text-align: left;">时间范围：</span>
                    <label class="demo-label">
                        <input class="demo-radio" type="radio" name="day" value="0" checked>
                        <span class="demo-radioInput"></span> 今天
                    </label>
                    <label class="demo-label">
                        <input class="demo-radio" type="radio" name="day" value="1">
                        <span class="demo-radioInput"></span> 昨天
                    </label>
                    <label class="demo-label">
                        <input class="demo-radio" type="radio" name="day" value="7">
                        <span class="demo-radioInput"></span> 7天
                    </label>
                    <label class="demo-label">
                        <input class="demo-radio" type="radio" name="day" value="30">
                        <span class="demo-radioInput"></span> 30天
                    </label>
                    <label class="demo-label">
                        <input class="demo-radio" type="radio" name="day" value='resize'>
                        <span class="demo-checkbox demo-radioInput"></span> 自定义
                    </label>
                </div>
                <div class="titTime" style="display: none;">
                    <span>自定义时间范围：从</span>
                    <input size="54" type="text" value="" readonly class="form_datetime start" placeholder="请选择时间">
                    <span>到</span>
                    <input size="54" type="text" readonly class="form_datetime end" placeholder="请选择时间">
                    <span class="timeSure">确定</span>
                </div>
            </div>
            <div class="content">
                <div class="content-1" style="margin-top: 20px;">
                    <img src="/static/images/icon.png" alt="">
                    <span style="font-size: 16px;font-weight: 900;color: #fff">关键词云</span>
                    <div id="content-1-word" style="width: 90%;height:300px;margin: 0 auto;">
                        <p style="width: 100%;text-align: center;margin-top: 40px;color: white;">正在拼命加载中...</p>
                    </div>
                </div>
                <div class="content-2" style="margin-top: 20px;">
                    <div class="hot-1">
                        <img src="/static/images/icon.png" alt="">
                        <span style="font-size: 18px;font-weight: 900;color: #fff">热门帖子</span>
                    </div>
                    <div class="hot-2" style="margin-left: 30px;">
                        <!--<div style="text-align: center;">-->
                        <!--<input type="text" id="search-1-hot" placeholder="搜索关键词相关的微博" style="width: 94%;"/>-->
                        <!--<button type="button" class="btn-xs" id="search-hot" style="padding:3px 5px;margin: -3px 0 0 0;">搜索</button>-->
                        <!--</div>-->
                        <div>
                            <span style="display: inline-block;width: 70px;">分类：</span>
                            <div id="theme-2" style="display: inline-block;">
                                <label class="demo-label">
                                    <input class="demo-radio" type="radio" name="demo-radio" value="0" checked>
                                    <span class="demo-radioInput"></span> 全部用户
                                </label>
                                <label class="demo-label">
                                    <input class="demo-radio" type="radio" name="demo-radio" value="1">
                                    <span class="demo-radioInput"></span> 好友
                                </label>
                                <label class="demo-label">
                                    <input class="demo-radio" type="radio" name="demo-radio" value="2">
                                    <span class="demo-radioInput"></span> 非好友
                                </label>
                            </div>
                        </div>
                        <div>
                            <span style="display:inline-block;width:70px;">排序指标：</span>
                            <div id="theme-3" style="display: inline-block;">
                                <label class="demo-label">
                                    <input class="demo-radio" type="radio" name="demo" value="1" checked>
                                    <span class="demo-radioInput"></span> 按时间
                                </label>
                                <label class="demo-label">
                                    <input class="demo-radio" type="radio" name="demo" value="2">
                                    <span class="demo-radioInput"></span> 按热度
                                </label>
                                <label class="demo-label">
                                    <input class="demo-radio" type="radio" name="demo" value="3">
                                    <span class="demo-radioInput"></span> 按敏感度
                                </label>
                            </div>
                        </div>
                        <div class="hot_post">
                            <div id="hot_post">
                                <p style="width: 100%;text-align: center;margin-top: 40px;color: white;">正在拼命加载中...</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-3" style="margin-top: 20px;">
                    <div class="user-1" style="margin: 20px 0;">
                        <img src="/static/images/icon.png" alt="">
                        <span style="font-size: 18px;font-weight: 900;color: #fff">活跃用户</span>
                    </div>
                    <div class="user-2" style="margin-left: 30px;">
                        <span style="display:inline-block;width:70px;">分类：</span>
                        <div id="user-1" style="display: inline-block;">
                            <label class="demo-label">
                                <input class="demo-radio" type="radio" name="deadio" value="0" checked>
                                <span class="demo-radioInput"></span> 全部用户
                            </label>
                            <label class="demo-label">
                                <input class="demo-radio" type="radio" name="deadio" value="1">
                                <span class="demo-radioInput"></span> 好友
                            </label>
                            <label class="demo-label">
                                <input class="demo-radio" type="radio" name="deadio" value="2">
                                <span class="demo-radioInput"></span> 非好友
                            </label>
                        </div>
                        <div class="userList">
                            <span class="addFocus disableCss">添加关注</span>
                            <div id="userList">
                                <p style="width: 100%;text-align: center;margin-top: 40px;color: white;">正在拼命加载中...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="two" style="margin-top: 20px;">
            <div class="oli">
                <h5 style="font-size: 16px;"><i class="icon icon-star"></i>&nbsp;好友列表</h5>
                <div class="focusSEN" style="margin: 10px 0;">
                    <label class="demo-label">
                        <input class="demo-radio" type="radio" name="focus" value='influence' checked>
                        <span class="demo-checkbox demo-radioInput"></span> 按影响力
                    </label>
                    <label class="demo-label">
                        <input class="demo-radio" type="radio" name="focus" value='sensitive'>
                        <span class="demo-checkbox demo-radioInput"></span> 按敏感度
                    </label>
                </div>
                <div class="focus">
                    <div id="focus">
                        <p style="width: 100%;text-align: center;margin-top: 40px;color: white;">正在拼命加载中...</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--模态框-->
<!--提示弹框-->
<div class="modal fade" id="pormpt" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">温馨提示</h4>
            </div>
            <div class="modal-body">
                <p style="text-align: center;font-size: 18px;color: #fff;font-weight: 900;">

                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block my_js %}
<script>
    var loadingType='faceBook';
    weiboORqq('faceBook');
    $('.nav_type').text('(FaceBook)');
    judgmentFaceBook('3');
    $(".form_datetime").datetimepicker({
        format: "yyyy-mm-dd hh:ii",
        //minView:2, //控制时分秒
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left"
    });
    $('.start').on('changeDate', function(ev){
        $('.end').datetimepicker('setStartDate',ev.date);
    });
    $('.end').on('changeDate', function(ev){
        $('.start').datetimepicker('setEndDate',ev.date);
    });
</script>
<script src="/static/js/echarts-2/build/dist/echarts.js"></script>
<script src="/static/js/inforCheckingFaceBook-1.js"></script>
<script src="/static/js/inforCheckingFaceBook-2.js"></script>
{% endblock %}
