{% extends "publicNav.html" %}
{% block title %}<title>知识库管理 - 业务知识库</title>{% endblock %}
{% block my_css %}
<link rel="stylesheet" href="/static/css/business_library.css">
<style>
    .fixed-table-pagination .page-list{display: none;}
    .fixed-table-toolbar .search {width: 100%;}
    .bootstrap-table .table>thead>tr>th {width: 8%;}
    .demo-label{display:inline-block;margin:15px 10px 0 0;cursor: pointer;color: white;}
    .demo-radio{display:none}
    .demo-radioInput{cursor:pointer;background-color:#eee;display:inline-block;height:16px;
        margin-top: -3px;vertical-align:middle;width:16px!important;line-height:1;margin-right: 5px!important;}
    .demo-radio:checked + .demo-radioInput:after{background-color:#57ad68;content:"";display:inline-block;height:12px;margin:2px;width:12px}
    .demo-checkbox.demo-radioInput,.demo-radio:checked + .demo-checkbox.demo-radioInput:after{border-radius:0}
    .newWord {
        background: transparent;
        color: white;
        text-align: center;
        width: 50px;
        /*border: 1px solid silver;*/
        /*border-radius: 5px;*/
    }

</style>
{% endblock %}
{% block main %}
<div id="container">
    <div class="title">
        <div class="tit-1">
            <span class="icon icon-glass account_icon"></span>
            <b>业务知识库</b>
        </div>
        <div class="tit-2" style="padding-left: 50px;">
            <span style="color: white;font-size: 16px;font-weight: 700;">分类：</span>
            <div style="display: inline-block;">
                <label class="demo-label" value="all_xnrs">
                    <input class="demo-radio" type="radio" name="mine" value="all_xnrs" checked>
                    <span class="demo-radioInput"></span> 共享
                </label>
                <label class="demo-label" value="my_xnrs">
                    <input class="demo-radio" type="radio" name="mine" value="my_xnrs">
                    <span class="demo-radioInput"></span> 私有
                </label>
            </div>
        </div>
    </div>
    <div class="options">
        <div class="options-1">
            <div class="opt-1-1">
                <img src="/static/images/icon.png" alt="">
                <span style="font-size: 18px;font-weight: 900;color: #fff;">敏感词管理</span>
                <div style="float: right;width: 400px;overflow: hidden;text-align: right;">
                    <input type="text" class="keyVal" placeholder="输入敏感词"/>
                    <span class="addKey"><i class="icon icon-plus"></i>&nbsp;&nbsp;<b>添加敏感词</b></span>
                </div>
                <div style="color: white;font-weight: 600;padding: 5px 20px;">
                    <p style="display: inline-block;">敏感词等级划分：</p>
                    <div class="rankcon" style="display: inline-block;">
                        <label class="demo-label" rank="1">
                            <input class="demo-radio" type="radio" name="rank" value="1" checked>
                            <span class="demo-radioInput"></span> 1
                        </label>
                        <label class="demo-label" rank="2">
                            <input class="demo-radio" type="radio" name="rank" value="2">
                            <span class="demo-radioInput"></span> 2
                        </label>
                        <label class="demo-label" rank="3">
                            <input class="demo-radio" type="radio" name="rank" value="3">
                            <span class="demo-radioInput"></span> 3
                        </label>
                        <label class="demo-label" rank="4">
                            <input class="demo-radio" type="radio" name="rank" value="4">
                            <span class="demo-radioInput"></span> 4
                        </label>
                        <label class="demo-label" rank="5">
                            <input class="demo-radio" type="radio" name="rank" value="5">
                            <span class="demo-radioInput"></span> 5
                        </label>
                        <label class="demo-label" rank="6">
                            <input class="demo-radio" type="radio" name="rank" value="6">
                            <span class="demo-radioInput"></span> 6
                        </label>
                        <label class="demo-label" rank="7">
                            <input class="demo-radio" type="radio" name="rank" value="7">
                            <span class="demo-radioInput"></span> 7
                        </label>
                        <label class="demo-label" rank="8">
                            <input class="demo-radio" type="radio" name="rank" value="8">
                            <span class="demo-radioInput"></span> 8
                        </label>
                        <label class="demo-label" rank="9">
                            <input class="demo-radio" type="radio" name="rank" value="9">
                            <span class="demo-radioInput"></span> 9
                        </label>
                        <label class="demo-label" rank="10">
                            <input class="demo-radio" type="radio" name="rank" value="10">
                            <span class="demo-radioInput"></span> 10
                        </label>
                    </div>
                </div>
            </div>
            <div class="keywords" style="margin:20px 0;">
                <div id="keywords"></div>
            </div>
        </div>
        <div class="options-2">
            <div class="opt-2-1">
                <img src="/static/images/icon.png" alt="">
                <span style="font-size: 18px;font-weight: 900;color: #fff;">时间预警节点管理</span>
                <div style="float: right;overflow: hidden;text-align: right;">
                    <input type="text" class="timeVal3" placeholder="输入事件名称"/>
                    <input type="text" class="timeVal1 form_datetime" placeholder="输入时间节点"/>
                    <input type="text" class="timeVal2" placeholder="输入节点敏感词"/>
                    <span class="addNode"><i class="icon icon-plus"></i>&nbsp;&nbsp;<b>添加节点</b></span>
                </div>
            </div>
            <div class="timeWarn" style="margin:20px 0;">
                <div id="timeWarn"></div>
            </div>
        </div>
        <div class="options-3">
            <div class="opt-3-1">
                <img src="/static/images/icon.png" alt="">
                <span style="font-size: 18px;font-weight: 900;color: #fff;">隐喻式表达</span>
                <div style="float: right;width: 400px;overflow: hidden;text-align: right;">
                    <input type="text" class="hidVal1" placeholder="输入原词" title="只能输入汉字、英文、数字"/>
                    <input type="text" class="hidVal2" placeholder="输入变形词" title="多个词用逗号分隔"/>
                    <span class="addhid"><i class="icon icon-plus"></i>&nbsp;&nbsp;<b>添加原词</b></span>
                </div>
            </div>
            <div class="expression">
                <div id="expression"></div>
            </div>
        </div>
    </div>
</div>
<!--模态框-->

<!--提示信息-->
<div class="modal fade" id="pormpt" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">温馨提示</h4>
            </div>
            <div class="modal-body">
                <p style="text-align: center;font-size: 18px;color: #fff;font-weight: 900;">

                </p>
            </div>
            <!--<div class="modal-footer">-->
            <!--<button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>-->
            <!--<button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>-->
            <!--</div>-->
        </div>
    </div>
</div>

<!--敏感词更改-->
<div class="modal fade" id="words" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">敏感词更改</h4>
            </div>
            <div class="modal-body">
                <p><span>现敏感词：</span><input type="text" class="nowd1" readonly></p>
                <p><span>新敏感词：</span><input type="text" class="nowd2" placeholder="请输入新的敏感词"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="sureword()">确定</button>
            </div>
        </div>
    </div>
</div>

<!--时间节点-->
<div class="modal fade" id="time" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">时间节点更新</h4>
            </div>
            <div class="modal-body">
                <p><span>现时间节点事件名称：</span><input type="text" class="name1" readonly></p>
                <p><span>新时间节点事件名称：</span><input type="text" class="name2" placeholder="请输入新的事件名称"></p>
                <p><span>现时间节点敏感词：</span><input type="text" class="time1" readonly></p>
                <p><span>新时间节点敏感词：</span><input type="text" class="time2" placeholder="请输入新的敏感词"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="sureTime()">确定</button>
            </div>
        </div>
    </div>
</div>

<!--隐喻式节点-->
<div class="modal fade" id="hide" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">隐喻式表达更新</h4>
            </div>
            <div class="modal-body">
                <p><span>现隐喻式表达词：</span><input type="text" class="hide1" readonly></p>
                <p><span>新隐喻式表达词：</span><input type="text" class="hide2" placeholder="请输入新的敏感词"></p>
                <p><span>现隐喻式变形词：</span><input type="text" class="hide3" readonly></p>
                <p><span>新隐喻式变形词：</span><input type="text" class="hide4" placeholder="请输入新的变形词"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="sureHide()">确定</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block my_js %}
<script>
    var flag='{{flag}}',urlTotal;
    if (flag==1){
        judgment('8');
        urlTotal='/weibo_xnr_knowledge_base_management';
    }else if (flag==4){
        judgmentFaceBook('8');
        urlTotal='/fb_xnr_knowledge_base_management';
    }else if (flag==5){
        judgmentTwitter('8');
        urlTotal='/tw_xnr_knowledge_base_management';
    }
    $(".form_datetime").datetimepicker({
        format: "yyyy-mm-dd",
        minView:"2",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left"
    });
</script>
<script src="/static/js/business_library-1.js"></script>
{% endblock %}