{% extends "publicNav.html" %}
{% block title %}<title>行为评估</title>{% endblock %}
{% block my_css %}
<link rel="stylesheet" href="/static/css/inforCheckingQQ.css">
<style>
    #container .type_page #myTabs a {
        color: white;
    }
    .demo-label{display:inline-block;margin-left: 10px;cursor:pointer;}
    .demo-radio{display:none}
    .demo-radioInput{cursor:pointer;background-color:#eee;border-radius:100%;display:inline-block;height:16px;vertical-align:middle;width:16px;line-height:1;margin-top:-3px;}
    .demo-radio:checked + .demo-radioInput:after{background-color:#57ad68;border-radius:100%;content:"";display:inline-block;height:12px;margin:2px;width:12px}
    .demo-checkbox.demo-radioInput,.demo-radio:checked + .demo-checkbox.demo-radioInput:after{border-radius:0}
    #start_1,#end_1,.sureTime{display: none;}
    .sureTime {
        padding:1px 6px;
        color: white;
        font-size: 12px;
        border: 1px solid silver;
        border-radius: 5px;
        background:transparent;
        cursor: pointer;
    }
    .sureTime:hover {
        background: rgba(8,23,44,0.65);
    }
</style>
{% endblock %}
{% block main %}
<div id="container">
    <div class="title">
        <div style="display: inline-block;">
            <span class="icon icon-edit note_icon" style="color: #fff;"></span>
            <b style="font-size: 20px;color: #fff;">行为评估</b>
        </div>
    </div>
    <div class="choosetime" style="margin: 10px 0;">
        <label class="demo-label">
            <input class="demo-radio" type="radio" name="time1" value='0'>
            <span class="demo-checkbox demo-radioInput"></span> 今天
        </label>
        <label class="demo-label">
            <input class="demo-radio" type="radio" name="time1" value='1'>
            <span class="demo-checkbox demo-radioInput"></span> 昨天
        </label>
        <label class="demo-label">
            <input class="demo-radio" type="radio" name="time1" value='7' checked>
            <span class="demo-checkbox demo-radioInput"></span> 7天
        </label>
        <label class="demo-label">
            <input class="demo-radio" type="radio" name="time1" value='30'>
            <span class="demo-checkbox demo-radioInput"></span> 30天
        </label>
        <label class="demo-label">
            <input class="demo-radio" type="radio" name="time1" value='mize'>
            <span class="demo-checkbox demo-radioInput"></span> 自定义
        </label>
        <input type="text" size="16" id="start_1" class="form_datetime" placeholder="开始时间"
               style="display:none;height: 20px;font-size: 10px;color: white;text-align: center;
                        padding:2px 4px;border: 1px solid silver;background: rgba(8,23,44,0.25);">
        <input type="text" size="16" id="end_1" class="form_datetime" placeholder="结束时间"
               style="display:none;height: 20px;font-size: 10px;color: white;text-align: center;
                        padding:2px 4px;border: 1px solid silver;background: rgba(8,23,44,0.25);">
        <span id="sure" class="sureTime">确定</span>
        <!--<input type="text" class="customizeTime" placeholder="输入查询天数（回车搜索）"/>-->
    </div>
    <div class="type_page" style="width: 90%;margin: 20px auto 30px;">
        <ul id="myTabs" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#influence" role="tab" data-toggle="tab"><b class="icon icon-lightbulb"></b>&nbsp;影响力评估</a>
            </li>
            <li role="presentation">
                <a href="#penetration" role="tab" data-toggle="tab"><b class="icon icon-tint"></b>&nbsp;渗透力评估</a>
            </li>
            <li role="presentation">
                <a href="#safe" role="tab" data-toggle="tab"><b class="icon icon-glass"></b>&nbsp;安全性评估</a>
            </li>
        </ul>
        <div class="behavior">
            <div class="tab-content" id="content">
                <div role="tabpanel" class="tab-pane active" id="influence">
                    <div class="influe-1 caption" style="margin-top: 20px;">
                        <div style="display: inline-block;">
                            <img src="/static/images/icon.png" alt="">
                            <span style="color: #fff;">得分：</span>
                            <b class="score" style="color:#f44336;"></b>
                        </div>
                    </div>
                    <div id="influe-2" style="width:800px;height:400px;margin:30px auto 0;">
                        <p style="width: 100%;text-align: center;margin-top: 40px;color: white;">正在拼命加载中...</p>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="penetration">
                    <div class="pen-1 caption" style="display: inline-block;margin-top: 20px;">
                        <div style="display: inline-block;">
                            <img src="/static/images/icon.png" alt="">
                            <span style="color: #fff;">得分：</span>
                            <b class="score" style="color:#f44336;"></b>
                        </div>
                    </div>
                    <div id="pen-2" style="width:800px;height:400px;margin: 30px auto 0;">
                        <p style="width: 100%;text-align: center;margin-top: 40px;color: white;">正在拼命加载中...</p>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="safe">
                    <div class="safe-1 caption" style="display: inline-block;margin-top: 20px;">
                        <img src="/static/images/icon.png" alt="">
                        <span style="color: #fff;">得分：</span>
                        <b class="score" style="color:#f44336;"></b>
                    </div>
                    <div id="safe-2" style="width:800px;height:400px;margin:30px auto 0;">
                        <p style="width: 100%;text-align: center;margin-top: 40px;color: white;">正在拼命加载中...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--模态框-->
<div class="modal fade" id="successfail" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">温馨提示</h4>
            </div>
            <div class="modal-body">
                <p style="text-align: center;font-size: 18px;color: #fff;font-weight: 900;">

                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block my_js %}
<script>

    var loadingType = 'QQ';
    weiboORqq('QQ');
    $('.coorName').text('行为评估');
    $(".form_datetime").datetimepicker({
        format: "yyyy-mm-dd hh:ii",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left"
    });
    $('#start_1').on('changeDate', function(ev){
        $('#end_1').datetimepicker('setStartDate',ev.date);
    });
    $('#end_1').on('changeDate', function(ev){
        $('#start_1').datetimepicker('setEndDate',ev.date);
    });
    document.onkeydown = function(e) {
        var ev = (typeof event!= 'undefined') ? window.event : e;
        if(ev.keyCode == 13 && document.activeElement.id == "search-1-post") {//activeElement活动事件,该事件只可以使用于输入域中
            console.log("获取到内容：" + document.activeElement.value);
        }else if(ev.keyCode==13&& document.activeElement.id=='post-content'){
            console.log("QQ内容：" + document.activeElement.value);
        }
    };
</script>
<script src="/static/js/dark.js"></script>
<script src="/static/js/behaviorQQ-1.js"></script>
{% endblock %}