{% extends "publicNav.html" %}
{% block title %}<title>行为评估 - 影响力评估</title>{% endblock %}
{% block my_css %}
<link rel="stylesheet" href="/static/css/influe_assess.css">
<style>
    .datetimepicker td, .datetimepicker th {color: black;}
    .history .fixed-table-pagination {display: none;}
    .history .fixed-table-toolbar {display: none;}
    .history .table>thead>tr>th {border-top: none;}
    .history .bootstrap-table .table>thead>tr>th {width: 8%;}
    .history .bootstrap-table .table:not(.table-condensed) {padding:0;}
    #container .type_page #myTabs a {
        color: white;
    }
    .demo-label{display:inline-block;margin-left: 10px;cursor:pointer;}
    .demo-radio{display:none}
    .demo-radioInput{cursor:pointer;background-color:#eee;border-radius:100%;display:inline-block;height:16px;vertical-align:middle;width:16px;line-height:1;margin-top:-3px;}
    .demo-radio:checked + .demo-radioInput:after{background-color:#57ad68;border-radius:100%;content:"";display:inline-block;height:12px;margin:2px;width:12px}
    .demo-checkbox.demo-radioInput,.demo-radio:checked + .demo-checkbox.demo-radioInput:after{border-radius:0}
    #start_1,#end_1,.sureTime{display: none;}
    .sureTime {
        padding:1px 6px;
        color: white;
        font-size: 12px;
        border: 1px solid silver;
        border-radius: 5px;
        background:transparent;
        cursor: pointer;
    }
    .sureTime:hover {
        background: rgba(8,23,44,0.65);
    }
</style>
{% endblock %}
{% block main %}
<div id="container">
    <div class="choosetime" style="margin: 10px 0;">
        <label class="demo-label">
            <input class="demo-radio" type="radio" name="time1" value='0'>
            <span class="demo-checkbox demo-radioInput"></span> 今天
        </label>
        <label class="demo-label">
            <input class="demo-radio" type="radio" name="time1" value='1'>
            <span class="demo-checkbox demo-radioInput"></span> 昨天
        </label>
        <label class="demo-label">
            <input class="demo-radio" type="radio" name="time1" value='7' checked>
            <span class="demo-checkbox demo-radioInput"></span> 7天
        </label>
        <label class="demo-label">
            <input class="demo-radio" type="radio" name="time1" value='30'>
            <span class="demo-checkbox demo-radioInput"></span> 30天
        </label>
        <label class="demo-label">
            <input class="demo-radio" type="radio" name="time1" value='mize'>
            <span class="demo-checkbox demo-radioInput"></span> 自定义
        </label>
        <input type="text" size="16" id="start_1" class="form_datetime" placeholder="开始时间"
               style="display:none;height: 20px;font-size: 10px;color: white;text-align: center;
                        padding:2px 4px;border: 1px solid silver;background: rgba(8,23,44,0.25);">
        <input type="text" size="16" id="end_1" class="form_datetime" placeholder="结束时间"
               style="display:none;height: 20px;font-size: 10px;color: white;text-align: center;
                        padding:2px 4px;border: 1px solid silver;background: rgba(8,23,44,0.25);">
        <span id="sure" class="sureTime">确定</span>
        <!--<input type="text" class="customizeTime" placeholder="输入查询天数（回车搜索）"/>-->
    </div>
    <div class="history">
        <div id="history">
            <p style="width: 100%;text-align: center;margin-top: 40px;color: white;">正在拼命加载中...</p>
        </div>
    </div>
    <div class="title">
        <div class="tit-1" style="display: inline-block;">
            <span class="icon icon-lightbulb note_icon" style="color: #fff;"></span>
            <b style="font-size: 20px;color: #fff;">影响力评估</b>
        </div>
        <div class="tit-2" style="display: inline-block;position: relative;top:-5px;left: 30px;">
            <span style="color: #fff;">得分：</span>
            <b class="score" style="color:#f44336;"></b>
        </div>
    </div>
    <div id="near_7_day" style="width: 950px;height:400px;margin:20px auto 0;">
        <p style="width: 100%;text-align: center;margin-top: 40px;color: white;">正在拼命加载中...</p>
    </div>
    <div class="quota" style="width: 950px;">
        <div class="quota-opt" style="display: inline-block;margin: 20px 0;">
            <!--<label class="demo-label">-->
            <!--<input class="demo-radio" type="radio" name="demo1" value="all" checked>-->
            <!--<span class="demo-checkbox demo-radioInput"></span> 总趋势-->
            <!--</label>-->
            <label class="demo-label">
                <input class="demo-radio" type="radio" name="demo1" value="todayValue" checked>
                <span class="demo-checkbox demo-radioInput"></span> 当天值
            </label>
            <label class="demo-label">
                <input class="demo-radio" type="radio" name="demo1" value="totalValue">
                <span class="demo-checkbox demo-radioInput"></span> 累计值
            </label>
            <label class="demo-label">
                <input class="demo-radio" type="radio" name="demo1" value="increase">
                <span class="demo-checkbox demo-radioInput"></span> 增长率
            </label>
        </div>
        <div id="quota-1" style="width: 950px;height:500px;margin: 30px auto 0;">
            <p style="width: 100%;text-align: center;margin-top: 40px;color: white;">正在拼命加载中...</p>
        </div>
        <div id="quota-3" style="width: 950px;height:500px;margin: 30px auto 0;display: none;">
            <p style="width: 100%;text-align: center;margin-top: 40px;color: white;">正在拼命加载中...</p>
        </div>
        <div id="quota-2" style="width: 950px;height:500px;margin: 30px auto 0;display: none;">
            <p style="width: 100%;text-align: center;margin-top: 40px;color: white;">正在拼命加载中...</p>
        </div>
    </div>
</div>
<!--模态框-->
<div class="modal fade" id="successfail" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">温馨提示</h4>
            </div>
            <div class="modal-body">
                <p style="text-align: center;font-size: 18px;color: #fff;font-weight: 900;"></p>
            </div>
            <!--<div class="modal-footer">-->
            <!--<button type="button" class="btn btn-primary first_created" data-dismiss="modal">首次创建</button>-->
            <!--<button type="button" class="btn btn-primary continue_already_created" data-dismiss="modal">继续已有创建</button>-->
            <!--</div>-->
        </div>
    </div>
</div>

{% endblock %}

{% block my_js %}
<script>
    var loadingType='twitter';
    judgmentTwitter('5');
    $(".form_datetime").datetimepicker({
        format: "yyyy-mm-dd hh:ii",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left"
    });
    $('#start_1').on('changeDate', function(ev){
        $('#end_1').datetimepicker('setStartDate',ev.date);
    });
    $('#end_1').on('changeDate', function(ev){
        $('#start_1').datetimepicker('setEndDate',ev.date);
    });
</script>
<script src="/static/js/dark.js"></script>
<script src="/static/js/influe_assessTwitter-1.js"></script>
{% endblock %}