{% extends "publicNav.html" %}
{% block title %}<title>行为评估 - 渗透力评估</title>{% endblock %}
{% block my_css %}
<link rel="stylesheet" href="/static/css/penetration.css">
<style>
    #container .type_page #myTabs a {
        color: white;
    }
    .demo-label{display:inline-block;margin-left: 10px;cursor:pointer;}
    .demo-radio{display:none}
    .demo-radioInput{cursor:pointer;background-color:#eee;border-radius:100%;display:inline-block;height:16px;vertical-align:middle;width:16px;line-height:1;margin-top:-3px;}
    .demo-radio:checked + .demo-radioInput:after{background-color:#57ad68;border-radius:100%;content:"";display:inline-block;height:12px;margin:2px;width:12px}
    .demo-checkbox.demo-radioInput,.demo-radio:checked + .demo-checkbox.demo-radioInput:after{border-radius:0}
</style>
{% endblock %}
{% block main %}
<div id="container">
    <div class="title">
        <div class="tit-1" style="display: inline-block;">
            <span class="icon icon-tint note_icon" style="color: #fff;"></span>
            <b style="font-size: 20px;color: #fff;">渗透力评估</b>
        </div>
        <div class="tit-2" style="display: inline-block;position: relative;top:-5px;left: 30px;">
            <span style="color: #fff;">得分：</span>
            <b class="score" style="color:#f44336;"></b>
        </div>
    </div>
    <div id="near_7_day" style="width: 950px;height:400px;margin:20px auto 0;"></div>
    <div class="penetration" style="width: 100%;">
        <div id="penetration" style="width:100%;height:500px;margin: 30px auto 0;"></div>
    </div>
</div>
<!--模态框-->
<div class="modal fade" id="myModal-has" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">添加提示</h4>
            </div>
            <div class="modal-body">
                <p style="text-align: center;font-size: 18px;color: #5e5e5e;font-weight: 900;">
                    创建新的虚拟人还是继续已有的虚拟人？
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary first_created" data-dismiss="modal">首次创建</button>
                <button type="button" class="btn btn-primary continue_already_created" data-dismiss="modal">继续已有创建</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block my_js %}
<script>
    judgment('5');
    weiboORqq('weibo');
</script>
<script src="/static/js/dark.js"></script>
<script src="/static/js/penetration-1.js"></script>
{% endblock %}