/*内容样式*/
table.table-condensed {
    color: black;
}
body {
    /*padding: 30px 0 ;*/
    background: url("/static/images/everybody_bg.jpg") no-repeat #0d3b6c;
    /*background-size: 100% 100%;*/
    color: #fff;
    /*transform: scale(1);*/
}
#container {
    width: 1000px;
    margin: 0 auto 50px;
    height: 100%;
    padding: 25px;
    background: rgba(8,23,44,0.25);
    position: relative;
    top: 80px;
}
#container .title .note_icon {
    display: inline-block;
    font-size: 30px;
    margin-right: 5px;
    color: #003366;
}
#container .title b {
    position: relative;
    top: -4px;
    color: #003366;
    font-weight: 900;
}
#container .type_page .desc_index {
    padding: 20px 0;
}
#container .active-1 .actRight {
    text-align: center;
    margin: 15px 0;
}
#container .active-1 .actRight span {
    display: inline-block;
}
#container .active-1 .actRight .active-1-find {
    width: 700px;
    text-align: center;
    padding: 5px 10px;
    border: 1px solid silver;
    border-radius: 5px;
    background: transparent;
    color: white;
}
#container .active-1 .actRight span {
    font-size: 14px;
    cursor: pointer;
    color: white;
    padding: 5px 10px;
    border: 1px solid silver;
    border-radius: 5px;
    background: transparent;
}
#container .active-1 .actRight span:hover {
    background: rgba(5, 23, 55, 0.45);
}


