/*内容样式*/
body {
    /*padding: 30px 0 ;*/
    background: url("/static/images/everybody_bg.jpg") no-repeat #0d3b6c;
    /*background-size: 100% 100%;*/
}
#container {
    width: 1000px;
    margin: 0 auto 50px;
    height: 100%;
    padding: 25px;
    background: rgba(8,23,44,0.5);
    position: relative;
    top: 80px;
}
#container .title {
    width: 100%;
    position: relative;
}
#container .title .tit-1 b {
    display: inline-block;
    position: relative;
    top: -3px;
    margin-left: 15px;
    font-size: 18px;
    color: white;
    font-weight: 900;
}
#container .title .account_icon {
    display: inline-block;
    font-size: 30px;
    margin-right: 5px;
    color: #fff;
}
#container .options {
    width: 90%;
    margin: 20px auto;
}
#container .options .opt-1-1 .addKey,
#container .options .opt-2-1 .addNode,
#container .options .opt-3-1 .addhid,
#words .nowd1,#words .nowd2,#time .time1,#time .time2,#time .name1,#time .name2,
#hide .hide1,#hide .hide2,#hide .hide3,#hide .hide4{
    display: inline-block;
    padding: 4px 7px;
    background: transparent;
    border: 1px solid silver;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
#container .options .opt-1-1 .addKey:hover,
#container .options .opt-2-1 .addNode:hover,
#container .options .opt-3-1 .addhid:hover {
    background: rgba(5, 23, 55, 0.45);
}
#words .nowd1,#words .nowd2,
#time .time1,#time .time2,#time .name1,#time .name2,
#hide .hide1,#hide .hide2,#hide .hide3,#hide .hide4{
    text-align: center;
    width: 300px;
    margin-top: 20px;
    transition: all linear 0.3s;
}
#words .nowd1:focus,#words .nowd2:focus,
#time .time1:focus,#time .time2:focus,#time .name1:focus,#time .name2:focus,
#hide .hide1:focus,#hide .hide2:focus,#hide .hide3:focus,
#hide .hide4:focus {
    background: white;
    color: black;
}
#time p span {
    display: inline-block;
    width: 140px;
    text-align: right;
}
#container .options .opt-1-1 .keyVal,
#container .options .opt-3-1 .hidVal1,
#container .options .opt-3-1 .hidVal2,
#container .options .opt-2-1 .timeVal1,
#container .options .opt-2-1 .timeVal2,
#container .options .opt-2-1 .timeVal3 {
    width: 250px;
    text-align: center;
    font-size: 14px;
    color: white;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 4px 7px;
    background: rgba(8,23,44,0.35);
    transition: all linear 0.3s;
    transform: translate(150%);
}
#container .options .opt-3-1 .hidVal1,
#container .options .opt-3-1 .hidVal2,
#container .options .opt-2-1 .timeVal1,
#container .options .opt-2-1 .timeVal2,
#container .options .opt-2-1 .timeVal3 {
    width: 150px;
    transform: translate(280%);
}
#container .options .opt-2-1 .timeVal1,
#container .options .opt-2-1 .timeVal2,
#container .options .opt-2-1 .timeVal3 {
    transform: translate(380%);
}