/*内容样式*/
body {
    /*padding: 30px 0 ;*/
    background: url("/static/images/everybody_bg.jpg") no-repeat #0d3b6c;
    /*background-size: 100% 100%;*/
}
#container {
    width: 1000px;
    margin: 0 auto 50px;
    height: 100%;
    padding: 25px;
    background: rgba(8,23,44,0.25);
    position: relative;
    top: 80px;
}
#container .title {
    width: 100%;
    position: relative;
}
#container .title .tit-1 b {
    display: inline-block;
    position: relative;
    top: -3px;
    margin-left: 15px;
    font-size: 18px;
    color: white;
    font-weight: 900;
}
#container .title .account_icon {
    display: inline-block;
    font-size: 30px;
    margin-right: 5px;
    color: #fff;
}
#container .options {
    width: 90%;
    margin: 20px auto;
}
#container .options .opt-1-1 .addKey,#words .nowd1,#words .nowd2 {
    display: inline-block;
    padding: 4px 7px;
    background: transparent;
    border: 1px solid silver;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
#container .options .opt-1-1 .addKey:hover {
    background: rgba(5, 23, 55, 0.45);
}
#words .nowd1,#words .nowd2 {
    text-align: center;
    width: 300px;
    margin-top: 20px;
    transition: all linear 0.3s;
}
#words .nowd1:focus,#words .nowd2:focus {
    background: white;
    color: black;
}
#container .options .opt-1-1 .keyVal{
    width: 250px;
    text-align: center;
    font-size: 14px;
    color: white;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 4px 7px;
    background: rgba(8,23,44,0.35);
    transition: all linear 0.3s;
    transform: translate(150%);
}