/*内容样式*/
body {
    /*padding: 30px 0 ;*/
    background: url("/static/images/everybody_bg.jpg") no-repeat #0d3b6c;
    /*background-size: 100% 100%;*/
}
#container {
    width: 1000px;
    margin: 0 auto 50px;
    height: 100%;
    padding: 25px;
    background: rgba(8,23,44,0.25);
    position: relative;
    top: 80px;
}
#container .title {
    width: 100%;
    position: relative;
}
#container .title .tit-1 b {
    display: inline-block;
    position: relative;
    top: -3px;
    margin-left: 15px;
    font-size: 18px;
    color: white;
    font-weight: 900;
}
#container .title .account_icon {
    display: inline-block;
    font-size: 30px;
    margin-right: 5px;
    color: #fff;
}
#container .options {
    width: 90%;
    margin: 20px auto;
}
#container .options .op-2-down,#container .options .op-4-down {
    display: inline-block;
}
#container .options #opt-1-2,#container .options #opt-2-2,#container .options #opt-2-4,
#container .options #opt-3-2,#container .options #opt-4-2,#container .options #opt-4-4 {
    width: 800px;
    height: 300px;
    margin: 20px auto;
}
#container .options #opt-2-2,#container .options #opt-2-4,
#container .options #opt-4-2,#container .options #opt-4-4 {
    width: 400px;
}