/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.hidden{display:none;}
	#file-upload{margin-left:50px;border:1px solid #999;}
	.fleft{float:left;}
#uploadFile{position: fixed;margin-top: -200px;left: 50%;top: 50%;z-index: 1002;width: 620px;background: #FFF none repeat scroll 0% 0%;
border: 1px solid #AA8BE8;height: 230px;margin-left: -300px;}
#float-wrap {position: fixed;top: 0px;left: 0px;opacity: 0.6;z-index: 1001;width: 100%;height: 100%; background: #000 none repeat scroll 0% 0%;}
#uploadFile .title{color:black;border-bottom:1px solid #999;}
.title{color:black;border-bottom:1px solid #999;padding-left:20px;}
.decoration ul{margin-top:30px;}
li{list-style-type:none;}
.decoration ul li{width:100%;float:left;margin-bottom:20px;}
.p_title {float: left;width: 260px;margin-right:30px;white-space: nowrap;overflow: hidden; font-weight: normal;text-align: right;color: #808080;}
#searchbtn {
  display: inline-block;
  background: #4f8fff none repeat scroll 0% 0%;
  color: #FFF;
  border: 1px solid #334EE3;
  border-radius: 2px;
  width: 108px;
  float: right;
  margin-right: 10px;
  height:30px;
}
#searchTable {float:right;margin-right:20px;}
#searchTable0 {float:right;margin-right:20px;}
#SearchTab{position: fixed;margin-top: -200px;left: 50%;top: 50%;z-index: 1002;width: 620px;background: #FFF none repeat scroll 0% 0%;
border: 1px solid #AA8BE8;height:380px;margin-left: -300px;}
#pageTitle{font-size:20px;text-indent:20px;font-family:"Microsoft YaHei UI";}
#DataTables_Table_0_filter{display:none;}
#DataTables_Table_0_length{display:none;}
#del{color:black;}
.lineh{line-height:30px;}
table th{text-align:center;}
tbody td{text-align:center;}
.tagCols{width:550px;margin:auto 0;  text-align: center;margin-bottom: 10px;height:50px;line-height: 45px;}
.tagCols span{font-size:20px;}
.addIcon{background-image:url(../../static/img/add.png);width:32px;display:inline-block;height:32px;cursor:pointer;padding-top:10px;}
#editAdd{background-image:url(../../static/img/add.png);width:32px;display:inline-block;height:32px;cursor:pointer;padding-top:10px;}
.tagbg{background-color:lightblue;min-width:50px;border:soild 1px #eee;margin-right:10px;}
#delIcon{background-image:url(../../static/img/delete16.png);width:16px;height:14px;cursor:pointer;display:inline-block;}
#EDIT{font-size:18px;}
.smallAdd{background-image:url(../../static/img/smallAdd.png);width:16px;height:16px;cursor:pointer;display:inline-block;}
.input_tag_box{
    color: #5f5f5f;
    border-width: 1px;
    border-style: solid;
    border-image: none;
    border-color: #9b9b9d #dcdcdc #dce7eb;
    border-radius: 3px;
    background-color: #fbfcfc;margin-right: 20px;}

