/*内容样式*/
.nav>li>a:focus, .nav>li>a:hover {
    background-color: rgba(5, 23, 55, 0.45);
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color:rgba(7,26,55,0.2);
}
body {
    /*padding: 30px 0 ;*/
    background: url("/static/images/everybody_bg.jpg") no-repeat #0d3b6c;
    /*background-size: 100% 100%;*/
    color: #fff;
}
#container {
    width: 1000px;
    margin: 0 auto 50px;
    height: 100%;
    padding: 25px;
    background: rgba(8,23,44,0.25);
    position: relative;
    top: 80px;
}
#container .title .note_icon {
    display: inline-block;
    font-size: 30px;
    margin-right: 5px;
    color: #003366;
}
#container .title .tit-1 b {
    position: relative;
    top: -4px;
    color: #003366;
    font-weight: 900;
}
#container .title .tit-2 span, #container .title .tit-2 b {
    font-size: 18px;
    font-weight: 900;
}