body {
    /*padding: 30px 0 ;*/
    background: url("/static/images/everybody_bg.jpg") no-repeat #0d3b6c;
    /*background-size: 100% 100%;*/
    color: #fff;
}
#container {
    width: 1000px;
    margin: 0 auto 50px;
    height: 100%;
    padding: 25px;
    background: rgba(8,23,44,0.8);
    position: relative;
    top: 80px;
}
#container .title .note_icon {
    display: inline-block;
    font-size: 30px;
    margin-right: 5px;
    color: #003366;
}
#container .title b {
    position: relative;
    top: -4px;
    color: #003366;
    font-weight: 900;
}
#container .title .titTime {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}
#container .title .titTime input,
#container .title .titTime .timeSure {
    padding: 3px 7px;
    text-align: center;
    background: transparent;
    color: white;
    font-size: 12px;
    border: 1px solid silver;
    border-radius: 5px;
    cursor: pointer;
}
/*#container .title .titTime input {*/
/*width: 160px;*/
/*}*/
#container .title .titTime .timeSure {
    display: inline-block;
    margin-left: 10px;
}
#container .title .titTime .timeSure:hover {
    background: rgba(5, 23, 55, 0.45);
}
#container .content-2 .hot-2 .post_perfect .post_center-hot {
    position: relative;
    padding: 10px 10px 10px 30px;
    background:#06162d;
}
#container .content-2 .hot-2 .post_perfect .post_center-hot .center_icon {
    position: absolute;
    top: 10px;
    left: 3px;
    width: 20px;
    height: 20px;
}
#container .content-2 .hot-2 select,#container .content-2 .hot-2 input{
    color: white;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 3px 7px;
    background:rgba(8,23,44,0.35);
}
/*#container .content-2 .hot-2 #search-hot {*/
/*background: transparent;*/
/*border: 1px solid silver;*/
/*}*/
/*#container .content-2 .hot-2 #search-hot:hover {*/
/*!*background: rgba(5, 23, 55, 0.45);*!*/
/*background: rgba(3, 8, 16, 0.61);*/
/*}*/
#container .content-2 .hot-2 .post_perfect .post_center-hot .center_3 {
    margin: 10px 0;
    text-align:center;
    border-top: 1px solid slategrey;
    padding-top:5px;
}
#container .content-2 .hot-2 .post_perfect .post_center-hot .center_3 span {
    display: inline-block;
    width: 16%;
    padding: 3px 7px;
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
}
#container .content-2 .hot-2 .post_perfect .post_center-hot .center_3 span:nth-child(2),
#container .content-2 .hot-2 .post_perfect .post_center-hot .center_3 span:nth-child(4) {
    border-left:1px solid slategrey;
    border-right:1px solid slategrey;
}
#container .content-2 .hot-2 .post_perfect .post_center-hot .center_3 span:nth-child(6) {
    border-left:1px solid slategrey;
}
#container .content-2 .hot-2 .post_perfect .post_center-hot .center_3 span:hover {
    color:#eb7350;
}
#container .content-3 .user-2 .userList {
    position: relative;
}
#container .content-3 .user-2 .userList .addFocus {
    position: absolute;
    top:10px;
    right:0;
    display: block;
    padding:7px 10px;
    background: transparent;
    border: 1px solid silver;
    border-radius: 5px;
    cursor: pointer;
}
#container .content-3 .user-2 .userList .addFocus:hover {
    background: rgba(3, 8, 16, 0.61);
}
.datetimepicker td, .datetimepicker th {
    color: black;
}

#container .commentDown {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
}
#container .commentDown input {
    width: 90%;
    color: white;
    display: inline-block;
    padding: 4px 8px;
    background: rgba(8,23,44,0.25);
    border: 1px solid silver;
    border-radius: 5px;
    text-align: center;
}
#container .commentDown span {
    color: white;
    display: inline-block;
    padding: 4px 8px;
    background: rgba(8,23,44,0.25);
    border: 1px solid silver;
    border-radius: 5px;
    cursor: pointer;
}
#container .commentDown span:hover {
    background: rgba(28, 28, 28, 0.96);
}
