@charset "utf-8";
/* 代码整理：懒人之家 www.lanrenzhijia.com */
html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	min-height: 600px;
}
body * {
	font-family: Arial, Geneva, SunSans-Regular, sans-serif;
/*	font-size: 14px;
	color: #333;
	line-height: 22px;*/
}
#wrapper {
/*	background-color: #F4F0EE;*/
/*	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;*/
	width: 100%;
	height: 650px;
	padding-top: 25px;
	padding-left: 200px;
	margin: 15px 0 0 0;
	position: relative;
	left: 0;
	top: 50%;
}
#tabs > div {
	width: 100%;
	height: 650px;
	float: left;
	overflow: hidden;
}
/*#tabs img {
	display: block;
	margin: 0 25px 0 0;
	float: left;
}*/
#tabs h3 {
	font-size: 30px;
	line-height: 20px;
	margin: 60px 0 20px 0;
}
#tabs #blue img {
	margin-top: 30px;
}
#tabs #pink img {
	margin-top: 0;
}
#tabs #white img {
	margin-top: 50px;
}
#pager {
	width: 100%;
/*	margin: 15px auto 25px auto;*/
	text-align: center;
}
#pager a {
	border: 1px solid transparent;
	border-bottom: none;
	border-left: none;
	border-color: #ccc;
	color: #999;
/*	font-size: 20px;*/
	text-decoration: none;
	line-height: 30px;
/*	display: inline-block;*/
	height: 30px;
	padding: 10px 30px;
}
#pager a:hover {
	color: #666;
}
#pager a:first-child {
	border-left: 1px solid #ccc;
}
#pager a.selected {
	background-color: #F4F0EE;
	color: #333;
}
#source {
	text-align: center;
	width: 400px;
	margin: 0 0 0 -200px;
	position: absolute;
	bottom: 10px;
	left: 50%;
}
#source, #source a {
	color: #999;
	font-size: 12px;
}
#donate-spacer {
	height: 100%;
}
#donate {
	border-top: 1px solid #999;
	width: 750px;
	padding: 50px 75px;
	margin: 0 auto;
	overflow: hidden;
}
#donate p, #donate form {
	margin: 0;
	float: left;
}
#donate p {
	width: 650px;
}
#donate form {
	width: 100px;
}
/* 代码整理：懒人之家 www.lanrenzhijia.com */