body { font: 16px/1.8 "Microsoft Yahei",verdana;min-width: 1366px;margin: 0 auto}
/*----------------*/
.bg13 .control,.bg13 .warning,.bg13 .evaluation {
    position: absolute;
    z-index: 50;
    float: left;
    color: #fbfafa;
    font-size:70px;
    text-align: center;
    width: 160px;
    height: 110px;
    line-height: 11px;
    background-color: transparent;
    cursor: pointer;
    /*margin: 46.19px auto 60px;*/
    padding: 20px 0;
    border-left: solid 3px #fbfafa;
    border-right: solid 3px #fbfafa;
    transition: all linear 0.5s;
}
.bg13 .control:hover,.bg13 .warning:hover,.bg13 .evaluation:hover {
    transform: translateY(-20px);
    color: black;
    background-color: black;
}
.bg13 .warning:before, .bg13 .warning:after,
.bg13 .control:before, .bg13 .control:after,
.bg13 .evaluation:before,.bg13 .evaluation:after{
    content: "";
    position: absolute;
    z-index: 1;
    width: 113.14px;
    height: 113.14px;
    background-color: inherit;
    left: 19.4315px;
    transform: scaleY(0.5774) rotate(-45deg);
}

.bg13 .control:before, .bg13 .control:before,
.bg13 .warning:before,.bg13 .warning:before,
.bg13 .evaluation:before, .bg13 .evaluation:before{
    top:-56.5685px;
    border-top: solid 4.2426px #fbfafa;
    border-right: solid 4.2426px #fbfafa;
}
.bg13 .control:after,.bg13 .warning:after,
.bg13 .evaluation:after{
    bottom: -56.5685px;
    border-bottom: solid 4.2426px #fbfafa;
    border-left: solid 4.2426px #fbfafa;
}
/*.bg13 .personal:hover {*/
/*background-color:rgba(43, 44, 48, 0.8);*/
/*}*/
.bg44 {
    margin-left:-50%;
    opacity: 0; transition: all 1s;
}
.active .bg44 { margin: 30px 0 0 150px; opacity: 1; transition-delay:0.7s;}


.bg13 .cover,.bg44 .cover {
    visibility: hidden;
    position: absolute;
    z-index: 100;
    top: -120px;
    left: 30px;
    font-size: 22px;
    text-align: center;
    color: white;
    transition: all 0.5s linear;
}
.bg44 .cover {
    width: 120px;
    top: 20px;
    left: 230px;
}
.bg13 .warning:hover .cover,.bg13 .control:hover .cover,
.bg13 .evaluation:hover .cover{
    visibility: visible;
    top: 20px;
    color: white;
}
.bg13 .cover:hover span,.bg44 .cover:hover span{
    color: #fff;
}
.bg13 .cover em,.bg44 .cover em {
    display: block;
    margin-bottom:20px;
}


/*----------------*/

/* 右侧导航 */

#fullPage-nav { _display: none; font-size: 12px;}

#fullPage-nav li { width: 90px; height: 21px; margin: 10px 0 0; vertical-align: middle;}

#fullPage-nav li a { margin:0 auto;width: 10px; height: 10px;border-radius: 50%; background: #8F9DA4; text-decoration: none; text-align: right; /*background: url('/static/images/images/dot.png') 5px 5px no-repeat;*/}

#fullPage-nav li .active { width: 20px; height: 20px;background:white;}

#fullPage-nav span { display: none;}

.fullPage-tooltip { float: left; top: 0; margin-right: -20px; font: 12px "Microsoft Yahei"; color: #8F9DA4; line-height: 21px;}



.section { position: relative; overflow: hidden;}

.section .bg { position: absolute; left: 0; top: 0; width: 100%; height: 100%;}

.section .bg img { display: block; width: 100%; height: 100%;}



.bg11 { position: absolute; bottom: 0; width: 100%; height: 850px; background: url('/static/images/bg11.png') 50% 0 no-repeat; transition: all 1s;}

.bg12 { position: absolute; bottom: -392px; width: 100%; height: 392px; background: url('/static/images/bg12.png') 50% 0 no-repeat; opacity: 0; transition: all 1.7s; bottom: 90px;}

.bg13 { position: relative; bottom: -377px; width: 100%; height: 100%;/* background: url('/static/images/images/bg13.png') 50% 0 no-repeat;*/ transition: all 1s;}

.hgroup { position: absolute; width: 554px; height: 176px; left: 50%; top: 1%; margin: 0 0 0 -277px; text-indent: -9999px; background-image: url('/static/images/slogan.png'); opacity: 0; -webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s;}

.p11 { position: absolute; left: 50%; top: 30%; width: 600px; margin: 0 0 0 -280px; font-size: 14px; color: #94a7c6; opacity: 1; transition: all 0.5s;}


.bg51, .bg55, .bg54 {position: relative;top:50px;z-index: 1111;display:inline-block;
    margin-top: 120px;padding-top: 180px; width: 208px; color: #fff;}

.section5 h4 { margin-bottom: 12px; font-size: 24px; font-weight: 500;text-align: center;margin-top: 20px}

.section5 p { font-size: 14px;text-align: justify;}

.bg51 { background: url('/static/images/bg51.png') 50% 0 no-repeat; transition: all 1s;}

.bg52 { background: url('/static/images/bg52.png') 50% 0 no-repeat;  transition: all 1s;}

.bg55 {  background: url('/static/images/bg53.png') 50% 0 no-repeat;  transition: all 1s;}

.bg54 {  background: url('/static/images/bg54.png') 50% 0 no-repeat;  transition: all 1s;}


.bg51-top,.bg54-top,.bg55-top {
    position: absolute;
    top:-10px;
    left: -10px;
    display: none;
    cursor: pointer;
    width: 228px;
    height: 387px;
    text-align: center;
    font-size:40px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(26, 26, 26, 0.84);
}
.from-below,
.from-below-to-below .effeckt-modal {
    -webkit-transform: translateX(100%);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
    -webkit-transition: all 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}
.effeckt-show,
.effeckt-show.from-below-to-below .effeckt-modal {
    -webkit-transform: translateX(0);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
.effeckt-show .effeckt-modal {
    visibility: visible;
}


.copyright { position: absolute; left: 0; bottom: 20px; width: 100%; text-align: center; font-size: 0;}

.copyright a, .copyright span { margin: 0 7px; font-size: 12px; color: #a0a0a0;}



/* CSS3过度及动画 */

.active strong, .active h3 { opacity: 1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 0.7s;}

.active .p1 { opacity: 1; transition-delay: 1.7s;}



.active .bg12 { bottom: 90px; opacity: 1; transition-delay: 0.7s; }

.active .bg13 { bottom: 0; opacity: 1; transition-delay: 0.7s;}

.active .hgroup { opacity: 1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 0.7s;}



/* for lt ie 10 */

.ltie10 strong, .ltie10 h3 { opacity: 1; transform:scale(1, 1); transition-delay: 0.7s;}

.ltie10 .p1 { opacity: 1; transition-delay: 1.7s;}



.ltie10 .bg12 { bottom: 90px; opacity: 1; transition-delay: 0.7s; }

.ltie10 .bg13 { bottom: 0; opacity: 1; transition-delay: 0.7s;}

.ltie10 .hgroup { opacity: 1; transform:scale(1, 1); transition-delay: 0.7s;}

.ltie10 .mail { top: 25px; transition-delay: 0.7s;}

.ltie10 .p11 { opacity: 1; transition-duration: 1s; transition-delay: 2s;}



.ltie10 .bg21 { opacity: 1; margin-left: -608px; transition-delay: 0.7s;}

.ltie10 .bg23 { bottom: 15%; transition-delay: 0.7s;}

.ltie10 .bg22 { margin-left: -280px; opacity: 1; transition-delay: 0.7s;}



.ltie10 .p3 { margin-left: -480px; opacity: 1; transition-delay: 0.7s;}

.ltie10 .bg31, .ltie10 .bg32 { opacity: 1; transition-delay: 1s;}

.ltie10 .bg33 { margin-left: -120px; opacity: 1; transition-delay: 0.7s;}


.ltie10 .bg41 { bottom: 15%; transition-delay: 0.7s;}

.ltie10 .bg42 { bottom: 15%; transition-delay: 1.1s;}

.ltie10 .bg43 { bottom: 15%; transition-delay: 0.9s;}



.ltie10 .bg51 { margin-left: -551px; opacity: 1; transition-delay: 0.7s;}

.ltie10 .bg52 { margin-left: -253px; opacity: 1; transition-delay: 0.7s;}

.ltie10 .bg53 { margin-left: 45px; opacity: 1; transition-delay: 0.7s;}

.ltie10 .bg54 { margin-left: 345px; opacity: 1; transition-delay: 0.7s;}



.ltie10 .bg61 { top: 0; transition-delay: 0.7s;}

.ltie10 .bg62 { left: 50%; opacity: 1; transition-delay: 0.7s;}

.ltie10 .txt6 { left: 50%; opacity: 1; transition-delay: 0.7s;}



.ltie10 .bg71 { bottom: 250px; opacity: 1; transition-delay: 0.7s;}

.ltie10 .bg72 { bottom: 350px; opacity: 1; transition-delay: 0.9s;}

.ltie10 .txt7 { bottom: 420px; opacity: 1; transition-delay: 1.1s;}



.ltie10 .bg82 { bottom: 260px; margin-left: -280px; opacity: 1; transition-delay: 0.7s;}

.ltie10 .bg83 { bottom: 380px; margin-left: -430px; opacity: 1; transition-delay: 1s;}

.ltie10 .bg84 { bottom: 420px; margin-left: -510px; opacity: 1; transition-delay: 1.2s;}

.ltie10 .p8 { opacity: 1; transition-delay: 1.7s;}



.ltie10 .bg91 { margin-left: -570px; opacity: 1; transition-delay: 0.7s;}

.ltie10 .bg92 { opacity: 1; transition-delay: 0.8s;}

.ltie10 .bg93 { margin-left: 230px; opacity: 1; transition-delay: 0.7s;}



.ltie10 .bg102, .ltie10 .bg103 { opacity: 1; transform:scale(1, 1); transition-delay: 0.7s;}

.ltie10 .go { top: 25%; opacity: 1; transform:scale(1, 1); transition-delay: 1.2s;}

