body {
    background: url("/static/images/everybody_bg.jpg") no-repeat #0d3b6c;
}
#container {
    width: 1000px;
    height: 100%;
    padding: 20px 20px 40px 150px;
    margin: 0 auto 30px;
    background: rgba(8,23,44,0.8);
    /*background: rgba(8,23,44,0.25);*/
    position: relative;
    top: 80px;
}
#container .leftWindow {
    position: absolute;
    /*top:80px;*/
    left: 10px;
    width: 140px;
}
#container .leftWindow .listname a {
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding: 0 15px;
    height: 34px;
    line-height: 34px;
    width: 145px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#container .leftWindow .listname a.options:hover {
    background: rgba(7,26,55,0.2);
}
#container .rightWindow {
    width: 800px;
    margin-left: 10px;
}
#container .rightWindow h4 {
    margin: 5px 0 20px 0;
    font-size: 16px;
    color: white;
}
/*#container .rightWindow h4 i {*/
/*color: #70c221;*/
/*}*/
#container .rightWindow .news #myTabs a {
    color: white;
    font-size: 12px;
    padding: 5px 11px;
}
#container .rightWindow .oli {
    padding: 20px 20px 0 20px;
    /*background-color: rgba(8,23,44,0.35);*/
    /*margin-bottom: 30px;*/
}
#container .rightWindow .oli #content .hisnews,
#container .rightWindow .oli #content .mys,
#container .rightWindow .oli #content .mycom,
#container .rightWindow .oli #content .favorit {
    margin: 20px 0;
    color: #607d8b;
}
#container .rightWindow .historyCenter .post_perfect .post_center-hot {
    position: relative;
    padding: 10px 10px 10px 30px;
    /*background-color: rgb(12, 39, 80);*/
    /*margin-bottom: 15px;*/
}
#container .rightWindow .historyCenter .post_perfect .post_center-hot .center_3 p {
    border-top: 1px solid #38547b;
    text-align: center;
    padding-bottom: 10px;
}
#container .rightWindow .historyCenter .post_perfect .post_center-hot .center_3 p span {
    display: inline-block;
    width: 30%;
    /*text-align: center;*/
    color: #b0bdd0;
    font-size: 10px;
    cursor: pointer;
    margin-top: 10px;
}
/*#container .rightWindow .historyCenter .post_perfect .post_center-hot .center_3 p span:hover i {*/
    /*color: #eb7350;*/
/*}*/
/*#container .rightWindow .historyCenter .post_perfect .post_center-hot .center_3 p span:hover b {*/
    /*color:#257cde;*/
/*}*/
#container .rightWindow .historyCenter .post_perfect .post_center-hot .center_3 p span.line {
    border-left: 1px solid #38547b;
    border-right: 1px solid #38547b;
}
#container .rightWindow .historyCenter .post_perfect .post_center-hot .center_icon {
    position: absolute;
    top:10px;
    left:3px;
    width: 20px;
    height:20px;
}

#container #content .post_perfect {
    /*position: relative;*/
    padding-left: 10px ;
    /*background: rgba(12, 39, 80, 0.92);*/
    background: #06162d;
    margin-bottom: 10px;
    /*width: 700px;*/
}
#container #content .post_perfect .post_center-hot {
    position: relative;
    padding: 10px 10px 10px 30px;
    /*background-color: rgb(12, 39, 80);*/
    /*margin-bottom: 15px;*/
}
#container #content .post_perfect .center_icon {
    position: absolute;
    top:10px;
    left:3px;
    width: 20px;
    height:20px;
}
#container #content .post_perfect .center_3 {
    margin: 10px 0;
    text-align: center;
    border-top: 1px solid slategrey;
    padding-top: 5px;
}
#container #content .post_perfect .center_3 span {
    display: inline-block;
    width: 16%;
    padding: 3px 7px;
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
}
#container #content .commentCOT .post_perfect .center_3 span {
    width: 48%;
}
#container #content .historyCenter .center_3 span:nth-child(2),
#container #content .myweibo .center_3 span:nth-child(3),
#container #content .likes .center_3 span:nth-child(3) {
    border-left:1px solid slategrey;
    border-right:1px solid slategrey;
}
#container #content .historyCenter .center_3 span:nth-child(4),
#container #content .myweibo .center_3 span:nth-child(5),
#container #content .commentCOT .center_3 span:nth-child(7){
    border-left:1px solid slategrey;
}
#container #content .post_perfect .center_3 span:hover {
    color:#eb7350;
}
#container #content .commentDown {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
}
#container #content .commentDown input {
    width: 90%;
    color: white;
    display: inline-block;
    padding: 4px 8px;
    background: rgba(8,23,44,0.25);
    border: 1px solid silver;
    border-radius: 5px;
    text-align: center;
}
#container #content .commentDown span {
    color: white;
    display: inline-block;
    padding: 4px 8px;
    background: rgba(8,23,44,0.25);
    border: 1px solid silver;
    border-radius: 5px;
    cursor: pointer;
}
#container #content .commentDown span:hover {
    background: #333333;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: rgba(5, 23, 55, 0.61);
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color:rgba(7,26,55,0.2);
}

