/*内容样式*/
body.modal-open {
    overflow-y: auto !important;
    padding-right: 0 !important;
}
.coverbody .option1, .coverbody .option2{
    margin-top:20px;
}
.coverbody .option1 span, .coverbody .option2 span {
    color: #333333;
    font-weight: 800;
    font-size: 18px;
}
.coverbody .option1 .identity, .coverbody .option2 .showType {
    padding: 20px 0 0 32px;
}
.coverbody .option1 .radio-inline, .coverbody .option2 .radio-inline {
    width: 120px;
}
