/*内容样式*/
.coverbody .option1, .coverbody .option2{
    margin-top:20px;
}
.coverbody .option1 span, .coverbody .option2 span {
    color: #333333;
    font-weight: 800;
    font-size: 18px;
}
.coverbody .option1 .identity, .coverbody .option2 .showType {
    padding: 20px 0 0 32px;
}
.coverbody .option1 .radio-inline, .coverbody .option2 .radio-inline {
    width: 120px;
}
/*=====*/
body.modal-open {
    overflow-y: auto !important;
    padding-right: 0 !important;
}
body {
    /*padding: 30px 0 ;*/
    background: url("/static/images/everybody_bg.jpg") no-repeat #0d3b6c;
    /*background-size: 100% 100%;*/
    transform: scale(1);
}
#container {
    width: 1000px;
    height: 100%;
    padding: 20px 20px 20px 150px;
    margin: 0 auto;
    background: rgba(8,23,44,0.25);
    position: relative;
    top: 80px;
}
#container .leftWindow {
    position: absolute;
    top:80px;
    left: 10px;
    width: 140px;
}
#container .leftWindow .listname a {
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding: 0 15px;
    height: 34px;
    line-height: 34px;
    width: 145px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#container .leftWindow .listname a.options:hover {
    background: rgba(7,26,55,0.2);
}
#container .rightWindow {
    width: 800px;
    margin-left: 10px;
}
#container .rightWindow h4 {
    margin: 5px 0 20px 0;
    font-size: 12px;
    color: white;
}
/*#container .rightWindow h4 i {*/
/*color: #70c221;*/
/*}*/
#container .rightWindow .news #myTabs a {
    color: white;
    font-size: 12px;
    padding: 5px 11px;
}
#container .rightWindow .oli {
    padding: 20px;
    background-color: rgba(8,23,44,0.35);
    margin-bottom: 30px;
}
#container .rightWindow .oli #content .hisnews  {
    margin: 20px 0;
    color: #607d8b;
}
#container .rightWindow .historyCenter .post_perfect .post_center-hot {
    position: relative;
    padding: 10px 50px 0 30px;
    background-color: rgb(12, 39, 80);
    margin-bottom: 15px;
}
#container .rightWindow .historyCenter .post_perfect .post_center-hot .center_3 p {
    border-top: 1px solid #38547b;
    text-align: center;
    padding-bottom: 10px;
}
#container .rightWindow .historyCenter .post_perfect .post_center-hot .center_3 p span {
    display: inline-block;
    width: 30%;
    /*text-align: center;*/
    color: #b0bdd0;
    font-size: 10px;
    cursor: pointer;
    margin-top: 10px;
}
#container .rightWindow .historyCenter .post_perfect .post_center-hot .center_3 p span:hover i {
    color: #eb7350;
}
#container .rightWindow .historyCenter .post_perfect .post_center-hot .center_3 p span:hover b {
    color:#257cde;
}
#container .rightWindow .historyCenter .post_perfect .post_center-hot .center_3 p span.line {
    border-left: 1px solid #38547b;
    border-right: 1px solid #38547b;
}
#container .rightWindow .historyCenter .post_perfect .post_center-hot .center_icon {
    position: absolute;
    top:10px;
    left:3px;
    width: 20px;
    height:20px;
}


.nav>li>a:focus, .nav>li>a:hover {
    background-color: rgba(5, 23, 55, 0.45);
    color: #257cde!important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color:rgba(7,26,55,0.2);
}

