/*
* @Author: Marte
* @Date:   2017-10-26 14:26:10
* @Last Modified by:   Marte
* @Last Modified time: 2017-10-26 14:26:59
*/
/*内容样式*/
table.table-condensed {
    color: black;
}
body {
    /*padding: 30px 0 ;*/
    background: url("/static/images/everybody_bg.jpg") no-repeat #0d3b6c;
    /*background-size: 100% 100%;*/
    color: #fff;
}
#container {
    width: 1000px;
    margin: 0 auto 50px;
    height: 100%;
    padding: 25px;
    background: rgba(8,23,44,0.5);
    position: relative;
    top: 80px;
}
#container .title .note_icon {
    display: inline-block;
    font-size: 30px;
    margin-right: 5px;
    color: #003366;
}
#container .title b {
    position: relative;
    top: -4px;
    color: #003366;
    font-weight: 900;
}
#container .post_post {
    position: relative;
}
#container .post_post .post-2 {
    /*margin: 15px 0 15px 25px;*/
    padding: 5px;
}
#container .post_post .post-2 .titTime {
    padding: 10px;
    text-align: center;
    width: 100%;
}
#container .post_post .post-2 input,
#container .post_post .post-2 .timeSure,
#container .post_post .post-2 #search-post{
    padding: 3px 7px;
    text-align: center;
    background: transparent;
    color: white;
    font-size: 12px;
    border: 1px solid silver;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}
#container .post_post .post-2 .titTime input {
    width: 42%;
}
#container .post_post .post-2 .titTime .timeSure {
    display: inline-block;
    /*margin-left: 10px;*/
}
/*#container .post_post .post-2 .titTime .timeSure:hover {*/
    /*background: rgba(5, 23, 55, 0.45);*/
/*}*/
#container .post_post .post-2 input{
    color: white;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 4px 7px;
    background:rgba(8,23,44,0.35);
}
/*#container .post_post .post-2 #search-post {*/
    /*background: transparent;*/
    /*border: 1px solid silver;*/
/*}*/
#container .post_post .post-2 .titTime .timeSure:hover,
#container .post_post .post-2 #search-post:hover {
    /*background: rgba(5, 23, 55, 0.45);*/
    background: rgba(3, 8, 16, 0.61);
}

#container .post-3 {
    /*padding: 0 20px;*/
    /*border: 1px solid silver;*/
    /*border-radius: 5px;*/
    /*margin-top:10px;*/
}
#container .post-3 .text_information .fanye input {
    background: transparent;
    border: 1px solid silver;
}
#container .post-3 .text_information .fanye input:hover {
    background: rgba(3, 8, 16, 0.61);
}
#container .post-3 .everySpeak .speak_center {
    /*position: relative;*/
    padding: 10px;
    /*background:rgba(8,23,44,0.35);*/
}
#container .post-3 .everySpeak .speak_center .center_icon {
    position: absolute;
    top: 10px;
    left: 3px;
    width: 20px;
    height: 20px;
}
#container .everySpeak .speak_center .center_rel {
    position: relative;
    padding:10px 30px;
    /*background: rgba(16, 33, 51, 0.42);*/
}
#container .everySpeak .speak_center .center_1 {
    font-size: 16px;
    display: inline-block;
}
#container .dialogue .dialogue-1 #post-2-content {
    width: 100%;
    background: rgba(8,23,44,0.25);
    color: white;
    resize: none;
    text-align: left;
    border: 1px solid silver;
    margin: 10px 0 0 0;
    padding: 5px 10px;
}
#container .dialogue .dialogue-1 .add_thing {
    padding:10px 0;
}
#container .dialogue .dialogue-1 .add_thing div {
    display:inline-block;
    margin-right: 10px;
    cursor: pointer;
}
#container .dialogue .dialogue-1 .add_thing div img {
    width: 20px;
    height: 20px;
}
#container .dialogue .dialogue-1 .add_thing div span {
    font-size: 12px;
    color: #fff;
}
#container .dialogue .dialogue-1 .add_thing div:hover span,
#container .dialogue .dialogue-1 .add_thing div.friends:hover button{
    color: #eb7350;
}
#container #user_recommend {
    // 10-26 修改LL
    // position: absolute;
    float:right;
    top:0;
    right:0;
    color: #b0bdd0;
    padding: 5px;
    width: 200px;
    /*border-radius: 10px;*/
    /*border: 1px solid rgba(121, 121, 121, 1);*/
    /*border: 1px solid white;*/
    background: rgba(8,23,44,0.35);
}
#container #user_recommend li {
    list-style-type:disc;
    list-style-position: inside;
}
#container #user_recommend li a {
    display: inline-block;
    width: 110px;
    color: #b0bdd0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    top: 4px;
}
#user_recommend .user_example_list .more:hover {
    background: rgba(5, 23, 55, 0.45);
}
#container .historyNews .fixed-table-body {
    text-align: center;
}