/*清除默认样式*/
html,body,div,img,h1,h2,h3,h4,h5,h6,input,button,span,p,b,strong,em,li,ul,ol,dl,dt,dd,
th,tr,td,textarea,select,table,form {
    margin: 0;
    padding: 0;
    font-family: '微软雅黑';
}
ul,li,ol {
    list-style: none;
}
img {
    border:none;
}
input,select,textarea,button {
    outline: none;
    border: none;
}
a,a:link,a:hover,a:visited,a:active {
    text-decoration: none;
}
/*内容样式*/
body.modal-open {
    overflow-y: auto !important;
    padding-right: 0 !important;
}
body {transform: scale(1);}
#nav {
    position: fixed;
    z-index: 99999999;
    width: 100%;
    /*height: 70px;*/
    text-align: center;
    background-color: white;
    /*padding: 10px 30px;*/
    box-shadow: 0 2px 5px rgba(41,46,51,0.15);
}
#nav .nav_top {
    /*width: 50%;*/
    padding: 20px 0 10px 60px;
    /*text-align: center;*/
    color: black;
    display: inline-block;
    background: url("/static/images/ID.png") no-repeat left center;
    background-size:50px 50px ;
}
#nav .nav_top h3 {
    margin-left: 6px;
    font-size: 27px;
    margin-top: -5px;
}
#nav .nav_bottom {
    display: inline-block;
}
#nav .nav_bottom .list {
    display: inline-block;
    position: relative;
    top: 10px;
    left: 20px;
}
#nav .nav_bottom .loadingUser {
    display: inline-block;
    left: 30px;
    top: 1px;
}
#nav .nav_bottom .loadingUser:hover button,
#nav .nav_bottom .loadingUser:hover button span {
    color:#fa7d3c;
}
#nav .nav_bottom .loadingUser a.nav_name {
    color:#333;
}
#nav .nav_bottom .loadingUser:hover a.nav_name {
    color:#fa7d3c;
}
#nav .nav_bottom .list .main_li {
    float: left;
    margin-left: 10px;
    overflow: hidden;
    cursor: pointer;
}
#nav .nav_bottom .list .main_li:hover {
    color: #fa7d3c;
}
#nav .nav_bottom .list .main_li i {
    display: inline-block;
    width: 20px;
    height: 20px;
    color: black;
}
#nav .nav_bottom .list .main_li .li_a {
    display: inline-block;
    font-size: 14px;
    color: #333;
}
#nav .nav_bottom .list .main_li:hover a,
#nav .nav_bottom .list .main_li:hover i {
    color: #fa7d3c;
}
#nav .username {
    position: absolute;
    right: 100px;
    top: 110px;
}
#nav .username b {
    display: inline-block;
    font-size: 14px;
    color: #003366;
    margin-right: 5px;
}
#nav .username #navWQ #weibo_QQ_nav {
    padding: 2px 3px;
    border: 1px solid #424547;
    border-radius: 5px;
}
#nav .username .sign_out {
    display: inline-block;
    padding: 2px 10px;
    color: white;
    background-color: #1ab5e2;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #838383;
    cursor: pointer;
}
#nav .username .sign_out:hover {
    background-color: #176de2;
}

