/*清除默认样式*/
html,body,div,img,h1,h2,h3,h4,h5,h6,input,button,span,p,b,strong,em,li,ul,ol,dl,dt,dd,
th,tr,td,textarea,select,table,form {
    margin: 0;
    padding: 0;
    font-family: '微软雅黑';
}
ul,li,ol {
    list-style: none;
}
img {
    border:none;
}
input,select,textarea,button {
    outline: none;
    border: none;
}
a,a:link,a:hover,a:visited,a:active {
    text-decoration: none;
}
/*内容样式*/
#nav {
    position: fixed;
    z-index: 99999999;
    width: 100%;
    /*height: 70px;*/
    text-align: center;
    background-color: white;
    /*padding: 10px 30px;*/
    box-shadow: 0 2px 5px rgba(41,46,51,0.15);
}
#nav .nav_top {
    /*width: 50%;*/
    padding: 20px 0 10px 60px;
    /*text-align: center;*/
    color: black;
    display: inline-block;
    background: url("/static/images/ID.png") no-repeat left center;
    background-size:50px 50px ;
}
#nav .nav_top h3 {
    margin-left: 6px;
    font-size: 27px;
    margin-top: -5px;
}
#nav .nav_bottom {
    display: inline-block;
}
#nav .nav_bottom .list {
    display: inline-block;
    position: relative;
    top: 10px;
    left: 20px;
}
#nav .nav_bottom .loadingUser {
    display: inline-block;
    left: 30px;
    top: 1px;
}
#nav .coordinate {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 20px;
    color:#1296db;
}
#nav .nav_bottom .loadingUser .xnrShowHide a,
#nav .nav_bottom .loadingUser a#login_user {
    color:#333;
}
#nav .nav_bottom .loadingUser:hover button #login_user{
    color:#fa7d3c;
}
#nav .nav_bottom .list .main_li {
    float: left;
    margin-left: 10px;
    overflow: hidden;
    cursor: pointer;
}
#nav .nav_bottom .list .main_li:hover {
    color: #fa7d3c;
}
#nav .nav_bottom .list .main_li i {
    display: inline-block;
    width: 20px;
    height: 20px;
    color: black;
}
#nav .nav_bottom .list .main_li .li_a {
    display: inline-block;
    font-size: 14px;
    color: #333;
}
#nav .nav_bottom .list .main_li:hover a,
#nav .nav_bottom .list .main_li:hover i {
    color: #fa7d3c;
}
#nav .username {
    position: absolute;
    right: 100px;
    top: 110px;
}
#nav .username b {
    display: inline-block;
    font-size: 14px;
    color: #003366;
    margin-right: 5px;
}
#nav .username #navWQ #weibo_QQ_nav {
    padding: 2px 3px;
    border: 1px solid #424547;
    border-radius: 5px;
}
#nav .username .sign_out {
    display: inline-block;
    padding: 2px 10px;
    color: white;
    background-color: #1ab5e2;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #838383;
    cursor: pointer;
}
#nav .username .sign_out:hover {
    background-color: #176de2;
}

/*模态框*/
.modal-open .modal {
    overflow-x: hidden;
    /*overflow-y: hidden;*/
}
.modal.in .modal-dialog {
    margin: 100px auto 0;
}
body.modal-open {
    /*overflow-y: auto !important;*/
    padding-right: 0 !important;
}
.modal {
    background: rgba(0, 0, 0, 0.35);
    z-index: 9999999999999999999999999;
}
.modal-header {
    background: #09344e!important;
    color: white!important;
}
.modal-body,.modal-footer {
    background: #041b29!important;
    color: white!important;
}
.table-hover>tbody>tr:hover {
    background-color: #2a556f!important;
}
.modal-header .close {
    color:white!important;
    opacity: 1!important;
}
.modal-footer .btn {
    background-color: transparent;
    border-color: silver;
    color: white;
}
.modal-footer .btn:hover {
    background-color: rgba(3, 8, 16, 0.61);
    color: white;
}

/*表格中的样式*/
.fixed-table-toolbar .search {width: 80%;}
.form-control {
    text-align: center;
    font-size: 14px;
    color: white;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 4px 7px;
    background: rgba(8,23,44,0.35);
}
.fixed-table-container thead th .sortable {
    padding-right: 12px;
}
.table:not(.table-condensed)>tbody>tr>td,
.fixed-table-container thead th .both,
.fixed-table-pagination .pagination-info{
    color: white;
}
.table-hover>tbody>tr:hover {
    background-color: #2a556f!important;
}
.fixed-table-container thead th .th-inner {
    overflow: auto;
    text-overflow: inherit;
    white-space: normal;
}
.bootstrap-table .table>thead>tr>th {
    width:10%;
}
.pagination>li>a {
    background:rgba(8,23,44,0.35);
    color: white;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover,
.pagination>li>a:focus, .pagination>li>a:hover,.fixed-table-pagination li.disabled a {
    background:#31708f;
    border-color: silver;
}
.fixed-table-pagination li.disabled a {
    color: white;
}
.pagination>li>a:focus, .pagination>li>a:hover {
    color: white;
}
