/*内容样式*/
.nav>li>a:focus, .nav>li>a:hover {
    background-color: rgba(5, 23, 55, 0.45);
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color:rgba(7,26,55,0.2);
}
body {
    /*padding: 30px 0 ;*/
    background: url("/static/images/everybody_bg.jpg") no-repeat #0d3b6c;
    /*background-size: 100% 100%;*/
    color: #fff;
}
#container {
    width: 1000px;
    margin: 0 auto 50px;
    height: 100%;
    padding: 25px;
    background: rgba(8,23,44,0.5);
    position: relative;
    top: 80px;
}
#container .title .note_icon {
    display: inline-block;
    font-size: 30px;
    margin-right: 5px;
    color: #003366;
}
#container .title .tit-1 b {
    position: relative;
    top: -4px;
    color: #003366;
    font-weight: 900;
}
#container .title .tit-2 span, #container .title .tit-2 b {
    font-size: 18px;
    font-weight: 900;
}
#container .type_page .safe #postContent #pc-1,
#container .type_page .safe #postContent #pc-2 {
    display: inline-block;
    width: 400px;
    height: 300px;
    margin: 30px 0 0;
}
#container .type_page .safe #postContent-2 .pc-4 {
    overflow: hidden;
}
#container .type_page .safe #postContent-2 .pc-4 .center-1,
#container .type_page .safe #postContent-2 .pc-4 .center-3 {
    width: 220px;
    height: auto;
    min-height: 390px;
    padding: 15px 5px 5px 30px;
    background: #0c2542;
    float: left;
}
#container .type_page .safe #postContent-2 .pc-4 .center-2 {
    width: 680px;
    height: auto;
    margin-left: 20px;
    float: left;
}
/*#container #pocstContent-2 .pc-4 #search,*/
/*#container #attention-2 .atte-4 #search2{*/
    /*text-align: center;*/
    /*width:100%;*/
    /*margin: 20px auto;*/
    /*color: white;*/
    /*border: 1px solid silver;*/
    /*border-radius: 5px;*/
    /*padding: 3px 7px;*/
    /*background: rgba(8,23,44,0.35);*/
/*}*/
#container .post_center-every {
    position: relative;
    padding: 10px 10px 10px 40px;
    background: rgba(8,23,44,0.35);
    margin-bottom: 10px;
    width: 680px;
}
#container .post_center-every .center_icon {
    position: absolute;
    top:10px;
    left:10px;
    width: 20px;
    height:20px;
}
#container .post_center-every .center_3 {
    margin: 10px 0;
    text-align: center;
    border-top: 1px solid slategrey;
    padding-top: 5px;
}
#container .post_center-every .center_3 span {
    display: inline-block;
    width: 30%;
    padding: 3px 7px;
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
}
#container .post_center-every .center_3 span:nth-child(2) {
    border-left:1px solid slategrey;
    border-right:1px solid slategrey;
}
#container .post_center-every .center_3 span:hover {
    color:#eb7350;
}
#container .post_center-every .commentDown {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
}
#container .post_center-every .commentDown input {
    width: 90%;
    color: white;
    display: inline-block;
    padding: 4px 8px;
    background: rgba(8,23,44,0.25);
    border: 1px solid silver;
    border-radius: 5px;
    text-align: center;
}
#container .post_center-every .commentDown span {
    color: white;
    display: inline-block;
    padding: 4px 8px;
    background: rgba(8,23,44,0.25);
    border: 1px solid silver;
    border-radius: 5px;
    cursor: pointer;
}
#container .post_center-every .commentDown span:hover {
    background: #333333;
}

