/*内容样式*/
body {
    /*padding: 30px 0 ;*/
    background: url("/static/images/everybody_bg.jpg") no-repeat #0d3b6c;
    /*background-size: 100% 100%;*/
}
#container {
    width: 1000px;
    margin: 0 auto 50px;
    height: 100%;
    padding: 25px;
    background: rgba(8,23,44,0.5);
    position: relative;
    top: 80px;
}
#container .title {
    width: 100%;
    position: relative;
}
#container .title .tit-1 b {
    display: inline-block;
    position: relative;
    top: -3px;
    margin-left: 15px;
    font-size: 18px;
    color: white;
    font-weight: 900;
}
#container .title .account_icon {
    display: inline-block;
    font-size: 30px;
    margin-right: 5px;
    color: #fff;
}
#container .options {
    width: 90%;
    margin: 20px auto;
}
#container .options .op-2-down,#container .options .op-4-down {
    display: inline-block;
}
#container .options #opt-1-2,#container .options #opt-2-2,#container .options #opt-2-4,
#container .options #opt-3-2,#container .options #opt-4-2,#container .options #opt-4-4 {
    width: 800px;
    height: 300px;
    margin: 20px auto;
}
#container .options #opt-2-2,#container .options #opt-2-4,
#container .options #opt-4-2,#container .options #opt-4-4 {
    width: 400px;
}
#container .options .opt-1-1 .addthe,
#container .options .opt-2-1 .addDay{
    display: inline-block;
    padding: 4px 7px;
    background: transparent;
    border: 1px solid silver;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
#container .options .opt-1-1 .addthe:hover,
#container .options .opt-2-1 .addDay:hover {
    background:rgba(5, 23, 55, 0.45);
}
#themetype .the{
    display: inline-block;
    padding: 4px 7px;
    background: transparent;
    border: 1px solid silver;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
#themetype .the{
    text-align: center;
    width: 300px;
    margin-top: 20px;
    transition: all linear 0.3s;
}
#themetype .the:focus {
    background: white;
    color: black;
}

#container .post_perfect {
    width: 850px;
    position: relative;
    margin: 10px auto;
    text-align: left;
    padding: 10px 10px 10px 40px;
    background-color: rgba(24, 59, 99, 0.78);
}
#container .post_perfect .center_icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
}
#container .post_perfect .center_3 {
    margin: 10px 0;
    text-align: center;
    border-top: 1px solid slategrey;
    padding-top: 5px;
}
#container .post_perfect .center_3 span {
    display: inline-block;
    width: 30%;
    padding: 3px 7px;
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
}
#container .post_perfect .center_3 span:nth-child(2) {
    border-left:1px solid slategrey;
    border-right:1px solid slategrey;
}