body {
    /*padding: 30px 0 ;*/
    background: url("/static/images/everybody_bg.jpg") no-repeat #0d3b6c;
    /*background-size: 100% 100%;*/
    color: #fff;
}
#container {
    width: 1000px;
    margin: 0 auto 50px;
    height: 100%;
    padding: 25px;
    background: rgba(8,23,44,0.5);
    position: relative;
    top: 80px;
}
#container .title .note_icon {
    display: inline-block;
    font-size: 30px;
    margin-right: 5px;
    color: #003366;
}
#container .title b {
    position: relative;
    top: -4px;
    color: #003366;
    font-weight: 900;
}
#container .timeRemind .center_1 {
    color:#e9f2ff;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
}
/*#container .remind .post_center {*/
    /*position: relative;*/
    /*padding: 10px 10px 10px 30px;*/
    /*background:rgba(16, 33, 51, 0.42);*/
    /*margin-bottom: 5px;*/
    /*text-align: left;*/
/*}*/
/*#container .remind .post_center .center_icon {*/
    /*position: absolute;*/
    /*top: 10px;*/
    /*left:8px;*/
    /*width: 20px;*/
    /*height: 20px;*/
/*}*/
#container .post_perfect .center_icon {
    position: absolute;
    top:10px;
    left:3px;
    width: 20px;
    height:20px;
}
#container .post_perfect {
    position: relative;
    padding: 10px 10px 10px 30px;
    background: rgba(8,23,44,0.35);
    margin-bottom: 10px;
}
#container .post_perfect .time {
    display: inline-block;
    margin-left: 15px;
}
#container .post_perfect .center_2 {
    margin: 10px 0;
}
#container .post_perfect .post_short {
    margin: 15px 0;
}
#container .post_perfect .post_short span {
    display: inline-block;
    margin-right:20px;
}


#container .everySpeak .speak_center {
    position: relative;
    /*padding: 10px;*/
    /*background:rgba(8,23,44,0.35);*/
}
#container .everySpeak .speak_center .center_icon {
    /*position: absolute;*/
    /*top: 10px;*/
    /*left: 3px;*/
    width: 20px;
    height: 20px;
}
#container .everySpeak .speak_center .center_rel {
    position: relative;
    padding:10px 20px;
    background: rgba(16, 33, 51, 0.42);
}
#container .everySpeak .speak_center .center_1 {
    color: #00bcd4;
    font-size: 14px;
    display: inline-block;
}
#container .everySpeak .speak_center .center_3 {
    margin: 10px 0;
    text-align:center;
    border-top: 1px solid slategrey;
    padding-top:5px;
}
#container .everySpeak .speak_center .center_3 span {
    display: inline-block;
    width: 23%;
    padding: 3px 7px;
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
}
#container .everySpeak .speak_center .center_3 span:nth-child(2) {
    border-left:1px solid slategrey;
    border-right:1px solid slategrey;
}
#container .everySpeak .speak_center .center_3 span:nth-child(4) {
border-left:1px solid slategrey;
}
#container .everySpeak .speak_center .center_3 span:hover {
    color:#eb7350;
}

#container .commentDown {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
}
#container .commentDown input {
    width: 90%;
    color: white;
    display: inline-block;
    padding: 4px 8px;
    background: rgba(8,23,44,0.25);
    border: 1px solid silver;
    border-radius: 5px;
    text-align: center;
}
#container .commentDown span {
    color: white;
    display: inline-block;
    padding: 4px 8px;
    background: rgba(8,23,44,0.25);
    border: 1px solid silver;
    border-radius: 5px;
    cursor: pointer;
}
#container .commentDown span:hover {
    background: #333333;
}