<link href="/static/personal/css/basic.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src='/static/js/esl.js'></script>
<link href="/static/css/dashboard.css" rel="stylesheet">        
<link href='/static/bower_components/fullcalendar/css_js/fullcalendar.css' rel='stylesheet'>
<link href='/static/bower_components/fullcalendar/css_js/fullcalendar.print.css' rel='stylesheet' media='print'>
<link  type="text/css" href="/static/personal/css/style.css" rel="stylesheet"/>
<link  type="text/css" href="/static/personal/css/basic.css" rel="stylesheet"/>
<style>
.weibo_list_height {
    max-height: 670px;
}
.scrolls {
    overflow: hidden;
}
.tang-scrollpanel {
    overflow: hidden;
}
.tang-scrollpanel .tang-scrollpanel-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%!important;
}
.tang-scrollpanel .tang-scrollpanel-content {
 /*   position: absolute;*/
    left: 0;
    top: 0;
    width: 100%!important;
}
.tang-scrollpanel .tang-slider {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0;
}
.tang-scrollpanel .tang-slider-vtl {
    height: 100%;
}

.weibo_detail {
    margin-left: 65px;
    margin-top: 5px;
    margin:0;
    width: 100%;
    padding: 0 10px;
}

.weibo_info {
    /*margin-top: 7px;*/
    color: #666;
    margin:0;
}
.weibo_info .weibo_pz {
    float: right;
    color: #858585;
    height: 18px;
    line-height: 18px;
}
.weibo_info .m a {
    color: #666;
}

.title{
  font-size: 20px;
  color: #3F3F3F;
  border-bottom: 1px solid #E2E2E6;
  padding-left: 10px;
  font-family: "Microsoft YaHei UI";
}
#re_user_content_all{
height:500px;
overflow-y:scroll;
width:100%;
margin-top:0px;
}
#re_user_content{
height:500px;
overflow-y:scroll;
width:100%;
margin-top:0px;
}
#cmt_user_content_all{
height:500px;
overflow-y:scroll;
width:100%;
margin-top:0px;
}
#cmt_user_content{
height:500px;
overflow-y:scroll;
width:100%;
margin-top:0px;
}
.user_title{
  margin-left: 105px;
  margin-right: 131px;
  margin-bottom: -10px;
  font-size: 16px;
}
</style>


    <div class="modal fade" id="basic_info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="position: absolute;margin-top: 100px;margin-left: 300px;float :none;width: 670px;">
          <div class="modal-header" style="float:inherit;margin:initial;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">计算说明</h4>
          </div>
          <div class="modal-body" style="float:none;">
            <table style="font-size:16px">
              <tr><td>本页面中信息更新频率说明如下：</td></tr>
              <tr><td>1）昨日影响力：日更新。</td></tr>
              <tr><td>2）影响力走势图：日更新。</td></tr>
            </table>
          </div>
        </div>
      </div>
    </div>

<!--<h3  style="float:left;">影响力特征</h3>-->
<div style="float:right;cursor: pointer" type="button" data-toggle="modal" data-target="#basic_info"><u>计算说明</u></div>

<div id="framecontent" style="width:850px;">
    <div class ="framepost" style="    height: 470px;">
        <h3 class="title">昨日影响力 (No.<span id="influence_index" style='color:red;'></span>/<span id='influence_total'></span>)</h3>
        <div  class="entry" >
          <div id = "influence_table" style="width:100%;margin-bottom:-15px;"></div>
            <div style = 'font-size:16px' id = "all_influenced_users_style0"></div>
            <div style = 'font-size:16px'id = "all_influenced_users_style1"></div>
            <div class="box-content" style="padding:0;margin:0;">
                <ul class="nav nav-tabs" id="myTab" style="margin:10px 0;margin-bottom: 0px;">
                    <li class="active" title="领域"><a href="#rewteet_origin" style="font-size:15px">被转发的原创微博</a></li>
                    <li title="话题"><a href="#comment_origin" style="font-size:15px">被评论的原创微博</a></li>
                    <li title="领域"><a href="#retweet_retweet" style="font-size:15px">被转发的转发微博</a></li>
                    <li title="话题"><a href="#comment_retweet" style="font-size:15px">被评论的转发微博</a></li>
                </ul>
                <div id="myTabContent" class="tab-content" style="width:810px;height:210px;overflow-y: auto; margin:0;background-color:whitesmoke;">
                    <div class="tab-pane active" id="rewteet_origin" style="margin-top:10px;margin-bottom:0;">
                      <div class="row category margin-bottom-20" id='influence_weibo1' style="margin:0;"></div>
                    </div>
                    <div class="tab-pane" id="comment_origin" style="margin-top:10px;margin-bottom:0;">
                      <div class="row category margin-bottom-20" id='influence_weibo2' style="margin:0;"></div>
                    </div>
                    <div class="tab-pane" id="retweet_retweet" style="margin-top:10px;margin-bottom:0;">
                   <div class="row category margin-bottom-20" id='influence_weibo3' style="margin:0;"></div>
                </div>
                <div class="tab-pane" id="comment_retweet" style="margin-top:10px;margin-bottom:0;">
                  <div class="row category margin-bottom-20" id='influence_weibo4' style="margin:0;"></div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>


<div id="framecontent" style="width:850px;">
    <div class ="framepost" style="height:300px;">
        <h3 class="title">影响力走势图</h3>
        <div  class="entry"  >
          <div style="font-size:16px;z-index:100;float:left;background-color:white;">
           <input name="choose_module" type="radio" checked value=1>近7天
           <input style="margin-left:20px;" name="choose_module" type="radio" value=2>近30天
          </div>
          <div id="influence_chart" style="float:left;height:230px;width:730px;margin-top:10px;margin-right:10px;"></div>
        </div>
    </div>
</div>


    <div class="modal fade" id="re_influence" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document" style="width:850px;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">转发用户情况</h4>
          </div>
          <div class="modal-body">
            <div id="re_user_content" style="padding:0 10px;">
              <div id="re_user_in" style="padding:0 10px;align:left;"></div>
              <div id="re_three_pie">
               <h4 id="re_conclusion" style="margin-left:10px;"></h4><br>
               <p style="margin-bottom: -35px;font-size: 16px;">
                <span class = "user_title">领域分布</span>
                <span class = "user_title">话题分布</span>
                <span class = "user_title">地域分布</span>
                </p>
               <div id="re_user_domain" style="width:270px;height:250px; margin:5px;float:left;"></div>
                <div id="re_user_topic" style="width:310px;height:250px;float:left; margin:5px;border-left:1px #DDD solid;border-right:1px #DDD solid;"></div>
                <div id="re_user_geo" style="width:305px;height:250px; margin:5px;float:left;"></div>
              </div>
              <div id="re_user_out" style="margin-top:-25px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="cmt_influence" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document" style="width:850px;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">评论用户情况</h4>
          </div>
          <div class="modal-body">
            <div id="cmt_user_content" style="padding:0 10px;">
              <div id="cmt_user_in" style="padding:0 10px;align:left;"></div>
              <div id="cmt_three_pie">
                <h4 id="cmt_conclusion" style="margin-left:10px;"></h4><br>
                <p style="margin-bottom: -35px;font-size: 16px;">
                  <span class = "user_title">领域分布</span>
                  <span class = "user_title">话题分布</span>
                  <span class = "user_title">地域分布</span>
                </p>
                <div id="cmt_user_domain" style="width:270px;height:250px; margin:5px;float:left;"></div>
                <div id="cmt_user_topic" style="width:310px;height:250px; margin:5px;float:left;border-left:1px #DDD solid;border-right:1px #DDD solid;"></div>
                <div id="cmt_user_geo" style="width:305px;height:250px; margin:5px;float:left;"></div>
                <hr style="margin-top:-10px;">
              </div>  
              <div id="cmt_user_out" style="margin-top:-25px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- <div id="float-wrap" class="hidden"></div> -->


    <div class="modal fade" id="retweet_distribution_content" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document" style="width:850px;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">转发用户情况</h4>
          </div>
          <div class="modal-body">
            <div id="re_user_content_all" style="padding:0 10px;">
              <h4 id="all_re_conclusion" style="margin-left:10px;"></h4>
              <div id="re_user_in_all" style="padding:0 10px;align:left;"></div>
              <div id="re_three_pie_all">
                
                <p style="margin-bottom: -35px;font-size: 16px;">
                  <span class = "user_title">领域分布</span>
                  <span class = "user_title">话题分布</span>
                  <span class = "user_title">地域分布</span>
                </p>    
                <div id="re_user_domain_all" style="width:270px;height:250px; margin:5px;float:left;"></div>
                <div id="re_user_topic_all" style="width:310px;height:250px; margin:5px;float:left;border-left:1px #DDD solid;border-right:1px #DDD solid;"></div>
                <div id="re_user_geo_all" style="width:305px;height:250px; margin:5px;float:left;"></div>
                <hr style="margin-top:-10px;">
              </div>  
              <div id="re_user_out_all" style="margin-top:-25px;float:left;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="comment_distribution_content" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document" style="width:850px;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">评论用户情况</h4>
          </div>
          <div class="modal-body">
            <div id="cmt_user_content_all" style="padding:0 10px;">
              <h4 id="all_cmt_conclusion"  style="margin-left:10px;"></h4>
              <div id="cmt_user_in_all" style="padding:0 10px;float:left;"></div>
              <div id="cmt_three_pie_all">
                <p style="margin-bottom: -35px;font-size: 16px;">
                  <span class = "user_title">领域分布</span>
                  <span class = "user_title">话题分布</span>
                  <span class = "user_title">地域分布</span>
                </p>
                <div id="cmt_user_domain_all" style="width:270px;height:250px;float:left; margin:5px;"></div>
                <div id="cmt_user_topic_all" style="width:310px;height:250px;float:left; margin:5px;border-left:1px #DDD solid;border-right:1px #DDD solid;"></div>
                <div id="cmt_user_geo_all" style="width:305px;height:250px;float:left; margin:5px;"></div>
              </div>
            <div id="cmt_user_out_all" style="float:left;margin-top:-25px;"></div>
          </div>
          </div>
        </div>
      </div>
    </div>


<script> 
  $(function () { 
    $('#myTab a:first').tab('show');//初始化显示哪个tab 
  
    $('#myTab a').click(function (e) { 
      e.preventDefault();//阻止a链接的跳转行为 
      $(this).tab('show');//显示当前选中的链接及关联的content 
    }) 
  }) 
</script>
             
<script src="/static/js/portrait/influence.js"></script>



