<script type="text/javascript" src='/static/js/esl.js'></script>


<div class="modal fade" id="social_info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="position: absolute;margin-top: 100px;margin-left: 350px;float :none;width: 670px;">
      <div class="modal-header" style="float:inherit;margin:initial;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">计算说明</h4>
      </div>
      <div class="modal-body" style="float:none;">
        <table style="font-size:16px">
          <tr><td>本页面所有信息都是周更新。</td></tr>
        </table>
      </div>
    </div>
  </div>
</div>

<!--<h3  style="float:left;">社交特征</h3>-->
<div style="float:right;cursor: pointer" type="button" data-toggle="modal" data-target="#social_info"><u>计算说明</u></div>

<div style="width:100%;margin: 0px;margin-top: 10px;float:right;">
  <div style="width: 55%;/* padding-left:50px; */float: left;">
    <input type="radio" name="graph-type" value="1" title="转发" style="width:15px;height:15px;" checked >转发
    <input type="radio" name="graph-type" value="2" title="被转发" style="width:15px;height:15px;margin-left:20px;">被转发
    <input type="radio" name="graph-type" value="3" title="提及" style="width:15px;height:15px;margin-left:20px;">提及
    <input type="radio" name="graph-type" value="4" title="评论" style="width:15px;height:15px;margin-left:20px;">评论
    <input type="radio" name="graph-type" value="5" title="被评论" style="width:15px;height:15px;margin-left:20px;">被评论
    <input type="radio" name="graph-type" value="6" title="互动" style="width:15px;height:15px;margin-left:20px;">互动
  </div>
  <div style="width: 45%;float: left;">
    <div style="margin-top:3px;margin-left:20px;width: 70px;float: left;">显示人数&nbsp&nbsp</div>
    <div style="margin-top:0px;/* margin-left:20px; */width: 120px;float: left;" ><input  type="range" id="num-range" min="20" max="50" step="10" value="20">20&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;30&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;40&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;50</div>
    <button class="portrait_button" style="width:80px;height:30px;float:right;margin-top:0px;" id="graph_button" title="确定选择">确定</button>
  </div>
</div>


<div id="framecontent" style="width:500px;float:left">
    <div class ="framepost" style="height:625px;">
        <h3 class="title">转发情况</h3>
        <div  class="entry"  >
          <div id="test1" style="height:600px;width:490px;"></div>
        </div>
    </div>
</div>

<div id="framecontent" style="width:330px;float:left;margin-left:20px;">
    <div class ="framepost" style="height:300px;">
        <h3 class="title">领域(仅入库用户)</h3>
        <div  class="entry"  >
          <span type="button"data-toggle="modal" data-target="#field_more"  style='font-weight:normal;font-size:16px;margin-left:220px;cursor: pointer'><u>查看更多</u></span>
          <div id="field" style="height:300px;width:285px;"></div>
        </div>
    </div>
</div>

<div id="framecontent" style="width:330px;float:left;margin-left:20px;">
    <div class ="framepost" style="height:300px;">
        <h3 class="title">话题(仅入库用户)</h3>
        <div  class="entry"  >
          <span type="button"data-toggle="modal" data-target="#topic_more0"  style='font-weight:normal;font-size:16px;margin-left:220px;cursor: pointer'><u>查看更多</u></span>
          <div id="topic" style="height:300px;width:285px;"></div>
        </div>
    </div>
</div>

<div id="framecontent" style="width:49%;float:left;">
    <div class ="framepost" style="height:400px;">
        <h3 class="title">未入库用户信息</h3>
        <div  class="entry"  >
          <div id="out_list" style="width:100%;margin-top:0px;overflow-y:auto;height:300px;"></div>
            <div style="margin-top:5px;float:right;">
              <!--
              <input type="radio" name="compute-type" value="2" style="width:15px;height:15px;margin-left:30px;" checked >预约计算
              <input type="radio" name="compute-type" value="1"  style="width:15px;height:15px;margin-left:30px;">立即计算
              -->
                <button class="portrait_button" style="margin-left:10px;width:80px;height:40px;" name="out_list_button" id="out_list_button" title="推荐入库"  onclick="out_list_button();">选择入库</button>
            </div>
        </div>
    </div>
</div>

<div id="framecontent" style="width:49%;float:left;margin-left:15px;">
    <div class ="framepost" style="height:400px;">
        <h3 class="title">已入库用户信息</h3>
        <div  class="entry"  >
          <div id="in_list" style="width:100%;margin-top:0px;overflow-y:auto;height:300px;"></div>
            <div style="margin-top:5px;float:right;">
              <span>群体名称：</span><input type="text" name="so_group_name" style="text-align:right;width:60px;"placeholder="（必填）" >
              <span>备注：</span><input type="text" name="so_states"  style="text-align:right;width:50px;" placeholder="（可选）" >
                <button class="portrait_button" style="width:80px;height:40px;margin-left: 10px;" name="in_list_button" id="in_list_button" title="群体分析"  onclick="in_list_button();">群体分析</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="field_more" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="position: absolute;margin-top: 100px;margin-left: 100px;float :none;width: 400px;">
      <div class="modal-header" style="float:inherit;margin:initial;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">领域</h4>
      </div>
      <div class="modal-body" style="float:none;" id="field0">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="topic_more0" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="position: absolute;margin-top: 100px;margin-left: 100px;float :none;width: 400px;">
      <div class="modal-header" style="float:inherit;margin:initial;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">话题</h4>
      </div>
      <div class="modal-body" style="float:none;" id="topic0">
      </div>

    </div>
  </div>
</div>


 
<script type="text/javascript">
      var select_graph = $('input[name="graph-type"]:checked').val();
      var select_num=document.getElementById('num-range').value;
      var UserID = uid;
      var UserName = document.getElementById('nickname').innerHTML;
</script>
<script src="/static/js/portrait/attention.js"></script>
