{% extends "publicNav.html" %}
{% block title %}<title>社交反馈</title>{% endblock %}
{% block my_css %}
<link rel="stylesheet" href="/static/css/social_feedback.css">
<style>
    #container .type_page #myTabs a {
        color: white;
    }
    .btn-group.open .dropdown-toggle {
        box-shadow: none!important;
    }
    .friends button b{
        position: relative;
        top: 2px;
        font-weight: normal;
        font-size: 12px;
        display: inline-block;
        width: 40px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
{% endblock %}
{% block main %}
<div id="container">
    <div class="title">
        <div style="display: inline-block;">
            <span class="icon icon-comment note_icon" style="color: #fff;"></span>
            <b style="font-size: 20px;color: #fff;">社交反馈</b>
        </div>
    </div>
    <div class="type_page" style="margin: 20px 0 30px;">
        <ul id="myTabs" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#comment" role="tab" data-toggle="tab"><b class="icon icon-tags"></b>&nbsp;评论回复</a>
            </li>
            <li role="presentation">
                <a href="#forwarding" role="tab" data-toggle="tab"><b class="icon icon-fire"></b>&nbsp;转发回复</a>
            </li>
            <li role="presentation">
                <a href="#private_letter" role="tab" data-toggle="tab"><b class="icon icon-file-alt"></b>&nbsp;私信回复</a>
            </li>
            <li role="presentation">
                <a href="#reply" role="tab" data-toggle="tab"><b class="icon icon-file-alt"></b>&nbsp;@回复</a>
            </li>
            <li role="presentation">
                <a href="#focusReply" role="tab" data-toggle="tab"><b class="icon icon-file-alt"></b>&nbsp;关注回复</a>
            </li>
        </ul>
        <div class="desc_index">
            <span>排序指标：</span>
            <label class="radio-inline">
                <input type="radio" name="desc" value="time" checked> 按时间
            </label>
            <label class="radio-inline">
                <input type="radio" name="desc" value="content"> 按内容敏感度
            </label>
            <label class="radio-inline">
                <input type="radio" name="desc" value="sensitive"> 按人物敏感度
            </label>
        </div>
        <div class="tab-content" id="content">
            <div role="tabpanel" class="tab-pane active" id="comment">
                <div class="commentAll">
                    <div class="commentEvery">
                        <img src="/static/images/unknown.png" alt="" class="com-head">
                        <div class="com com-1">
                            <b class="com-1-name">魅蓝手机</b>
                            <div class="com-level">
                                <span style="display: inline-block;">敏感度：</span>
                                <div class="com-img" style="display: inline-block;">
                                    <img src="/static/images/level.png" alt="">
                                    <img src="/static/images/level.png" alt="">
                                    <img src="/static/images/level.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="com com-2">
                            <b class="com-2-name" style="color: #fa7d3c;cursor: pointer;">演员的修养</b>的评论：
                            <span class="com-2-tent">嘿嘿</span>
                        </div>
                        <div class="com com-3">
                            <span class="com-3-time">2017-11-11 11:11</span>
                            <span>来自<span class="com-3-source">微博用户 weibo.com</span></span>
                            <a class="com-3-reply">回复</a>
                        </div>
                    </div>
                </div>
                <div class="commentClone">
                    <input type="text" class="clone-1" placeholder="回复评论">
                    <div class="clone-2">
                        <img src="/static/images/post-1.png" class="clone-2-1">
                        <img src="/static/images/post-2.png" class="clone-2-2">
                        <label class="checkbox-inline">
                            <input type="checkbox" id="clone-2-3" value="option1"> 同时转发到我的微博
                        </label>
                        <a href="###" class="clone-2-4">评论</a>
                    </div>
                </div>

            </div>

            <div role="tabpanel" class="tab-pane" id="forwarding">

            </div>

            <div role="tabpanel" class="tab-pane" id="private_letter">

            </div>
            <div role="tabpanel" class="tab-pane" id="reply">

            </div>
            <div role="tabpanel" class="tab-pane" id="focusReply">

            </div>
        </div>

    </div>
</div>
<!--模态框-->
<div class="modal fade" id="myModal-has" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">添加提示</h4>
            </div>
            <div class="modal-body">
                <p style="text-align: center;font-size: 18px;color: #5e5e5e;font-weight: 900;">
                    创建新的虚拟人还是继续已有的虚拟人？
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary first_created" data-dismiss="modal">首次创建</button>
                <button type="button" class="btn btn-primary continue_already_created" data-dismiss="modal">继续已有创建</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal-undone" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">添加提示</h4>
            </div>
            <div class="modal-body">
                <p style="text-align: center;font-size: 18px;color: #5e5e5e;font-weight: 900;">
                    创建新的虚拟人？
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary first_created" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>


<!--相似微博-->
<div class="modal fade" id="simliar" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">相似微博</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>

<!--推荐内容-->
<div class="modal fade" id="content_recommend" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">内容推荐</h4>
            </div>
            <div class="modal-body">
                <div class="recommend-body" style="margin-left: 30px;">
                    <span>按主题：</span>
                    <select id="recommend-1">
                        <option value="生活类">生活类</option>
                        <option value="体育类">体育类</option>
                        <option value="外交类">外交类</option>
                        <option value="暴恐类">暴恐类</option>
                        <option value="反腐类">反腐类</option>
                    </select>
                    <div style="float: right;margin-right: 18px">
                        <input type="text" id="search-1-recommend" placeholder="输入关键词快速搜索相关微博"/>
                        <button type="button" class="btn btn-primary btn-xs" id="search-recommend"
                                style="padding:3px 5px;margin: -3px 0 0 0;">搜索</button>
                    </div>

                    <div class="post_perfect" style="margin: 20px 0 0 30px;">
                        <div id="post_center-recommend">
                            <img src="/static/images/post-6.png" alt="" class="center_icon">
                            <div class="center_rel">
                                <a class="center_1" href="###">何仙姑</a>：
                                <span class="center_2">
                            【郑州现《人民的名义》现实版窗口：站也不是 蹲也不是】据网友@张琬晖 爆料，郑州市社保局办事窗口不高不低，站也不是，蹲也不是，和《人民的名义》演的一样一样的！@映象网 调查发现，2014年就有媒体关注过这个问题，但一直未整改。达康书记@吴刚de微博 你快来看看吧！
                        </span>
                                <div class="center_3" style="margin: 10px 0;">
                                    <input type="checkbox" class="timing_recommend" style="position: relative;top: 2px;margin-right: 3px;">定时
                                    <input type="text" value="" id="_timing_recommend" placeholder="选择时间" style="line-height:13px;font-size: 10px;
                    padding:3px 4px;border: 1px solid silver;">
                                    <button type="button" class="btn btn-info btn-xs" id="sure_not_timing">发布</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block my_js %}
<script src="/static/js/social_feedback-1.js"></script>
<script>
    $('.friends .dropdown-menu li').on('click',function(e) {
        $('.friends button b').attr('title',e.target.innerHTML).text(e.target.innerHTML);
    });
    $('#_timing').datetimepicker('setStartDate',new Date());
    $("#_timing").datetimepicker({
        format: "yyyy-mm-dd hh:ii",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left",
    });
    $('#_timing_recommend').datetimepicker('setStartDate',new Date());
    $("#_timing_recommend").datetimepicker({
        format: "yyyy-mm-dd hh:ii",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left",
    });
    $('#backHome').after(
        '<li class="main_li">'+
        '    <i class="icon icon-cogs"></i>'+
        '    <a class="li_a" href="/control/operationControl/">操作控制</a>'+
        '</li>'+
        '<li class="main_li">'+
        '    <i class="icon icon-pencil"></i>'+
        '    <a class="li_a" href="/registered/posting/">发帖操作</a>'+
        '</li>'+
        '<li class="main_li">'+
        '    <i class="icon icon-random"></i>'+
        '    <a class="li_a" href="###">社交反馈</a>'+
        '</li>'+
        '<li class="main_li">'+
        '    <i class="icon icon-headphones"></i>'+
        '    <a class="li_a" href="###">主动社交</a>'+
        '</li>'
    );

    $('.continue_already_created').on('click',function () {
        window.open('/registered/socialAccounts/');
    });
    $('.first_created').on('click',function () {
//        window.open('.html');
    });

</script>
{% endblock %}