{% extends "publicNav.html" %}
{% block title %}<title>绑定社交账户（创建中）</title>{% endblock %}
{% block my_css %}
    <link rel="stylesheet" href="/static/css/social_accounts.css">
    <style>
        .demo-label{display:inline-block;margin:0 12px 0 16px;cursor:pointer;width: 95px;color: white;}
        .demo-radio{display:none}
        .demo-radioInput{cursor:pointer;background-color:#eee;border-radius:100%;display:inline-block;height:16px;vertical-align:middle;width:16px!important;line-height:1;margin-top:-3px;}
        .demo-radio:checked + .demo-radioInput:after{background-color:#57ad68;border-radius:100%;content:"";display:inline-block;height:12px;margin:2px;width:12px}
        .demo-checkbox.demo-radioInput,.demo-radio:checked + .demo-checkbox.demo-radioInput:after{border-radius:0}
    </style>
{% endblock %}
{% block main %}
<div id="container">
    <div class="title">
        <div class="tit-1">
            <span class="icon icon-twitter account_icon"></span>
            <b style="font-size: 16px;">第三步：绑定社交账户</b>
        </div>
    </div>
    <div class="info_sure">
        <div class="info_left">
            <p style="font-size: 16px;font-weight:900;margin-bottom: 10px;color: white;">账户信息</p>
            <div class="info_list">
                <div class="list-1">
                    <img src="/static/images/icon.png" alt="">
                    <span style="font-size: 18px;font-weight: 900;color: #fff;">基本信息</span>
                </div>
                <div class="list-2">
                    <p class="news">用户ID：<span id="user_id"></span></p>
                    <p class="news">昵称：<span id="uname"></span></p>
                    <p class="news">年龄：<span id="age"></span></p>
                    <p class="news">性别：<span id="sex"></span></p>
                    <p class="news">职业：<span id="career"></span></p>
                    <p class="news">所在地：<span id="location"></span></p>
                </div>
                <div class="list-3">
                    <img src="/static/images/icon.png" alt="">
                    <span style="font-size: 18px;font-weight: 900;color: #fff;">角色定位</span>
                </div>
                <div class="list-4">
                    <p class="news">渗透领域：<span id="field"></span></p>
                    <p class="news">角色身份：<span id="character"></span></p>
                    <p class="news">心理特征：<span id="mental"></span></p>
                    <p class="news">政治倾向：<span id="political"></span></p>
                    <p class="news">业务目标：<span id="business"></span></p>
                </div>
            </div>
        </div>
        <div class="info_right">
            <div class="bind_info">
                <input type="text" id="username" placeholder="Username"/>
                <input type="password" id="password" placeholder="Password"/>
                <span id="go_bind">去绑定</span>
            </div>
        </div>
    </div>
</div>
<!--模态框-->
<div class="modal fade" id="_bind_per" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">温馨提示</h4>
            </div>
            <div class="modal-body">
                <p style="text-align: center;font-size: 18px;color: #5e5e5e;font-weight: 900;" id="information">

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary backTWO" style="display: none;">返回修改信息</button>
                <button type="button" class="btn btn-primary notBind" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary sureBind" data-dismiss="modal" data-toggle="modal"
                        data-target="#success_fail" onclick="userLIST()">确定</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="success_fail" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">绑定提示</h4>
            </div>
            <div class="modal-body">
                <p style="text-align: center;font-size: 18px;color: #5e5e5e;font-weight: 900;" id="fs"></p>
                <div class="user">
                    <a href="###">你可能会关注的人（请勾选）：</a>
                    <div class="personlist" style="margin: 10px 0;">

                        <!--对应的方法
                        let people=[];
                        $("[name=someone]:checkbox:checked").each(function (index,item) {-->
                        <!--people.push($(this).val());-->
                        <!--});-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="letGo" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">关注人物提示</h4>
            </div>
            <div class="modal-body">
                <p style="text-align: center;font-size: 18px;color: #fff;font-weight: 900;" id="good"></p>
            </div>
            <div class="modal-footer lastGO" style="display: none;">
                <button type="button" id="release" class="btn btn-primary" data-dismiss="modal">去发帖</button>
                <button type="button" id="back" class="btn btn-primary" data-dismiss="modal">返回管理界面</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block my_js %}
<script>
    judgment('6');
    var basicData_1=JSON.parse(localStorage.getItem('firstStep'));
    var basicData_2=JSON.parse(localStorage.getItem('secondStep'));
    $("#user_id").attr('title',basicData_2.task_id).text(basicData_2.task_id);
    $("#uname").attr('title',basicData_2.nickName).text(basicData_2.nickName);
    $("#age").attr('title',basicData_2.age).text(basicData_2.age);
    $("#sex").attr('title',basicData_2.sex).text(basicData_2.sex);
    $("#career").attr('title',basicData_2.career).text(basicData_2.career);
    $("#location").attr('title',basicData_2.location).text(basicData_2.location);
    $("#field").attr('title',basicData_1.domainName).text(basicData_1.domainName);
    $("#character").attr('title',basicData_1.roleName).text(basicData_1.roleName);
    $("#mental").attr('title',basicData_1.psyFeature).text(basicData_1.psyFeature);
    $("#political").attr('title',basicData_1.politicalSide).text(basicData_1.politicalSide);
    $("#business").attr('title',basicData_1.businessGoal).text(basicData_1.businessGoal);
</script>
<script src="/static/js/social_accounts-1.js"></script>
{% endblock %}