{% extends "publicNav.html" %}
{% block title %}<title>上报管理</title>{% endblock %}
{% block my_css %}
<link rel="stylesheet" href="/static/css/report_manage.css">
<style>
    .fixed-table-toolbar .search {width: 100%;}
    /*.bootstrap-table .table>thead>tr>th {width: 4%;}*/
    /*.bootstrap-table .table>thead>tr>th:last-child {width:14%!important;}*/
    /*.bootstrap-table .table>thead>tr>th:first-child {width:1%!important;}*/
    .table>tbody>tr>td {vertical-align: middle!important;}
    .fixed-table-container tbody .selected td {background-color: #2a556f!important;}
    #container .type_page #myTabs a {
        color: white;
    }
    .type .demo-label {width:70px;}
    .demo-label{display:inline-block;cursor:pointer;}
    .demo-radio{display:none}
    .demo-radioInput{cursor:pointer;background-color:#eee;border-radius:100%;display:inline-block;height:16px;vertical-align:middle;width:16px;line-height:1;margin-top:-3px;}
    .demo-radio:checked + .demo-radioInput:after{background-color:#57ad68;border-radius:100%;content:"";display:inline-block;height:12px;margin:2px;width:12px}
    .demo-checkbox.demo-radioInput,.demo-radio:checked + .demo-checkbox.demo-radioInput:after{border-radius:0}

    /**/
    .bootstrap-table {
        margin: 0 auto;
        height: auto!important;
    }
    .table-no-bordered,.table>tbody>tr>td,.fixed-table-container,
    .bootstrap-table .table>thead>tr>th,.bootstrap-table .table,.table>tbody>tr>td{
        border: none;
    }
    .fixed-table-pagination .page-list {
        display: none!important;
    }
    .fixed-table-body {
        height: auto!important;
        overflow-y: hidden;
    }
    .bootstrap-table .table:not(.table-condensed),.bootstrap-table .table:not(.table-condensed)>tbody>tr>td,
    .table>tbody>tr>td{
        padding: 0!important;
    }
    .fixed-table-container {top: 15px;}
    .table-hover>tbody>tr:hover {
        background-color: inherit!important;
    }
    .fixed-table-toolbar .search {width: 100%;}
    .form-control {
        text-align: center;
        font-size: 14px;
        color: white;
        border: 1px solid silver;
        border-radius: 5px;
        padding: 4px 7px;
        background: rgba(8,23,44,0.35);
    }
    .table:not(.table-condensed)>tbody>tr>td {
        text-align: left!important;
    }
    .fixed-table-container thead th .both {
        background-image:none!important;
    }
</style>
{% endblock %}
{% block main %}
<div id="container">
    <div class="title">
        <div style="display: inline-block;">
            <span class="icon icon-upload-alt note_icon" style="color: #fff;"></span>
            <b style="font-size: 20px;color: #fff;">上报管理</b>
        </div>
        <a class="output" id="output1">导出至Excel文件</a>
        <a class="output" id="output2" style="margin-left: 20px;">导出至Word文件</a>
    </div>
    <!--<div class="type" style="margin: 20px 0;">-->
        <!--<span class="type-1">类型：</span>-->
        <!--<label class="demo-label">-->
            <!--<input class="demo-radio" type="radio" name="demo1" checked>-->
            <!--<span class="demo-checkbox demo-radioInput"></span> 微博-->
        <!--</label>-->
        <!--<label class="demo-label">-->
            <!--<input class="demo-radio" type="radio" name="demo1">-->
            <!--<span class="demo-checkbox demo-radioInput"></span> QQ群-->
        <!--</label>-->
    <!--</div>-->
    <div class="type type2" style="margin: 20px 0;">
        <span class="type-1">上报类型：</span>
        <label class="demo-label" value="人物">
            <input class="demo-radio" type="radio" name="demo2">
            <span class="demo-checkbox demo-radioInput"></span> 人物
        </label>
        <label class="demo-label" value="言论">
            <input class="demo-radio" type="radio" name="demo2">
            <span class="demo-checkbox demo-radioInput"></span> 言论
        </label>
        <label class="demo-label" value="事件">
            <input class="demo-radio" type="radio" name="demo2">
            <span class="demo-checkbox demo-radioInput"></span> 事件
        </label>
    </div>
    <div class="person">
        <table id="person"></table>
    </div>
</div>
<!--提示信息-->
<div class="modal fade" id="pormpt" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">温馨提示</h4>
            </div>
            <div class="modal-body">
                <p style="text-align: center;font-size: 18px;color: #fff;font-weight: 900;">

                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block my_js %}
<script>
    judgment('7');
</script>
<script src="/static/js/Blob.js"></script>
<script src="/static/js/FileSaver.js"></script>
<script src="/static/js/tableExport.js"></script>
<script src="/static/js/report_manage-1.js"></script>
{% endblock %}