{% extends "publicNav.html" %}
{% block title %}<title>上报管理</title>{% endblock %}
{% block my_css %}
<link rel="stylesheet" href="/static/css/report_manage.css">
<style>
    .fixed-table-toolbar .search {width: 100%;}
    .bootstrap-table .table>thead>tr>th {width: 4%;}
    .bootstrap-table .table>thead>tr>th:last-child {width:14%!important;}
    .bootstrap-table .table>thead>tr>th:first-child {width:1%!important;}
    .table>tbody>tr>td {vertical-align: middle!important;}
    .fixed-table-container tbody .selected td {background-color: #2a556f!important;}
    #container .type_page #myTabs a {
        color: white;
    }
    .type2 .demo-label{width: 90px;}
    .demo-label{display:inline-block;margin-left: 10px;cursor:pointer;}
    .demo-radio{display:none}
    .demo-radioInput{cursor:pointer;background-color:#eee;border-radius:100%;display:inline-block;height:16px;vertical-align:middle;width:16px;line-height:1;margin-top:-3px;}
    .demo-radio:checked + .demo-radioInput:after{background-color:#57ad68;border-radius:100%;content:"";display:inline-block;height:12px;margin:2px;width:12px}
    .demo-checkbox.demo-radioInput,.demo-radio:checked + .demo-checkbox.demo-radioInput:after{border-radius:0}
</style>
{% endblock %}
{% block main %}
<div id="container">
    <div class="title">
        <div style="display: inline-block;">
            <span class="icon icon-upload-alt note_icon" style="color: #fff;"></span>
            <b style="font-size: 20px;color: #fff;">上报管理</b>
        </div>
        <a class="output" id="output">导出至Excel文件</a>
    </div>
    <div class="type" style="margin: 20px 0;">
        <span class="type-1">类型：</span>
        <label class="demo-label">
            <input class="demo-radio" type="radio" name="demo1" checked>
            <span class="demo-checkbox demo-radioInput"></span> 微博虚拟人
        </label>
        <label class="demo-label">
            <input class="demo-radio" type="radio" name="demo1">
            <span class="demo-checkbox demo-radioInput"></span> QQ群虚拟人
        </label>
    </div>
    <div class="type type2">
        <span class="type-1">上报类型：</span>
        <label class="demo-label" value="人物">
            <input class="demo-radio" type="radio" name="demo2">
            <span class="demo-checkbox demo-radioInput"></span> 人物
        </label>
        <label class="demo-label" value="言论">
            <input class="demo-radio" type="radio" name="demo2">
            <span class="demo-checkbox demo-radioInput"></span> 言论
        </label>
        <label class="demo-label" value="事件">
            <input class="demo-radio" type="radio" name="demo2">
            <span class="demo-checkbox demo-radioInput"></span> 事件
        </label>
    </div>
    <div class="person">
        <div id="person"></div>
    </div>
    <div class="speaking">
        <div id="speaking"></div>
    </div>
    <div class="event">
        <div id="event"></div>
    </div>
</div>
<!--提示信息-->
<div class="modal fade" id="pormpt" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">温馨提示</h4>
            </div>
            <div class="modal-body">
                <p style="text-align: center;font-size: 18px;color: #fff;font-weight: 900;">

                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block my_js %}
<script>
    judgment('7');
</script>
<script src="/static/js/report_manage-1.js"></script>
{% endblock %}